<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>la-foka-front-v2</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but la-foka-front-v2 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="foka-loader" style="height: 800px; display: flex; align-items: center; justify-content: center;">
      <img src="/src/assets/images/logo-inicio.png">
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
