<template>
  <el-row class="create-post">
	  <div class="content">
			<div class="image">
				<div class="image-post" :style="{'background':'url(' + imageUrl + ') no-repeat center center'}" v-if="imageUrl">
				</div>
				<div class="image-post" style="background: white" v-else>
				</div>
			</div>
      <div :class="{'div-image-mobile': true, 'with-image': imageUrl != null}">
        <img :src="imageUrl" v-if="imageUrl">
      </div>
			<div class="options">
				<el-input class="decription" placeholder="Escribe tu descripción" v-model="description"></el-input>
				<el-upload
					action="https://jsonplaceholder.typicode.com/posts/"
					list-type="picture-card"
					accept="image/*"
					:on-change="changeListImage"
					:on-remove="changeListImage"
					:on-success="uploadImage"
					:on-error="notUploadImage"
					class="list-image">
					<i class="el-icon-plus"></i>
				</el-upload>
				<div class="container-hashtag">
					<div class="hashtag">Hashtag1</div>
					<div class="hashtag">Hashtag2</div>
					<div class="hashtag">Hashtag3</div>
				</div>
				<div class="container-hashtag">
					<div class="hashtag">Hashtag4</div>
					<div class="hashtag">Hashtag5</div>
					<div class="hashtag"><i class="fal fa-plus"></i></div>
				</div>
				<div class="extra">
					<div class="block">
						<div><img src="../assets/images/friends.png"></div><span>Amigos</span>
					</div>
					<div class="block"><div><img src="../assets/images/ubication.png"></div><span>Ubicación</span></div>
					<div class="block"><div><img src="../assets/images/share.png"></div><span><img src="../assets/images/f.png"></span></div>
				</div>
				<div class="container-publish">
					<div :class="{'publish-button': true, 'disabled': image == null || description == ''}" @click="publish">
						<div class="green-square">
							<img src="../assets/images/logo-foka-boton-login.png">
						</div>
						<div class="text">Publicar</div>
						<i class="fas fa-chevron-right"></i>
					</div>
				</div>
			</div>
	</div>
  </el-row>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { Carousel, Slide } from 'vue-carousel';
import axios from 'axios'
import {CONSTANTS} from '../utils/Constants.js'
export default {
	name: 'create-post',
	data: ()=>{
		return {
			listImage: [],
			imageUrl: null,
			image: null,
			description: ''
		}
	},
  	components: {
		Carousel
	},
	mounted (){
		this.$store.commit('setOptionRight', null)
	},
	methods: {
		changeListImage: function(file, fileList){
			this.listImage = fileList
		},
		changeListImage: function(file, fileList){
			this.listImage = fileList
		},
		uploadImage: function(response, file, fileList){
			this.imageUrl = file.url
			this.image = file.raw
		},
		notUploadImage: function(err, file, fileList){
			this.$notify({
				title: 'ERROR',
				type: 'error',
				text: 'La imagen ' + file.name + ' no ha podido cargarse. (Max: 115KB)',
				duration: 6000
			});
		},
		publish: function(){
			if(this.image != null && this.description != ''){
				var formData = new FormData()
      	formData.append('image', this.image)
				formData.append('description', this.description)
				axios.post(CONSTANTS.API.PUBLISH, formData)
				.then((response) => {
					var alias = response.data.post
					this.$router.push({ name: 'post', params: {alias: alias}});
				})
			}
		}
	}
}
</script>

<style lang="scss">
	.create-post{
		height: 100%;
		min-height: 820px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: url('../assets/images/background-memes.png') repeat center center;
        // min-height: 1000px;
		.content{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  margin-top: 80px;
		  width: 800px;
		  .image{
        width: 400px;
				height: 490px;
				border-radius: 18px 0 0 18px;
				position: relative;
				z-index: 1;
				.image-post{
					border-radius: 20px 0 0 20px;
					background-size: contain !important;
					width: 400px;
					height: 497px;
				}
		  }
      .div-image-mobile{
        display: none;
      }
			.options{
				height: 530px;
				position: relative;
				z-index: 2;
				margin-left: -18px;
				width: 400px;
				background: url('../assets/images/create-post-options.png');
				background-position: center;
				background-repeat: no-repeat;
				padding: 60px 45px 60px 35px;
				.el-input{
					border-left: 1px solid #dcdfe6;
					input{
						border: none !important;
					caret-color: #dcdfe6;
						color: #dcdfe6;
					}
				}
				.list-image{
					margin-top: 15px;
					text-align: left;
					.el-upload--picture-card{
						width: 60px;
						height: 60px;
						line-height: 65px;
						background: white;
						border: none;
						-webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
						-moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
						box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
						i{
							font-size: 23px;
						}	
					}
					.el-upload-list--picture-card .el-upload-list__item{
						width: 60px;
						height: 60px;
						line-height: 65px;
						border: none;
						-webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
						-moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
						box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);	
					}
					.el-upload-list__item.is-success .el-upload-list__item-status-label{
						display: none;
					}
				}
				.container-hashtag{
					display: flex;
					margin-top: 10px;
					.hashtag{
						background: url('../assets/images/background-hashtag.png');
						background-position: center;
						background-repeat: no-repeat;
						height: 55px;
					width: 101px;
						padding: 14px 0;
						margin: 0 3px;
						color: #0dbbc2;
						font-weight: 700;
						font-size: 14px;
					}
				}
				.extra{
					margin-top: 20px;
					text-align: left;
					.block{
						padding-left: 10px;
						display: flex;
						margin-bottom: 15px;
						div{
							width: 30px;
							img{
								height: 20px;
							}
						}
						span{
							padding-left: 30px;
						}
					}
				}
				.container-publish{
					display: flex;
					justify-content: center;
					.publish-button{
						cursor: pointer;
						display: flex;
						background: #f4f4f4;
					border-radius: 23px;
						width: 200px;
						padding-right: 15px;
						align-items: center;
						color: #BFBFBF;
						&.disabled{
							cursor: not-allowed;
						}
						i{
							color: #48e8ef;
						}
						.text{
							flex: 1;
						}
						.green-square{
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
							background: #48e8ef; /* Old browsers */
							background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
							width: 60px;
							height: 45px;
							box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
							-webkit-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
							-moz-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
							border-radius: 25px;
							padding: 10px;
						}
					}
				}
				
			}
		}
	}
  @media only screen and (max-width: 992px){
    .create-post{
      flex-direction: inherit;
      height: auto;
      padding-bottom: 80px;
      .content{
        margin-top: 120px;
        display: block;
        width: auto;
        .image{
          display: none
        }
        .div-image-mobile{
          width: 600px;
          height: 600px;
          border-radius: 18px;
          background: white;
          display: block;
          &.with-image{
            background: none;
            height: auto;
          }
          img{
            width: 100%;
            border-radius: 18px;
          }
        }
        .options{
          width: 600px;
          box-shadow: 0px 0px 15px rgba(0, 183, 191, 0.25);
          border-radius: 18px;
          background: white;
          margin-left: 0;
          height: auto;
        }
      }
    }
  }
  @media only screen and (max-width: 768px){
    .create-post{
      padding: 0 5px 80px 5px;
      .content{
        width: 100%;
        .div-image-mobile{
          width: 100%;
          height: 400px;
        }
        .options{
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 480px){
    .create-post{
      .content{
        .div-image-mobile{
          height: 300px;
        }
      }
    }
  }
</style>
