<template>
  <div class="dashboard">
    <div v-infinite-scroll="loadMemes" :infinite-scroll-disabled="busy" infinite-scroll-distance="0">
        <div class="container-items">
          <el-row :gutter="20" class="content-items">
              <el-col :xl="4" :lg="4" :md="6" :sm="12" :xs="24" v-for="meme, index in memes" class="block-item">
                  <div class="meme">
                    <div class="content-image">
                        <el-row class="div-text">
                            <p class="text">{{meme.description | truncate(69, '...')}}</p>
                        </el-row>
                        <router-link :to="'/post/' + meme.alias"><el-row class="div-image" :style="{'background-image': 'url(' + meme.image + ')'}">
                        </el-row></router-link>
                    </div>
                    <div class="meme-info">
                        <div class="div-left">
                          <!-- <img src="../assets/images/face.png"> -->
                          <img :src="meme.user.profile.image_profile" class="face-user" v-if="meme.user.profile.image_profile">
                          <i class="fas fa-user-circle default" v-else></i>
                        </div>
                        <div class="div-right">
                            <div class="div-info">
                                <router-link :to="{name:'profile', params: {username: meme.user.username, section: 'posts'}}"><p>{{meme.user.profile.nickname}}</p></router-link>
                                <div class="info">
                                  <img src="../assets/images/heart.png" v-if="meme.vote == 0" @click="setLike(meme.alias, index)">
                                  <img src="../assets/images/heart-gray.png" v-else @click="setLike(meme.alias, index)">&nbsp;
                                  <span :class="{'likes': meme.vote == 0, 'likes-gray': meme.vote != 0}">{{meme.vote_up_count}}</span>&nbsp;
                                  <router-link :to="'/post/' + meme.alias + '/'"><img src="../assets/images/comment.png"></router-link>&nbsp;
                                  <span class="comments">{{meme.comments_count}}</span></div>
                            </div>
                            <div class="div-menu" v-if="usernameLogued">
                                <img src="../assets/images/points.png" slot="reference">
                              <el-cascader
                                :options="meme.options"
                                v-model="actionMeme">
                              </el-cascader>
                            </div>
                            <div class="div-menu" v-else>
                              <img src="../assets/images/points.png" @click="goLogin">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="options">
                      <el-cascader
                        :options="options">
                      </el-cascader>
                    </div> -->
                  </div>
              </el-col>
          </el-row>
        </div>
        <div style="height:50px; display:flex; justify-content:center" :class="{'margin-loading': page == 0}">
          <circle-2 background="#00b7bf" v-if="loading"></circle-2>
        </div>
    </div>
    <el-dialog
      title="REPORTAR"
      :visible.sync="dialogReport"
      width="500px"
      :close-on-press-escape="true"
      class="dialog-report">
      <el-radio v-model="optionReport" :label="index" v-for="option, index in optionsReport">{{option.description}}</el-radio>
      <el-radio v-model="optionReport" label="99">Otro</el-radio>
      <textarea v-model="textReport" rows="3" class="text-report" placeholder="Escribe tu motivo" :disabled="optionReport != 99"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogReport = false" class="cancel-report">Cancelar</el-button>
        <el-button class="send-report" @click="sendReport" :disabled="(textReport.length == 0  && optionReport == 99) || optionReport == null">Enviar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="ELIMINAR"
      :visible.sync="dialogDelete"
      width="300px"
      :close-on-press-escape="true">
      <p>¿Estás seguro que desear eliminar?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDelete = false" class="cancel-report">No</el-button>
        <el-button class="send-report" @click="deleteMeme">Si, estoy seguro</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'
import {CONSTANTS} from '../utils/Constants.js'
import {Circle2} from 'vue-loading-spinner'
import { EventBus } from '../utils/event-bus.js';
import { mapState } from 'vuex'
import _ from 'lodash';
export default {
  name: 'dashboard',
  data: () => {
      return {
        memes: [],
        busy: false,
        page: 0,
        loading: false,
        windowHeight: 0,
        fromDate: null,
        optionsReport: [],
        optionReport: '',
        textReport: '',
        dialogReport: false,
        dialogDelete: false,
        usernameLogued: null,
        actionMeme: null,
        aliasMeme: '',
        firsTime: true,
        fromDate: null
      }
    },
  components: {
    Circle2
  },
  watch: {
    actionMeme: function(value){
      if (value.length == 1){
        value = value[0]
      } else {
        value = value[1]
      }
      var action = value.split('-')[0]
      this.aliasMeme = value.split('-')[1]
      if(action == 'r'){
        this.dialogReport = true
      }
      if(action == 'e'){
        this.dialogDelete = true
      }
      if(action == 'w'){
        this.shareWhatssap();
      }
      if(action == 'f'){
        this.shareFacebook();
      }
      if(action == 't'){
        this.shareTwitter();
      }
    }
  },
  computed: {
    hola: () => {
      return 'asdasda'
    },
    ...mapState([
      'tokenSystem'
    ]),
  },
  created: function(){
    this.$store.commit('setShowOptionsCenter', false)
  },
  mounted: function(){
    this.fromDate = Date.now()
    var content = document.getElementById('content-app')
    if(content){
      document.getElementById('content-app').style.display = 'block';
    }
    var menuCenter = document.getElementById('menu-center')
    if(menuCenter){
      menuCenter.style.opacity = 1;
      menuCenter.style.pointerEvents = 'all';
    }
    // EventBus.$on('right-menu-clicked', optionRight => {
    //   if(optionRight == 2){
    //     window.location.href = '/search'
    //   }
    // });
    this.$store.commit('setShowMenuMobile', true)
    this.$store.commit('setOptionRight', 1)
    if(this.$store.getters.userLogued){
      this.loadUser();
    }
    this.loadOptionsReport();
    this.loadMemesMounted();
  },
  methods: {
    shareWhatssap: function(){
      var url = location.origin + '/post/'
      return window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(url + this.aliasMeme));
    },
    shareTwitter: function(){
      var url = location.origin + '/post/'
      return window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(url + this.aliasMeme));
    },
    shareFacebook: function(){
      var url = location.origin + '/post/' + this.aliasMeme
      return FB.ui({
        method: 'share',
        href: url
      }, function(response) {});
    },
    loadOptionsReport: function(){
      axios.get(CONSTANTS.API.REPORT_POST_REASONS)
      .then((response) => {
        this.optionsReport = response.data.list
      })
    },
    loadUser: function(){
      axios.get(CONSTANTS.API.ME, {
      })
      .then((response) => {
        this.usernameLogued = response.data.user.username
      })
    },
    goLogin: function(){
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
    },
    sendReport: function(){
      this.dialogReport = false
      if(this.optionReport != 99) this.textReport = this.optionsReport[this.optionReport].description
      var form = new FormData()
      form.append('reason', this.textReport)
      axios.post(CONSTANTS.API.REPORT(this.aliasMeme), form)
      .then((response) => {
        this.textReport = ''
        this.optionReport = null
        this.$notify({
          title: 'REPORTAR',
          text: 'Se reportó el post exitosamente.',
          duration: 2000
        });
      })
    },
    deleteMeme: function(){
      this.dialogDelete = false
      _.remove(this.memes, function(m){
        return m.alias == this.aliasMeme
      }.bind(this))
      axios.get(CONSTANTS.API.DELETE_POST(this.aliasMeme))
      .then( (response) => {
        this.$notify({
          title: 'ELIMINAR',
          text: 'Se eliminó el post exitosamente.',
          duration: 2000
        });
      })
    },
    loadMemesMounted: function(){
      this.loading = true
      this.busy = true
      // CARGA DE MEMES
      if(this.page == 0) this.memes = []
      axios.get(CONSTANTS.API.MEMES, {
        params: {
          page: this.page,
          from_time: this.fromDate / 1000
        }
      })
      .then( (response) => {
        this.loading = false
        if(response.data.list.length > 0){
          console.log(response.data.list)
          this.memes = this.memes.concat(response.data.list)
          _.forEach(this.memes, function(m){
            if(m.user.username == this.usernameLogued){
              m['options'] = [{
                value: 'r' + '-' + m.alias,
                label: 'Reportar'
                }, {
                value: 'e' + '-' + m.alias,
                label: 'Eliminar'
                },{
                value: 'compartir',
                label: 'Compartir',
                children: [{
                    value: 'f' + '-' + m.alias,
                    label: 'Facebook'
                  }, {
                    value: 'w' + '-' + m.alias,
                    label: 'Whatssap'
                  }, {
                    value: 't' + '-' + m.alias,
                    label: 'Twitter'
                  }
                ]
              }]
            } else{
              m['options'] = [{
                value: 'r' + '-' + m.alias,
                label: 'Reportar'
                },{
                value: 'compartir',
                label: 'Compartir',
                children: [{
                    value: 'f' + '-' + m.alias,
                    label: 'Facebook'
                  }, {
                    value: 'w' + '-' + m.alias,
                    label: 'Whatssap'
                  }, {
                    value: 't' + '-' + m.alias,
                    label: 'Twitter'
                  }
                ]
              }]
            }
          }.bind(this))
          this.page = this.page + 1
          this.busy = false
        } 
        this.firsTime = false
      })
      return
    },
    loadMemes: function(){
      if(this.firsTime == false){
        this.loading = true
        this.busy = true
        // CARGA DE MEMES
        if(this.page == 0) this.memes = []
        axios.get(CONSTANTS.API.MEMES, {
          params: {
            page: this.page,
            from_time: this.fromDate / 1000
          }
        })
        .then( (response) => {
          this.loading = false
          if(response.data.list.length > 0){
            console.log(response.data.list)
            this.memes = this.memes.concat(response.data.list)
            _.forEach(this.memes, function(m){
              if(m.user.username == this.usernameLogued){
                m['options'] = [{
                  value: 'r' + '-' + m.alias,
                  label: 'Reportar'
                  }, {
                  value: 'e' + '-' + m.alias,
                  label: 'Eliminar'
                  },{
                  value: 'compartir',
                  label: 'Compartir',
                  children: [{
                      value: 'f' + '-' + m.alias,
                      label: 'Facebook'
                    }, {
                      value: 'w' + '-' + m.alias,
                      label: 'Whatssap'
                    }, {
                      value: 't' + '-' + m.alias,
                      label: 'Twitter'
                    }
                  ]
                }]
              } else{
                m['options'] = [{
                  value: 'r' + '-' + m.alias,
                  label: 'Reportar'
                  },{
                  value: 'compartir',
                  label: 'Compartir',
                  children: [{
                      value: 'f' + '-' + m.alias,
                      label: 'Facebook'
                    }, {
                      value: 'w' + '-' + m.alias,
                      label: 'Whatssap'
                    }, {
                      value: 't' + '-' + m.alias,
                      label: 'Twitter'
                    }
                  ]
                }]
              }
            }.bind(this))
            this.page = this.page + 1
            this.busy = false
          } 
        })
        return
      }
    },
    setLike: function(alias, index){
      if(this.$store.getters.userLogued){
        var meme = this.memes[index]
        if(meme.vote == -1){
          meme.vote = 0
          meme.vote_up_count++
        } 
        else{
          meme.vote = -1
          meme.vote_up_count--
        }
        axios.post(CONSTANTS.API.LIKE(alias))
        .then()
        return
      }
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      // location.href = "/login?next='" + this.$route
    }
  }
}
</script>

<style lang="scss">
  .el-cascader-menus{
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17) !important;
    -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17) !important;
    box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17) !important;
    .el-cascader-menu{
      height: auto;
      border-radius: 10px ;
      .is-active{
        color: #606266;
      }
      
    }
  }
  .dashboard{
      padding: 20px 60px 40px 40px;
      background: url('../assets/images/background-memes.png') repeat center center;
      min-height: 100%;
      height: auto;
      .container-items{
        display: flex;
        justify-content: center;
      }
      .block-item{
          margin-bottom: 20px;
      }
      .content-items{
        margin-top: 160px;
        max-width: 1550px;
        width: 100%;
      }
      .meme{
        display: flex;
        flex-direction: column;
        position: relative;
        .content-image{
          padding: 0 5px;
          z-index: 2;
          .div-text{
            padding: 25px;
            background: white;
            border-radius: 30px 30px 0 0;
            height: 85px;
            text-align: initial;
            -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
            -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
            box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
            .text{
              line-height: 16px;
              font-size: 14px;
              letter-spacing: -0.03em;
            }
          }
          .div-image{
            background-size: cover;
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .meme-info{
          z-index: 3;
          margin-top: -10px;
          height: 55px;
          display: flex;
          -webkit-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
          -moz-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
          box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
          background: white;
          border-radius: 15px;
          padding-left: 5px;
          .div-left{
            border-radius: 50%;
            height: 66px;
            margin-top: -5px;
            width: 66px;
            background: white;
            padding: 10px;
            -webkit-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
            -moz-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
            box-shadow: 0px 5px 15px rgba(51, 197, 204, 0.15);
            .face-user{
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
            .default{
              color: #e7e7e7;
              font-size: 46px;
            }
          }
          .div-right{
            width: calc(100% - 53px);
            margin-top: 3px;
            padding: 6px 15px 10px 10px;
            text-align: left;
            display: flex;
            .div-info{
                width: calc(100% - 8px);
                padding-right: 15px;
                a{
                  text-decoration: inherit;
                  color:#00B7BF;
                  opacity: 0.8;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                p{
                    font-size: 18px;
                    letter-spacing: -2px;
                    color: #00B7BF;
                    opacity: 0.8;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 21px;
                    font-weight: bold;
                }   
                .info{
                  font-size: 12px;
                  img{
                    cursor: pointer;
                  }
                  .likes{
                    color: #00B7BF;
                  }
                  .likes-gray{
                    color: #bfbfbf;
                  }
                }   
            }
            .div-menu{
              float: right;
              height: 100%;
              margin-left: -5px;
              padding-top: 7px;
              img{
                float: right;
                margin-left: -5px;
                margin-top: 4px;
                cursor: pointer;
              }
              .el-cascader{
                opacity: 0;
                float: right;
                margin-top: 5px;
                height: 15px;
                width: 10px;
                .el-input{
                  height: 15px;
                  input{
                    width: 10px;
                    padding: 0;
                    height: 0;
                  }
                  .el-input__suffix{
                    display: none;
                  }
                }
                .el-cascader__label{
                  padding: 0;
                }
              }
            }  
          }
        }
        .options{
          position: absolute;
          height: 70px;
          width: 140px;
          right: 19px;
          bottom: -45px;
          z-index: 3;
          border-radius: 5px;
          -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
          -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
          box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
        }
      }
      .margin-loading{
        position: absolute;
        top: 50%;
        left: calc(50% - 27px);
      }
      .el-dialog{
        border-radius: 10px;
        .el-dialog__title{
          color: gray;
          font-weight: 600;
        }
        .el-dialog__body{
          color: gray;
          padding: 10px 20px 30px 20px;
          .el-radio{
            text-align: left;
            display: flex;
            margin-bottom: 10px;
            white-space: normal;
            line-height: 16px;
            &+.el-radio{
              margin-left: 0;
            } 
            .el-radio__input{
              width: 15px;
            }
            .el-radio__label{
              width: calc(100% - 15px);
            }
            .el-radio__input.is-checked .el-radio__inner{
              border-color: #4dcdd2;
              background: #4dcdd2;
            }
            .el-radio__input.is-checked+.el-radio__label{
              color: #4dcdd2;
            }
          }
        }
        .el-dialog__header{
          text-align: left;
        }
        .text-report{
          width: 100%;
          border-radius: 5px;
          border-color: #d1d1d1;
          padding: 2px 5px;
          font-size: 15px;
        }
        .cancel-report{
          font-weight: 700;
          color: #9f9f9f;
          border: 1px solid #d7d7d7;
          font-size: 16px;
          &:hover{
            background: white;
          }
        }
        .send-report{
          background: #4dcdd2;
          color: white;
          border: none;
          font-size: 16px;
          font-weight: 700;
        }
      }
  }
  @media only screen and (max-width : 992px) {
    .dashboard{
      padding: 20px 0 55px 0;
      .content-items{
        margin-top: 110px;
      }
    }
  }
  @media only screen and (max-width : 600px) {
    .dashboard{
      .dialog-report{
        .el-dialog{
          width: 320px !important;
        }
      }
    }
  }
</style>
