<template>
<transition name="fade" mode="out-in">
  <div class="edit-profile">
    <div class="container">
      <el-row  class="background-profile">
      </el-row>
      <el-row class="menu">
        <div class="left">
          <div class="div-left">
            <img :src="imageUrl" class="face-user" v-if="imageUrl">
            <i class="fas fa-user-circle default" v-else></i>
            <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            accept="image/*"
            :on-success="uploadImage"
            class="list-image">
              <img src="../assets/images/mobile/edit-image.png" class="icon-check" v-if ="mode == 1">
            </el-upload>
          </div>
          <div class="div-right">
            <div class="nickname">
              <el-input v-model="user.nickname" :disabled="editingNickame"  type="text" @input.native="$v.user.nickname.$touch()" ref="nickname"></el-input>
              <img src="../assets/images/mobile/edit-2x.png" class="icon-check" @click="editNickame" v-if ="mode == 1">
            </div>
            <div class="div-username">
              <span>@</span>
              <el-input v-model="user.username"  :disabled="editingUsername" type="text" @input.native="$v.user.username.$touch()" ref="username"></el-input>
              <img src="../assets/images/mobile/edit-gray.png" class="icon-check" @click="editUsername" v-if ="mode == 1">
              </div>
          </div>
        </div>
      </el-row>
      <div v-if="mode == 1" class="mode">
        <div class="description">
          <div>
            <el-input type="textarea" class="text" v-model="user.description" autosize placeholder="Introducción" :disabled="editingDescription" ref="description"></el-input>
          </div>
          <img src="../assets/images/mobile/edit-gray.png" class="icon-check" @click="editDescription">
        </div>
        <el-row class="editEmail">
          <img src="../assets/images/mobile/edit-email-2x.png" class="icon-message">
          <el-input v-model="user.email" :disabled="editingEmail" @input.native="$v.user.email.$touch()" ref="email"></el-input>
          <img src="../assets/images/mobile/edit-2x.png" class="icon-check" @click="editEmail">
        </el-row>
        <el-row class="editPassword">
          <img src="../assets/images/mobile/security-2x.png" class="icon-message">
          <el-input v-model="user.password" :disabled="true"></el-input>
          <img src="../assets/images/mobile/edit-gray.png" class="icon-check" @click="mode = 2">
        </el-row>
        <div v-if="$v.user.$invalid">
          <div class="error" v-if="$v.user.nickname.$error">*Debes ingresar tu nombre de usuario</div>
          <div class="error" v-if="$v.user.username.$error">*Debes ingresar tu nickname </div>
          <div class="error" v-if="$v.user.email.$error">*Debes ingresar un correo válido</div>
        </div>
        <div class="error" v-if="error">*{{error}}</div>
        <div class="container-button">
          <div @click="save" class="save-button">
            <div class="green-square">
              <img src="../assets/images/logo-foka-boton-login.png">
            </div>
            <div class="div-text">
              <div class="text">Guardar</div>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div v-if="mode == 2" class="block-password">
        <div class="form">
          <div class="form-item">
            <p>Ingresa contraseña actual</p>
            <el-input @input.native="$v.password.actual.$touch()" placeholder="" v-model="password.actual"></el-input>
            <div class="error" v-if="$v.password.actual.$error">*Debes ingresar tu contraseña actual</div>
          </div>
          <div class="form-item">
            <p>Ingresa contraseña nueva</p>
            <el-input @input.native="$v.password.new.$touch()" type="password" placeholder="" v-model="password.new"></el-input>
            <div class="error" v-if="$v.password.new.$error">*Debes ingresar una contraseña nueva (min: 5 caract)</div>
          </div>
          <div class="form-item">
            <p>Repite contraseña nueva</p>
            <el-input @input.native="$v.password.repeat.$touch()" type="password" placeholder="" v-model="password.repeat"></el-input>
            <div class="error" v-if="$v.password.repeat.$error">*Debes volver a ingresar la contraseña nueva</div>
          </div>
          <div class="error password" v-if="validPassword">*Las contraseñas no coinciden</div>
          <div clasS="back" @click="mode = 1">
            Volver
          </div>
          <div class="block-change-password">
            <div @click="changePassword" class="change-password">
              <div class="green-square">
                <img src="../assets/images/logo-foka-boton-login.png">
              </div>
              <div class="div-text">
                <div class="text">Guardar</div>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</transition>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from "axios";
import { email, required, minLength } from 'vuelidate/lib/validators'
import { CONSTANTS } from "../utils/Constants.js";
import { Circle2 } from "vue-loading-spinner";
export default {
  name: "edit-profile",
  data: () => {
    return {
      loading: false,
      postsCount: 0,
      editingNickame: true,
      followersCount: 0,
      user: {
        nickname: "",
        username: "",
        email: "",
        description: "",
        password: "Cambiar Contraseña"
      },
      password:{
        actual: "",
        new: "",
        repeat: ""
      },
      editingUsername: true,
      editingEmail: true,
      editingDescription: true,
      image: null,
      imageUrl: null,
      error: null,
      mode: 1
    };
  },
  validations: {
    user:{
      email: {
        email,
        required
      },
      username: {
        required
      },
      nickname: {
        required
      },
    },
    password: {
      actual: {
        required
      },
      new: {
        required,
        minLength: minLength(5)
      },
      repeat: {
        required
      }
    },
    validationGroup: ['user', 'password']
  },
  watch: {},
  components: {
    Circle2
  },
  computed: {
    validPassword: function(){
      if(this.password.new && this.password.repeat){
        return this.password.new != this.password.repeat
      }
      return false
    }
  },
  created: function() {
    this.$store.commit("setShowOptionsCenter", false);
  },
  mounted: function() {
    // document.getElementById('menu-center').style.opacity = 0;
    // document.getElementById('menu-center').style.pointerEvents = 'none';
    this.$store.commit("setOptionRight", 3);
    this.$store.commit('setShowMenuMobile', true)
    var menuCenter = document.getElementById("menu-center");
    this.loadProfile();
    if (menuCenter) {
      menuCenter.style.opacity = 0;
      menuCenter.style.pointerEvents = "none";
    }
  },
  methods: {
    loadProfile: function() {
      axios.get(CONSTANTS.API.ME, {}).then(response => {
        var data = response.data.user;
        this.user.email = data.email;
        this.user.username = data.username;
        this.user.nickname = data.profile.nickname;
        this.user.description = data.profile.introduction
        this.imageUrl = data.profile.image_profile
      });
    },
    editNickame: function(){
      this.editingNickame = false
      this.$nextTick(function(){
        this.$refs.nickname.focus();
      })
    },
    editEmail: function(){
      this.editingEmail = false
      this.$nextTick(function(){
        this.$refs.email.focus();
      })
    },
    editUsername: function(){
      this.editingUsername = false
      this.$nextTick(function(){
        this.$refs.username.focus();
      })
    },
    editDescription: function(){
      this.editingDescription = false
      this.$nextTick(function(){
        this.$refs.description.focus();
      })
    },
    save: function(){
      this.$v.user.$touch()
      if (this.$v.user.$invalid == false) {
        var formData = new FormData()
        if(this.image != null){
          formData.append('image', this.image)
        }
        formData.append('nickname', this.user.nickname)
        formData.append('username', this.user.username)
        formData.append('email', this.user.email)
        formData.append('introduction', this.user.description)
        axios.post(CONSTANTS.API.EDIT_PROFILE, formData)
        .then((response) => {
          if(response.data.success){
            location.reload()
          }
          this.error = response.data.msg
        }) 
      }
    },
    uploadImage: function(response, file, fileList){
      this.image = file.raw
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    changePassword: function(){
      this.$v.password.$touch()
      if(this.$v.password.$invalid == false && this.validPassword == false){
        var formData = new FormData()
        formData.append('current_password"', this.password.actual)
        formData.append('password"', this.password.new)
        formData.append('re_password"', this.password.repeat)
        axios.post(CONSTANTS.API.CHANGE_PASSWORD, formData)
        .then((response) => {
          console.log(response)
          if(response.data.success){
            this.$notify({
              title: 'CONTRASEÑA ACTUALIZADA',
              text: 'Se actualizo la contraseña exitosamente.',
              duration: 2000
            });
            return
          }
          // AQUI FALTA MOSTRAR LOS ERRORES PERO NO LO IMPLEMENTE DEBIDO A QUE SALIAN MENSAJES INCORECTOS.
        }) 
      }
    }
  }
};
</script>

<style lang="scss">
.edit-profile {
  min-height: 100%;
  //   background: url(/img/background-memes.98cbab7a.png) repeat center center;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .background-profile {
      max-width: 1920px;
      background: url("../assets/images/background-profile.png") no-repeat
        center center;
      background-size: cover;
      height: 415px;
      width: 100%;
    }
    .menu {
      background: url("../assets/images/menu-profile.png") no-repeat;
      max-width: 1920px;
      width: 100%;
      height: 255px;
      z-index: 2;
      // background-size: cover;
      margin-top: -131px;
      padding-top: 100px;
      position: relative;
      display: flex;
      .left {
        text-align: left;
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0 50px;
        .div-left {
          position: relative;
          .face-user {
            width: 95px;
            height: 95px;
            border-radius: 50%;
          }
          .list-image{
            .el-upload-list{
              display: none;
            }
          }
          .default {
            font-size: 95px;
            color: #e7e7e7;
          }
          .icon-check {
            position: absolute;
            bottom: 40px;
            right: -13px;
            cursor: pointer;
          }
        }
        .div-right {
          padding: 30px 0 0 40px;
          input {
            border: none;
            box-shadow: none;
            padding: 0;
            &:disabled {
                background-color: white;
                cursor: default;
              }
          }
          .nickname {
            display: flex;
            input {
              color: #00b7bf;
              font-weight: bold;
              font-size: 24px;
            }
            img{
              width: 23px;
              height: 23px;
              cursor: pointer;
            }
          }
          .div-username {
            display: flex;
            input{
              height: 25px;
              color: #b6b6b6;
            }
            img{
              width: 23px;
              height: 23px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .mode{
      max-width: 600px;
      .description {
        max-width: 1920px;
        padding: 0 120px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          width: 553px;
          .text {
            text-align: center;
            textarea{
              border: none;
              text-align: center;
              color: #9d9d9db6;
              font-size: 16px;
              &:disabled{
                background: white;
                cursor: default;
              }
            }
          }
        }
        img{
          width: 23px;
          height: 23px;
          margin-left: 15px;
          cursor: pointer;
        }
        
      }
      .editEmail{
        min-width: 600px;
        display: flex;
        margin: 30px 0;
        .icon-message{
          width: 39px;
          height: 28px;
          margin-right: 15px;
        }
        div{
          flex: 1;
          input{
            border: none; 
            box-shadow: none;
            height: 25px;
            color: #00b7bf;
            font-size: 18px;
            font-weight: 200;
            &:disabled {
              background-color: white;
              cursor: default;
              color: #00b7bf;
            }
          }
        }
        .icon-check{
          width: 23px;
          height: 23px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
      .editPassword{
        min-width: 600px;
        display: flex;
        .icon-message{
          width: 32px;
          height: 35px;
          margin-right: 15px;
        }
        input{
          border: none; 
          box-shadow: none;
          height: 25px;
          color: #b6b6b6;
          font-size: 18px;
          font-weight: 200;
          padding: 0 18px;
          &:disabled {
            background-color: white;
            cursor: default;
            color: #b6b6b6;
          }
        }
        .icon-check{
          width: 23px;
          height: 23px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
      .container-button{
        display: flex;
        justify-content: center;
        .save-button{
          width: 200px;
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #BFBFBF;
          margin: 30px 0 50px 0;
          .div-text{
            display: flex;
            flex: 1;
            background: rgba(0, 0,0, 0.03);
            padding: 11px 11px 11px 4px;
            margin-left: -14px;
            border-radius: 0 20px 20px 0;
            .text{
              flex: 1;
              font-size: 14px;
            }
            i{
              color: #48e8ef;
              margin-top: 3px;
            }
          }
          .green-square{
            z-index: 2;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
            background: #48e8ef; /* Old browsers */
            background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
            width: 60px;
            height: 45px;
            box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            -webkit-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            -moz-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            border-radius: 25px;
            padding: 10px;
          }
        }
      }
    }
    .block-password{
      margin-top: 20px;
      padding: 0 50px;
      width: 600px;
      .form{
        .form-item{
          p{
            text-align: left;
            margin-bottom: 6px;
            color: #c6c6c6;
            font-size: 15px;
          }
        }
        .error{
          margin-top: 5px;
        }
        input{
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
          -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
          &:focus{
            box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
            -webkit-box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
            color: #00B7BF;
            -webkit-user-select: auto;
            caret-color: #00B7BF;
          }     
        }
      }
      .block-change-password{
        display: flex;
        justify-content: center;
        .change-password{
          width: 200px;
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #BFBFBF;
          margin: 30px 0 50px 0;
          .div-text{
            display: flex;
            flex: 1;
            background: rgba(0, 0,0, 0.03);
            padding: 11px 11px 11px 4px;
            margin-left: -14px;
            border-radius: 0 20px 20px 0;
            .text{
              flex: 1;
              font-size: 14px;
            }
            i{
              color: #48e8ef;
              margin-top: 3px;
            }
          }
          .green-square{
            z-index: 2;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
            background: #48e8ef; /* Old browsers */
            background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
            width: 60px;
            height: 45px;
            box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            -webkit-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            -moz-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            border-radius: 25px;
            padding: 10px;
          }
        }
      }
      .back{
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .error{
      color: #00b7bf;
      text-align: left;
      margin-top: 13px;
      font-weight: 100;
      font-size: 13px;
      padding: 0 10px;
      text-align: center;
      &.password{
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .edit-profile {
    .container {
      .menu {
        .left {
          .div-right {
            p {
              font-size: 20px;
            }
          }
        }
        .options {
          .options-menu {
            width: 360px;
            margin-top: 19px;
            div {
              margin-top: 16px;
              border-radius: 23px;
              padding: 12px 20px 0 20px;
              height: 50px;
              &.selected {
                padding-top: 14px;
                margin-top: 13px;
              }
              img {
                height: 19px;
                &.ticket {
                  height: 25px;
                }
              }
            }
          }
        }
      }
      .description {
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .edit-profile {
    padding-bottom: 55px;
    .container {
      .background-profile {
        height: 350px;
        .data-user {
          justify-content: flex-end;
          bottom: 20px;
        }
      }
      .menu {
        height: 180px;
        background-size: cover;
        padding-top: 55px;
        margin-top: -95px;
        .left {
          flex: 1;
          padding-left: 30px;
          .div-left {
            padding-top: 11px;
            .default {
              font-size: 75px;
            }
            .face-user {
              width: 75px;
              height: 75px;
            }
            .icon-check {
              bottom: 25px;
              right: -4px;
              height: 40px;
            }
          }
          .div-right{
            padding: 30px 20px 0 40px;
            .nickname{
              input{
                font-size: 20px;
                height: 30px;
              }
            }
          }
        }
        .options {
          display: none;
        }
        .right {
          padding: 45px 30px 0 0;
          p {
            display: none;
          }
        }
      }
      .mode{
        .description {
          padding: 35px 20px 15px 20px;
          font-size: 14px;
          background: white;
          height: auto;
          .text {
            display: block;
          }
          .text-mobile {
            display: none;
          }
          .view {
            display: none;
          }
          .arrow {
            display: none;
          }
        }
      }
      .options-mobile {
        background: white;
        display: flex;
        justify-content: space-around;
        height: 54px;
        padding: 0;
        width: 100%;
        border-top: 1px solid #efefef;
        div {
          height: 56px;
          width: 95px !important;
          padding: 16px 30px 0 30px;
          &.selected {
            background: url("../assets/images/div-option-search.png") no-repeat
              center center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .edit-profile {
    .container {
      .background-profile {
        height: 250px;
        .data-user {
          justify-content: flex-end;
          p {
            padding: 0 10px;
            span {
              font-size: 16px;
            }
          }
        }
      }
      .menu {
        .left {
          .div-right {
            padding: 30px 20px 0 20px;
            width: 100%;
          }
        }
        .right {
          padding: 45px 15px 0 0;
        }
      }
      .mode{
        width: 100%;
        max-width: 100%;
        .description{
          div{
            width: 100%;
            min-width: auto;
            .text{
              textarea{
                text-align: left;
              }
            }
          }
        }
        .editEmail,
        .editPassword{
          width: 100%;
          padding: 0 20px 0 33px;
          min-width: auto;
        }
      }
      .block-password{
        width: 100%;
        padding: 0 50px;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .edit-profile {
    .container {
      .background-profile {
        height: 220px;
        .data-user {
          p {
            padding: 0 10px;
            font-size: 18px;
            span {
              font-size: 12px;
            }
          }
        }
      }
      .menu{
        .left{
          padding: 0 0px 0 30px;
          .div-right{
            .nickname{
              img{
                width: 18px;
                height: 18px;
                margin-top: 5px;
              }
            }
            .div-username{
              img{
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
      .mode{
        .description {
          font-size: 12px;
          div{
            .text{
              textarea{
                font-size: 14px;
              }
            }
          }
          img{
            width: 18px;
            height: 18px;
          }
        }
        .editEmail,
        .editPassword{
          div{
            input{
              font-size: 14px;
            }
          }
          .icon-check{
            width: 18px;
            height: 18px;
          }
        }
        .editEmail{
          .icon-message{
            width: 30px;
            height: 20px;
            margin-right: 5px;
          }
        }
        .editPassword{
          .icon-message{
            width: 25px;
            height: 28px;
            margin-right: 6px;
          }
        }
      }
      .block-password{
        padding: 0 20px;
        .form{
          .form-item{
            .error{
              font-size: 11px;
            }
          }
        }
      }
      .error{
        font-size: 11px;
      }
    }
  }
}
</style>
