<template>
  <div class="forgot-password">
      <el-row :gutter="10" class="top">
        <img class="top-logo" src="../assets/images/logo.png">
      </el-row>
      <el-row :gutter="10" class="middle">
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="center">
          <div class="title">Olvidé contraseña</div>
          <div class="form">
            <div class="form-item">
              <el-input @input.native="$v.email.$touch()" placeholder="Ejemplo01@lafoka.com" v-model="email"></el-input>
              <div class="error" v-if="$v.email.$error">*Debes ingresar un correo válido</div>
            </div>
            <div v-if="sentMessageVisible" class="forgot-password-confirmation">Las instrucciones para restaurar tu contraseña se han enviado a tu correo</div>
            <div @click="requestNewPassword" class="forgot-password-button">
              <div class="green-square">
                <img src="../assets/images/logo-foka-boton-login.png">
              </div>
              <div class="text">Enviar instrucciones</div>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row class="bottom">
      </el-row>
  </div>
</template>

<script>
import axios from 'axios'
import { required, email } from 'vuelidate/lib/validators'
import {CONSTANTS} from '../utils/Constants.js' 

export default {
  name: 'forgot-password',
  data: () => {
    return {
      email: "",
      password: "",
      sentMessageVisible: null
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  components: {
  },
  mounted: function(){
    var content = document.getElementById('content-app')
    var optionsCenter = document.getElementById('options-center')
    document.getElementById('menu-mobile').style.display = 'none';
    if(content){
      content.style.display = 'none';
    }
    if(optionsCenter){
      optionsCenter.style.display = 'none';
    }
  },
  methods: {
    requestNewPassword () {
      this.$v.$touch()

      this.$nextTick(() => {
        if (this.$v.$invalid == false) {
          this.sentMessageVisible = false
          var form = new FormData()

          form.append('email', this.email)
          form.append('password', this.password)

          axios.post(CONSTANTS.API.FORGOT_PASSWORD, form)
          .then( (response) => {
            this.sentMessageVisible = true
          })
          .catch(function (error) {
            console.log(error);
          });
        }  
      })

    },
  }
}
</script>

<style lang="scss">
    .forgot-password{
        height: 100%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        background-image: url("../assets/images/bottom-image.png");
        background-repeat: no-repeat;
        background-position: bottom;
        .top{
          height: 80px;
          width: 100%;
        }
        .middle{
          flex: 1;
          align-items: center;
          display: flex;
          justify-content: center;
          .center{
            width: 250px;
            .forgot-password-confirmation{
              color: #00B7BF;
              font-size: 12px;
              margin: 10px 0 20px 0;
            }
            .title{
              margin-bottom: 30px;
              font-size: 30px;
              font-weight: 300;
              opacity: 0.2;
              letter-spacing: -3px;
            }
            input{
              box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
            }
            .forgot-password-button{
              cursor: pointer;
              display: flex;
              align-items: center;
              margin-top: 20px;
              color: #BFBFBF;
              i {
                color: #48e8ef;
              }
              .text{
                flex: 1;
              }
              .green-square{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
                background: #48e8ef; /* Old browsers */
                background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
                width: 60px;
                height: 45px;
                box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
                border-radius: 25px;
                padding: 10px;
              }
            }
          }
        }
        .bottom{
          width: 100%;
          height: 80px;
        }
    }
</style>
