<template>
  <div class="home">
      <img src="../assets/images/logo-inicio.png">
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
  }
}
</script>

<style lang="scss">
    .home{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
