<template>
  <div class="login">
    <div class="content-main">
      <el-row class="top">
        <img class="top-logo" src="../assets/images/logo.png">
      </el-row>
      <el-row :gutter="10" class="middle">
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="left">
          <img src="../assets/images/logo-app-login.png">
        </el-col>
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="center">
          <div class="title">Iniciar Sesión</div>
          <div class="form">
            <div class="form-item">
              <el-input @input.native="$v.email.$touch()" placeholder="Ejemplo01@lafoka.com" v-model="email"></el-input>
              <div class="error" v-if="$v.email.$error">*Debes ingresar un correo válido</div>
            </div>
            <div class="form-item">
              <el-input @input.native="$v.password.$touch()" type="password" placeholder="Contraseña" v-model="password"></el-input>
              <div class="error" v-if="$v.password.$error">*Debes ingresar una contraseña</div>
            </div>
            <div v-if="loginErrorMessage" class="login-error">{{loginErrorMessage}}</div>
            
            <router-link to="/forgot-password">
              <div @click="" class="forgot-password-text">
                <span>¿Olvidaste tu contraseña?</span>
              </div>  
            </router-link>
            
            <div @click="login" class="login-button">
              <div class="green-square">
                <img src="../assets/images/logo-foka-boton-login.png">
              </div>
              <div class="div-text">
                <div class="text">Ingresar</div>
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="create-account">
              <router-link to="/register"><span>Crear cuenta</span></router-link>
              <div>
                <img src="../assets/images/arrow.png">
              </div>
            </div>
          </div>
        </el-col>
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="right">
          <div class="content">
            <img src="../assets/images/logo-foka.png">
            <div class="meme">Hay un meme</div>
            <div class="anywhere">en todos lados...!</div>
            <div class="available">Disponible en:</div>
            <div class="store-icons">
              <img src="../assets/images/logo-ios-store.png">
              <img src="../assets/images/logo-android-store.png">
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row class="bottom">
        <span class="social-login-text">Puedes iniciar sesión con</span> 
        <span class="social-icon" @click="loginFacebook"><i class="fab fa-facebook-f"></i></span>
        <span class="social-icon"><i class="fab fa-instagram"></i></span>
        <span class="social-icon"><i class="fab fa-twitter"></i></span>
      </el-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { required, email } from 'vuelidate/lib/validators'
import {CONSTANTS} from '../utils/Constants.js' 

export default {
  name: 'login',
  data: () => {
    return {
      email: "",
      password: "",
      loginErrorMessage: null,
      next: null
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  mounted: function(){
    // $('.login').prev().css('display', 'none');
    // this.$store.commit('setShowOptionsCenter', false)
    var content = document.getElementById('content-app')
    var optionsCenter = document.getElementById('options-center')
    this.$store.commit('setShowMenuMobile', false)
    if(content){
      content.style.display = 'none';
    }
    if(optionsCenter){
      optionsCenter.style.display = 'none';
    }
    this.next = this.$route.query.next
  },
  components: {
  },
  methods: {
    login () {
      this.registerErrorMessage = null
      this.$v.$touch()

      this.$nextTick(() => {
        if (this.$v.$invalid == false) {
          var form = new FormData()

          form.append('email', this.email)
          form.append('password', this.password)

          axios.post(CONSTANTS.API.LOGIN, form)
          .then( (response) => {
            if(response.data.success){
              localStorage.setItem('token_system', response.data.token)
              this.$store.commit('setTokenSystem', response.data.token)
              if(this.next){
                location.href = this.next
                // this.$router.push({ fullPath: this.next});
              } else{
                location.href = '/'
                // this.$router.push({name: 'dashboard'});
              }
              // this.$router.push({name: 'dashboard'});
            } else {
              this.loginErrorMessage = response.data.msg
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        }  
      })

    },
    loginFacebook () {
      FB.login(response => {
          if (response.authResponse) {
            var userId = response.authResponse.userID
            var accessToken = response.authResponse.accessToken
            var formData = new FormData();
            formData.append('access_token', accessToken)
            
            axios.post(CONSTANTS.API.LOGIN_FACEBOOK, formData)
            .then( (response) => {
              var data = response.data
              if(data.success){
                localStorage.setItem('token_system', response.data.token)
                this.$store.commit('setTokenSystem', response.data.token)
                if(this.next){
                  location.href = this.next
                  // this.$router.push({ fullPath: this.next});
                } else{
                  location.href = '/'
                }
                // this.$router.push({name: 'dashboard'});
              } else{
                if(data.not_associated){
                  var url = "/" + userId + "/"
                  FB.api(url,
                        {fields: 'email,first_name,last_name,gender,name'},
                        function (response) {
                          if (response && !response.error) {
                            this.$store.commit('setNickname', response.name)
                            this.$store.commit('setUsername', response.first_name + response.last_name)
                            this.$store.commit('setEmail', response.email)
                            this.$store.commit('setGender', response.gender)
                            this.$store.commit('setAccessToken', accessToken)
                            // localStorage.setItem('nickname', response.name)
                            // localStorage.setItem('username', response.first_name + response.last_name)
                            // localStorage.setItem('email', response.email)
                            // localStorage.setItem('gender', response.gender)
                            // localStorage.setItem('accessToken', accessToken)
                            this.$router.push({ name: 'register'});
                          }
                        }
                    );
                }else{
                  // SE MUESTRA ERROR
                  alert(data.msg)
                }
              }
            })

          } 
          // else {
          //  console.log('User cancelled login or did not fully authorize.');
          // }
      }, {scope: 'email,user_gender'});
    },
    selectGender (gender) {
      this.gender = gender
    }
  }
}
</script>

<style lang="scss">
  .login{
      height: 100%;
      min-height: 780px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // flex-direction: column;
      background-image: url("../assets/images/bottom-image.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100% auto;
      display: flex;
      justify-content: center;
      .content-main{
        max-width: 1550px;
        width: 100%;
        .top{
          height: 80px;
          // width: 100%;
        }
        .middle{
          // flex: 1;
          // align-items: center;
          display: flex;
          justify-content: space-around;
          margin-top: 40px;
          .left{
          }
          .center{
            width: 200px;
            padding-top: 90px;
            .login-error{
              color: #00B7BF;
              font-size: 12px;
              margin: 10px 0 20px 0;
            }
            .title{
              margin-bottom: 30px;
              font-size: 30px;
              font-weight: 300;
              opacity: 0.2;
              letter-spacing: -3px;
            }
            .form{
              .error{
                margin-top: 5px;
              }
              input{
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
                &:focus{
                  box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
                  -webkit-box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
                  color: #00B7BF;
                  -webkit-user-select: auto;
                  caret-color: #00B7BF;
                }
              }
            }
            .login-button{
              cursor: pointer;
              display: flex;
              align-items: center;
              color: #BFBFBF;
              .div-text{
                display: flex;
                flex: 1;
                background: rgba(0, 0,0, 0.03);
                padding: 11px 11px 11px 4px;
                margin-left: -14px;
                border-radius: 0 20px 20px 0;
                .text{
                  flex: 1;
                  font-size: 14px;
                }
                i{
                  color: #48e8ef;
                  margin-top: 3px;
                }
              }
              .green-square{
                z-index: 2;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
                background: #48e8ef; /* Old browsers */
                background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
                width: 60px;
                height: 45px;
                box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
                -webkit-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
                -moz-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
                border-radius: 25px;
                padding: 10px;
              }
            }
            .forgot-password-text{
              font-size: 12px;
              color: #BFBFBF;
              margin: 20px 0 30px 0;
              span{
                cursor: pointer;
                padding: 5px;
              }
              // opacity: 0.6;
            }
            .create-account{
              margin-top: 30px;
              a{
                font-size: 12px;
                color: #BFBFBF;
                &:hover{
                  text-decoration: underline;
                }
              }
              div{
                margin-top: 30px;
              }
            }
          }
          .right{
            padding-top: 90px;
            justify-content: center;
            display: flex;
            color: black;
            .content{
              width: 250px;
              .meme{
                color: #00B7BF;
                font-size: 25px;
                opacity: 0.5;
                margin-left: 44px;
                text-align: left;
              }
              .anywhere{
                margin-left: 40px;
                text-align: right;
                font-size: 16px;
                opacity: 0.6;
              }
              .available{
                font-size: 13px;
                opacity: 0.6;
                margin-top: 30px;
                margin-bottom: 10px;
              }
              .store-icons{
                & > img:first-child{
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .bottom{
          width: 100%;
          margin-top: 70px;
          .social-login-text{
            font-size: 12px;
            margin-right: 10px;
          }
          .social-icon {
            color: #00B7BF;
            background: white;
            width: 32px;
            height: 32px;
            border-radius: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 10px;
            &:hover {
              -webkit-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
              -moz-box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
              box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
            }
          }
        }
      }
      
  }
  @media only screen and (max-width : 992px) {
    .login{
      min-height: auto;
      background: none;
      .content-main{
        .middle{
          box-shadow: 0px 15px 25px -15px rgba(51, 197, 204, 0.15);
          border-radius: 50%;
          padding-bottom: 35px;
          .left,
          .right{
            display: none;
          }
          .center{
            padding-top: 0;
            .create-account{
              div{
                display: none;
              }
            }
          }
        }
        .bottom{
          margin-top: 20px;
          span{
            display: block;
          }
        }
      }
    }
  }
</style>
