<template>
  <div id="notifications">
    <div class="content">
      <el-row v-for="noti, index in notifications" class="notification">
        <img :src="noti.actor.profile.image_profile" class="face" v-if="noti.actor.profile.image_profile">
        <i class="fas fa-user-circle default" v-else></i>
        <div>
          <span>{{noti.actor.profile.nickname}}</span>&nbsp;
          <!-- <router-link :to="'/post/' + noti.alias">{{noti.action}}</router-link>&nbsp; -->
          <span class="action" @click="goToPost(noti.alias, noti.id)">{{noti.action}}</span>&nbsp;
          <span class="time"><img src="../assets/images/time.png"> {{noti.time_ago}}</span>
        </div>
        <!-- <img src="../assets/images/arrow.png" class="arrow" v-if="noti.extra.opened"> -->
        <img src="../assets/images/arrow.png" class="arrow">
      </el-row>
      <div style="height:30px; display:flex; justify-content:center" v-if="loading" class="div-loading">
        <circle-2 background="#00b7bf" class="spinner"></circle-2>
      </div> 
      <!-- <infinite-loading @infinite="loadNotifications">
      <div slot="no-more"></div>
      <div slot="no-results"></div>
      <div slot="spinner">
          <div style="height:30px; display:flex; justify-content:center" :class="{'margin-loading': pageNotifications == 0}">
            <circle-2 background="#00b7bf" class="spinner"></circle-2>
          </div> 
      </div>
      </infinite-loading> -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import InfiniteLoading from 'vue-infinite-loading';
import {CONSTANTS} from '../utils/Constants.js';
import {Circle2} from 'vue-loading-spinner';
import axios from 'axios';
export default {
  name: 'notifications',
  data: () => {
    return {
      notifications: [],
      loading: false
    }
  },
  components: {
    InfiniteLoading,
    Circle2
  },
  mounted: function(){
    var content = document.getElementById('content-app')
    if(content){
      document.getElementById('content-app').style.display = 'block';
    }
    var menuCenter = document.getElementById('menu-center')
    if(menuCenter){
      menuCenter.style.opacity = 1;
      menuCenter.style.pointerEvents = 'all';
    }
    this.loadNotifications();
    this.$store.commit('setShowMenuMobile', true)
    this.$store.commit('setOptionRight', 4)
  },
  methods: {
    loadNotifications: function(){
      this.loading = true
      axios.get(CONSTANTS.API.NOTIFICATIONS)
      .then((response) => {
        this.loading = false
        this.notifications = response.data.list
        _.forEach(this.notifications, function(n){
          n['alias'] = n.url.slice(3)
        })
        
      });
    },
    goToPost: function(alias, id){
      this.notificationIconSelected = false
      let formData = new FormData()
      formData.append('notification_id', id)
      formData.append('action', null)
      formData.append('action_object_id', 0)
      axios.post(CONSTANTS.API.MARKED_NOTIFICATION, formData)
      .then((response) => {
      });
      this.$router.push({name:'post', params: {alias: alias}});
    }
  }
}
</script>

<style lang="scss">
  #notifications{
    margin-top: 120px;
    .content{
      .notification{
        display: flex;
        margin-bottom: 15px;
        padding: 0 20px 15px 10px;
        border-bottom: 1px solid #f2f2f2;
        .face{
          width: 49px;
          height: 49px;
          border-radius: 50%;
        }
        .default{
          font-size: 50px;
          color: #e7e7e7;
        }
        div{
          flex: 1;
          padding: 5px 9px 10px 20px;
          font-weight: 700;
          color: #dfdfdf;
          a{
            color: #dfdfdf;
            text-decoration: inherit;
            cursor: pointer;
          }
          span{
            color: #00B7BF;
            opacity: 0.7;
            font-weight: 800;
            &.time{
              color: #dfdfdf;
              font-weight: 500;
              font-size: 15px;
            }
            &.action{
              color: #dfdfdf;
              cursor: pointer;
            }
          }
        }
        .arrow{
          height: 12px;
          margin-top: 15px;
          z-index: 2;
        }
      }
      .div-loading{
        position: absolute;
        top: 50%;
        left: calc(50% - 27px);
      }
    }
  }
</style>
