<template>
  <el-row class="post">
    <div :class="{'content': true, 'extra': option == 2 || option == 3}" v-if="post">
        <div class="description-mobile" id="description-mobile">
          <p class="description">“{{post.description}}”</p>
        </div>
        <el-col :span="20" class="image" id="image">
          <carousel :per-page="1">
            <slide>
              <div class="image-post" :style="{'background':'url(' + post.image + ') no-repeat center center'}"></div>
            </slide>
            <slide>
              <div class="image-post" :style="{'background':'url(' + post.image + ') no-repeat center center'}"></div>
            </slide>
            <slide>
              <div class="image-post" :style="{'background':'url(' + post.image + ') no-repeat center center'}"></div>
            </slide>
          </carousel>
          <div class="actions" v-if="actions">
            <div class="block">
              <el-row><span>Guardar</span></el-row>
              <el-row><span v-clipboard:copy="link">Copiar link</span></el-row>
              <el-row><span>Compartir</span></el-row>
              <el-row><span @click="openDialogReport">Reportar</span></el-row>
              <el-row><span>Dejar de seguir</span></el-row>
              <img src="../assets/images/arrow-right-2x.png" @click="actions = false">
            </div>
          </div>
        </el-col>
        <div class="extra-block" v-if="option == 2 || option == 3">
          <div v-if="option == 2">
            <el-row :class="{'div-description': true, 'with-hashtag': showHashtag == true}">
              <p class="description">“{{post.description| truncate(70, '...')}}”</p>
              <el-col :span="24" v-if="showHashtag" class="hashtags">
                <el-row :gutter="20">
                  <el-col :span="6" v-for="i in Array(10)">
                    <p>#Hashtag1</p>
                  </el-col>
                </el-row>
              </el-col>
              <p class="ubication">Miraflores 343, Lima <img src="../assets/images/marker.png"></p>
              <img src="../assets/images/arrow.png" class="arrow" @click="showHashtag = true" v-if="!showHashtag">
              <img src="../assets/images/arrow-up.png" class="arrow-up" @click="showHashtag = false" v-else>
            </el-row>
            <div class="div-padding">
              <el-row :class="{'comments': true, 'reduce': image != null}" id="div-comments">
                <!-- <el-col :span="24" v-infinite-scroll="loadComments" infinite-scroll-disabled="busy" infinite-scroll-distance="0" class="container"> -->
                  <el-row v-for="comment, index in comments">
                    <el-col :span="24" class="info-user">
                      <img :src="comment.user.profile.image_profile" class="image-user" v-if="comment.user.profile.image_profile">
                      <i class="fas fa-user-circle default" v-else></i>
                      <div class="div-text">
                        <p class="name"><router-link :to="{name:'profile', params: {username: comment.user.username, section: 'posts'}}">{{comment.user.profile.nickname}}</router-link><span>&nbsp;{{comment.time_ago}}</span></p>
                        <p class="details">
                          <img src="../assets/images/heart-gray.png" v-if="comment.liked == 0" @click="setLikeComment(comment)" class="heart">
                          <img src="../assets/images/heart.png" v-else @click="setLikeComment(comment)" class="heart">&nbsp;
                          <span :class="{'liked': comment.liked == 1}">{{comment.num_likes}}</span>&nbsp;&nbsp;
                          <img src="../assets/images/comment.png"> {{comment.replies.length}}&nbsp;&nbsp;
                          <span class="answer" @click="comment.showInput = true">Responder</span>
                        </p>
                      </div>
                      <div class="div-menu" v-if="usernameLogued">
                        <img src="../assets/images/points.png" class="points">
                        <el-cascader
                          :options="comment.options"
                          v-model="actionComment">
                        </el-cascader>
                      </div>
                      <div class="div-menu" v-else>
                        <img src="../assets/images/points.png" class="points" @click="goLogin">
                      </div>
                    </el-col>
                    <el-col :span="24" :class="{'text': true, 'no-margin': comment.replies.length > 0}">
                      {{comment.text| truncate(90, '...')}}
                      <img :src="comment.image" v-if="comment.image">
                    </el-col>
                    <el-col :span="24" v-if="comment.replies.length > 0" class="replies">
                      <el-row v-for="replie in comment.replies" v-if="comment.showReplies">
                        <el-col :span="24" class="info-user" >
                          <img :src="replie.user.profile.image_profile" class="image-user" v-if="replie.user.profile.image_profile">
                          <i class="fas fa-user-circle default" v-else></i>
                          <div class="div-text">
                            <p class="name"><router-link :to="{name:'profile', params: {username: replie.user.username, section: 'posts'}}">{{replie.user.profile.nickname}}</router-link><span>&nbsp;{{replie.time_ago}}</span></p>
                            <p class="details">
                              <img src="../assets/images/heart-gray.png" v-if=" replie.liked == 0" @click="setLikeComment(replie)" class="heart">
                              <img src="../assets/images/heart.png" v-else @click="setLikeComment(replie)" class="heart">&nbsp;
                               <span :class="{'liked': replie.liked == 1}">{{replie.num_likes}}</span>
                              </p>
                          </div>
                          <div class="div-menu" v-if="usernameLogued">
                            <img src="../assets/images/points.png" class="points">
                            <el-cascader
                              :options="replie.options"
                              v-model="actionReplie">
                            </el-cascader>
                          </div>
                          <div class="div-menu" v-else>
                            <img src="../assets/images/points.png" class="points" @click="goLogin">
                          </div>
                        </el-col>
                        <el-col :span="24" class='text'>
                          {{replie.text| truncate(90, '...')}}
                          <img :src="replie.image" v-if="replie.image">
                        </el-col>
                      </el-row>
                      <el-row class="more" v-if="comment.showMore && comment.showReplies"><span @click="getReplies(comment)">ver más...</span></el-row>
                      <img src="../assets/images/arrow.png" class="arrow" @click="comment.showReplies = !comment.showReplies" v-if="!comment.showReplies">
                      <img src="../assets/images/arrow-up.png" class="arrow-up" @click="comment.showReplies = !comment.showReplies" v-else>
                    </el-col>
                    <el-col :span="24" class="image-upload" v-if="comment.imageAnswer">
                      <div class="image" :style="{'background':'url(' + comment.imageUrl + ') no-repeat center center'}">
                        <i class="fal fa-times close" @click="removeImageAnswer(comment)"></i>
                      </div>
                    </el-col>
                    <el-col :span="24" class="div-write-comment" v-if="comment.showInput">
                      <el-upload
                        action=""
                        accept="image/*"
                        :on-change="uploadImageAnswer(comment)"
                        class="list-image">
                        <div class="actions">
                          <img src="../assets/images/points.png" class="points">
                        </div>
                      </el-upload>
                      <div class="block">
                        <el-input placeholder="Escribir Comentario" v-model="comment.commentAnswer"></el-input>
                        <el-button :disabled="!comment.commentAnswer" @click="sendCommentAnswer(comment)"><img src="../assets/images/send.png"></el-button>
                      </div>
                    </el-col>
                  </el-row>
                  <!-- <div style="height:50px; display:flex; justify-content:center" :class="{'margin-loading': pageComments == 0}" v-if="loadingComments">
                    <circle-2 background="#00b7bf"></circle-2>
                  </div> -->
                  <infinite-loading @infinite="loadComments">
                    <div slot="no-more"></div>
                    <div slot="no-results"></div>
                    <div slot="spinner">
                      <div style="height:30px; display:flex; justify-content:center" :class="{'margin-loading': pageComments == 0}">
                        <circle-2 background="#00b7bf" class="spinner"></circle-2>
                      </div> 
                    </div>
                  </infinite-loading>
                <!-- </el-col> -->
              </el-row>
            </div>
            <div class="image-upload" v-if="image">
              <div class="image" :style="{'background':'url(' + imageUrl + ') no-repeat center center'}">
                <i class="fal fa-times close" @click="removeImage"></i>
				      </div>
            </div>
            <el-row class="div-write-comment">
              <el-upload
                action=""
                accept="image/*"
                :on-change="uploadImage"
                class="list-image">
                <div class="actions">
                  <img src="../assets/images/points.png" class="points">
                </div>
              </el-upload>
              <div class="block">
                <el-input placeholder="Escribir Comentario" v-model="comment"></el-input>
                <el-button :disabled="!comment" @click="sendComment"><img src="../assets/images/send.png"></el-button>
              </div>
            </el-row>
          </div>
          <div v-else class="block-tags">
            <el-row class="div-trending">
              <div :class="{'div-user': true, 'trending' : user.trending == true}" v-for="user, index in users">
                <img src="../assets/images/user.png" class="user">
                <div class="info">
                  <p class="name">Claudia</p>
                  <p class="details">
                    <img src="../assets/images/heart-gray.png" v-if="!user.trending" class="heart">
                    <img src="../assets/images/heart-trending.png" v-else class="heart-trending">&nbsp;&nbsp;35&nbsp;&nbsp;@Gisepm
                    </p>
                </div>
                <div class="switch" @click="setTrending(index)">
                  <div class="not-following" v-if="!user.trending">
                    <img src="../assets/images/check-blue.png">
                  </div>
                  <div class="base-switch"></div>
                  <div class="following" v-if="user.trending">
                    <img src="../assets/images/check-white.png">
                  </div>
                </div>
              </div>
            </el-row>
          </div>
          <img src="../assets/images/arrow-right-2x.png" class="arrow-right" @click="option = null">
        </div>
        <div class="info-user-mobile">
          <div class="div-left-mobile">
            <img :src="post.user.profile.image_profile" class="face-user" v-if="post.user.profile.image_profile">
            <i class="fas fa-user-circle default" v-else></i>
          </div>
          <div class="div-right-mobile">
            <div class="block">
              <div class="info">
                <router-link :to="{name:'profile', params: {username: post.user.username, section: 'posts'}}"><p class="name">{{post.user.profile.nickname}}</p></router-link>
                <div>
                  <img src="../assets/images/heart.png" v-if="post.vote == 0" @click="setLike">
                  <img src="../assets/images/heart-gray.png" v-else @click="setLike">&nbsp;
                  <span :class="{'likes': post.vote == 0, 'likes-gray': post.vote != 0}">{{post.vote_up_count}}</span>&nbsp;
                  <img src="../assets/images/comment.png">&nbsp;
                  <span class="comments">{{post.comments_count}}</span>
                </div>
              </div>
              <div class="options-post">
                <img src="../assets/images/mobile/points.png" @click="showOptionsPost = true">
              </div>
            </div>
          </div>
        </div>
        <div class="div-comments-mobile">
          <el-row :class="{'comments': true, 'reduce': image != null}" id="div-comments">
            <!-- <el-col :span="24" v-infinite-scroll="loadComments" infinite-scroll-disabled="busy" infinite-scroll-distance="0" class="container"> -->
              <el-row v-for="comment, index in comments">
                <el-col :span="24" class="info-user">
                  <img :src="comment.user.profile.image_profile" class="image-user" v-if="comment.user.profile.image_profile">
                  <i class="fas fa-user-circle default" v-else></i>
                  <div class="div-text">
                    <p class="name"><router-link :to="{name:'profile', params: {username: comment.user.username, section: 'posts'}}">{{comment.user.profile.nickname}}</router-link><span>&nbsp;{{comment.time_ago}}</span></p>
                    <p class="details">
                      <img src="../assets/images/heart-gray.png" v-if="comment.liked == 0" @click="setLikeComment(comment)" class="heart">
                      <img src="../assets/images/heart.png" v-else @click="setLikeComment(comment)" class="heart">&nbsp;
                      <span :class="{'liked': comment.liked == 1}">{{comment.num_likes}}</span>&nbsp;&nbsp;
                      <img src="../assets/images/comment.png"> {{comment.replies.length}}&nbsp;&nbsp;
                      <span class="answer" @click="comment.showInput = true">Responder</span>
                    </p>
                  </div>
                  <div class="div-menu" v-if="usernameLogued">
                    <img src="../assets/images/points.png" class="points">
                    <el-cascader
                      :options="comment.options"
                      v-model="actionComment">
                    </el-cascader>
                  </div>
                  <div class="div-menu" v-else>
                    <img src="../assets/images/points.png" class="points" @click="goLogin">
                  </div>
                </el-col>
                <el-col :span="24" :class="{'text': true, 'no-margin': comment.replies.length > 0}">
                  {{comment.text| truncate(90, '...')}}
                  <img :src="comment.image" v-if="comment.image">
                </el-col>
                <el-col :span="24" v-if="comment.replies.length > 0" class="replies">
                  <el-row v-for="replie in comment.replies" v-if="comment.showReplies" class="replie">
                    <el-col :span="24" class="info-user" >
                      <img :src="replie.user.profile.image_profile" class="image-user" v-if="replie.user.profile.image_profile">
                      <i class="fas fa-user-circle default" v-else></i>
                      <div class="div-text">
                        <p class="name"><router-link :to="{name:'profile', params: {username: replie.user.username, section: 'posts'}}">{{replie.user.profile.nickname}}</router-link><span>&nbsp;{{replie.time_ago}}</span></p>
                        <p class="details">
                          <img src="../assets/images/heart-gray.png" v-if=" replie.liked == 0" @click="setLikeComment(replie)" class="heart">
                          <img src="../assets/images/heart.png" v-else @click="setLikeComment(replie)" class="heart">&nbsp;
                            <span :class="{'liked': replie.liked == 1}">{{replie.num_likes}}</span>
                          </p>
                      </div>
                      <div class="div-menu" v-if="usernameLogued">
                        <img src="../assets/images/points.png" class="points">
                        <el-cascader
                          :options="replie.options"
                          v-model="actionReplie">
                        </el-cascader>
                      </div>
                      <div class="div-menu" v-else>
                        <img src="../assets/images/points.png" class="points" @click="goLogin">
                      </div>
                    </el-col>
                    <el-col :span="24" class='text'>
                      {{replie.text| truncate(90, '...')}}
                      <img :src="replie.image" v-if="replie.image">
                    </el-col>
                  </el-row>
                  <el-row class="more" v-if="comment.showMore && comment.showReplies"><span @click="getReplies(comment)">ver más...</span></el-row>
                  <img src="../assets/images/arrow.png" class="arrow" @click="comment.showReplies = !comment.showReplies" v-if="!comment.showReplies">
                  <img src="../assets/images/arrow-up.png" class="arrow-up" @click="comment.showReplies = !comment.showReplies" v-else>
                </el-col>
                <el-col :span="24" class="image-upload" v-if="comment.imageAnswer">
                  <div class="image" :style="{'background':'url(' + comment.imageUrl + ') no-repeat center center'}">
                    <i class="fal fa-times close" @click="removeImageAnswer(comment)"></i>
                  </div>
                </el-col>
                <el-col :span="24" class="div-write-comment" v-if="comment.showInput">
                  <el-upload
                    action=""
                    accept="image/*"
                    :on-change="uploadImageAnswer(comment)"
                    class="list-image">
                    <div class="actions">
                      <img src="../assets/images/points.png" class="points">
                    </div>
                  </el-upload>
                  <div class="block">
                    <el-input placeholder="Escribir Comentario" v-model="comment.commentAnswer"></el-input>
                    <el-button :disabled="!comment.commentAnswer" @click="sendCommentAnswer(comment)"><img src="../assets/images/send.png"></el-button>
                  </div>
                </el-col>
              </el-row>
              <!-- <div style="height:50px; display:flex; justify-content:center" :class="{'margin-loading': pageComments == 0}" v-if="loadingComments">
                <circle-2 background="#00b7bf"></circle-2>
              </div> -->
              <infinite-loading @infinite="loadComments">
                <div slot="no-more"></div>
                <div slot="no-results"></div>
                <div slot="spinner">
                  <div style="height:40px; display:flex; justify-content:center" :class="{'margin-loading': pageComments == 0}">
                    <circle-2 background="#00b7bf" class="spinner"></circle-2>
                  </div> 
                </div>
              </infinite-loading>
            <!-- </el-col> -->
          </el-row>
          <div class="image-upload" v-if="image">
            <div class="image" :style="{'background':'url(' + imageUrl + ') no-repeat center center'}">
              <i class="fal fa-times close" @click="removeImage"></i>
            </div>
          </div>
        </div>
        <div class="div-write-comment-mobile" v-if="!showOptionsPost">
          <el-upload
            action=""
            accept="image/*"
            :on-change="uploadImage"
            class="list-image">
            <div class="actions">
              <img src="../assets/images/points.png" class="points">
            </div>
          </el-upload>
          <div class="block">
            <el-input placeholder="Escribir Comentario" v-model="comment"></el-input>
            <el-button :disabled="!comment" @click="sendComment"><img src="../assets/images/send.png"></el-button>
          </div>
        </div>
        <div class="options-post-mobile" v-if="showOptionsPost">
          <div class="border">
            <img src="../assets/images/arrow.png" @click="showOptionsPost = false">
          </div>
          <div class="block">
            <el-row><span>Guardar</span></el-row>
            <el-row><span v-clipboard:copy="link">Copiar link</span></el-row>
            <el-row><span>Compartir</span></el-row>
            <el-row><span @click="openDialogReport">Reportar</span></el-row>
            <el-row><span>Dejar de seguir</span></el-row>
          </div>
        </div>
        <el-col :span="4" :class="{'options': true, 'normal': option == null, 'background-likes': option == 1, 'background-comments': option == 2, 'background-tags': option == 3}">
            <el-row :class="{'div-user': true, 'left': option != null}">
              <el-col :span="24" class="above">
                <img src="../assets/images/div-face-user.png">
                <img :src="post.user.profile.image_profile" class="image-user" v-if="post.user.profile.image_profile">
                <i class="fas fa-user-circle default" v-else></i>
                <img src="../assets/images/check-user.png" class="icon-check">
              </el-col>
              <el-col :span="24" class="under">
                <router-link :to="{name:'profile', params: {username: post.user.username, section: 'posts'}}"><p class="name">{{post.user.profile.nickname}}</p></router-link>
                <p class="red">@{{post.user.username}}</p>
              </el-col>
              <img src="../assets/images/arrow.png" class="arrow">
            </el-row>
            <el-row :class="{'div-likes': true, 'div-option' : post.vote == 0, 'div-selected': option == 1}">
              <div @click="setLike">
                <img src="../assets/images/likes-post.png" class="likes">
                <!-- <p>365 <span>Mil</span></p> -->
                <p>{{post.vote_up_count}}</p>
              </div>
            </el-row>
            <el-row :class="{'div-comments': true, 'div-option' : option == 2, 'div-selected': option == 2}">
              <div @click="selectedOption(2)">
                <img src="../assets/images/comments-post.png" class="comments">
                <!-- <p>267 <span>Mil</span></p> -->
                <p>{{post.comments_count}}</p>
              </div>
            </el-row>
            <el-row :class="{'div-tags': true, 'div-option' : option == 3, 'div-selected': option == 3}">
              <div @click="selectedOption(3)">
                <img src="../assets/images/comments-post.png" class="comments">
                <p>+369</p>
                <span>Etiquetas</span>
              </div>
            </el-row>
            <el-row :class="{'points': true, 'left': option != null}">
              <img src="../assets/images/div-points.png" @click="showActions">
            </el-row>
        </el-col>
    </div> 
    <el-dialog
      title="REPORTAR"
      :visible.sync="dialogReport"
      width="500px"
      :close-on-press-escape="true"
      class="dialog-report">
      <el-radio v-model="optionReport" :label="index" v-for="option, index in optionsReport">{{option.description}}</el-radio>
      <el-radio v-model="optionReport" label="99">Otro</el-radio>
      <textarea v-model="textReport" rows="3" class="text-report" placeholder="Escribe tu motivo" :disabled="optionReport != 99"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogReport = false" class="cancel-report">Cancelar</el-button>
        <el-button class="send-report" @click="sendReport" :disabled="(textReport.length == 0  && optionReport == 99) || optionReport == null">Enviar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="REPORTAR COMENTARIO"
      :visible.sync="dialogReportComment"
      width="450px"
      :close-on-press-escape="true"
      class="dialog-report-comment">
      <el-radio v-model="optionReportComment" :label="index" v-for="option, index in optionsReportComment">{{option.description}}</el-radio>
      <el-radio v-model="optionReportComment" label="99">Otro</el-radio>
      <textarea v-model="textReportComment" rows="3" class="text-report" placeholder="Escribe tu motivo" :disabled="optionReportComment != 99"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogReportComment = false" class="cancel-report">Cancelar</el-button>
        <el-button class="send-report" @click="sendReportComment" :disabled="(textReportComment.length == 0  && optionReportComment == 99) || optionReportComment == null">Enviar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="ELIMINAR"
      :visible.sync="dialogDelete"
      width="300px"
      :close-on-press-escape="true">
      <p>¿Estás seguro que desear eliminar?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDelete = false" class="cancel-report">No</el-button>
        <el-button class="send-report" @click="deleteComment">Si, estoy seguro</el-button>
      </span>
    </el-dialog>
  </el-row>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import axios from 'axios'
import {Circle2} from 'vue-loading-spinner'
import {CONSTANTS} from '../utils/Constants.js'
import InfiniteLoading from 'vue-infinite-loading';
export default {
  name: 'post',
  data: () => {
    return {
      option : null,
      optionReport: null,
      optionsReport: [],
      actions: false,
      busy: false,
      alias: '',
      textReport: '',
      post: null,
      comment: '',
      comments: [],
      pageComments: 0,
      loadingComments: false,
      fromDate: null,
      dialogReport: false,
      showHashtag: false,
      link: window.location.href,
      users: [{trending: false},{trending: false}, {trending: true}, {trending: false}, {trending: false}, {trending: true}, {trending: false}, {trending: false}, {trending: false}, {trending: false}, {trending: false}, {trending: false}, {trending: false}, {trending: false}],
      image: null,
      imageUrl: null,
      usernameLogued: null,
      actionComment: null,
      actionReplie: null,
      aliasComment: '',
      aliasCommentReplie: '',
      dialogReportComment: false,
      dialogDelete: false,
      isComment: false,
      textReportComment: '',
      optionReportComment: false,
      heightComments: '0px',
      optionsReportComment: [],
      showOptionsPost: false
    }
  },
  components: {
    Carousel,
    Slide,
    Circle2,
    InfiniteLoading
  },
  created: function(){
    this.alias = this.$route.params.alias.split('/')[0]
    this.loadPost();
    this.loadOptionsReport();
    this.loadOptionsReportComment();
  },
  watch: {
    actionComment: function(value){
      value = value[0]
      var action = value.split('-')[0]
      this.aliasComment = value.split('-')[1]
      if(action == 'r'){
        this.dialogReportComment = true
      }
      if(action == 'e'){
        this.isComment = true
        this.dialogDelete = true
      }
    },
    actionReplie: function(value){
      value = value[0]
      var action = value.split('-')[0]
      this.aliasComment = value.split('-')[1]
      // PARA OBTENER EL ALIAS DEL COMENTARIO QUE TIENE LA RESPUESTA EN CUESTIÓN
      this.aliasCommentReplie = value.split('-')[2]
      if(action == 'r'){
        this.dialogReportComment = true
      }
      if(action == 'e'){
        this.isComment = false
        this.dialogDelete = true
      }
    }
  },
  mounted: function(){
    this.$store.commit('setOptionRight', 5)
    this.$store.commit('setShowMenuMobile', false)
    this.usernameLogued = this.$store.getters.getUsername
    this.fromDate = Date.now()
    // this.getHeightComments()
    var menuCenter = document.getElementById('menu-center')
    var content = document.getElementById('content-app')
    if(content){
      content.style.display = 'block';
    }
    if(menuCenter){
      menuCenter.style.opacity = 1;
      menuCenter.style.pointerEvents = 'all';
    }

  },
  methods: {
    getHeightComments: function(){
      setTimeout(function(){
        this.heightComments = window.innerHeight - (document.getElementById('description-mobile').offsetHeight + document.getElementById('image').offsetHeight + 73) + 'px'
        document.getElementById('div-comments').style.height = this.heightComments;
      }, 1500)
    },
    deleteComment: function(){
      this.dialogDelete = false
      if(this.isComment){
        _.remove(this.comments, function(c){
          return c.alias == this.aliasComment
        }.bind(this))
        this.post.comments_count = this.post.comments_count - 1
      } else {
        var comment = _.find(this.comments, function(c){
          return c.alias == this.aliasCommentReplie
        }.bind(this))
        _.remove(comment.replies, function(r){
          return r.alias == this.aliasComment
        }.bind(this))
      }
      
      axios.post(CONSTANTS.API.DELETE_COMMENT(this.alias, this.aliasComment))
      .then( (response) => {
        this.$notify({
          title: 'ELIMINAR',
          text: 'Se eliminó el comentario exitosamente.',
          duration: 2000
        });
      })
    },
    uploadImage: function(file){
      this.image = file.raw
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    uploadImageAnswer: function(comment){
      return function(file){
        comment.imageUrl = URL.createObjectURL(file.raw)
        comment.imageAnswer = file.raw
      }
    },
    goLogin: function(){
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
    },
    openDialogReport: function(){
      if(this.usernameLogued){
        this.dialogReport = true
      } else {
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    // uploadImageAnswer: function(response, file, fileList, comment){
    //   console.log('asdasd')
    //   console.log(comment)
    // },
    removeImage: function(){
      this.image = null
      this.imageUrl = null
    },
    removeImageAnswer: function(comment){
      comment.imageUrl = null
      comment.imageAnswer = null
    },
    sendComment: function(){
      if (this.usernameLogued){
        var formData = new FormData()
        if(this.image != null){
          formData.append('image', this.image)
        }
        formData.append('post', this.alias)
        formData.append('message', this.comment)
        axios.post(CONSTANTS.API.COMMENT, formData)
        .then((response) => {
          this.comment = ''
          var newComment = response.data.comment
          newComment.showReplies = newComment.showReplies || false
          newComment.showMore = false
          newComment.pageReplies = 1
          newComment.showInput = false
          newComment.commentAnswer = ''
          newComment.imageAnswer = null
          newComment.image = this.imageUrl
          newComment.replies = []
          newComment.options = [{
                                    value: 'r' + '-' + newComment.alias,
                                    label: 'Reportar'
                                    }, {
                                    value: 'e' + '-' + newComment.alias,
                                    label: 'Eliminar'
                                    }]
          this.image = null
          this.imageUrl = null
          this.comments = [newComment, ...this.comments]
          this.post.comments_count = this.post.comments_count + 1
          document.getElementById('div-comments').scrollTop = 0
        })
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    sendCommentAnswer: function(comment){
      if (this.usernameLogued){
        var formData = new FormData()
        if(comment.imageAnswer != null){
          formData.append('image', comment.imageAnswer)
        }
        formData.append('post', this.alias)
        formData.append('reply', comment.alias)
        formData.append('message', comment.commentAnswer)
        axios.post(CONSTANTS.API.COMMENT, formData)
        .then((response) => {
          comment.commentAnswer = ''
          comment.showReplies = true
          comment.showInput = false
          comment.imageUrl = null
          comment.imageAnswer = null
          var newComment = response.data.comment
          newComment.options = [{
                              value: 'r' + '-' + newComment.alias,
                              label: 'Reportar'
                              }, {
                              value: 'e' + '-' + newComment.alias,
                              label: 'Eliminar'
                              }]
          comment.replies.push(newComment)
        })
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    loadPost: function(){
      this.loading = true
      axios.get(CONSTANTS.API.POST(this.alias))
      .then((response) => {
        this.loading = false
        this.post = response.data.post
        if(this.post.vote == 0) this.option = 1
      })
    },
    showActions: function(){
      this.option = null;
      this.actions = !this.actions
    },
    selectedOption: function(val){
      this.actions = false
      this.option = val
      if(val == 2){
        this.fromDate = Date.now()
        this.pageComments = 0
        this.comments = []
      }
    },
    setTrending: function(index){
      if( this.usernameLogued){
        var user = this.users[index]
        user.trending = !user.trending
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    setLike: function(){
      if(this.usernameLogued){
        this.option = 1
        if(this.post.vote == 0){
          this.post.vote = -1
          this.post.vote_up_count--
        }
        else{
          this.post.vote = 0
          this.post.vote_up_count++
        }
        axios.post(CONSTANTS.API.LIKE(this.alias))
        .then()
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    loadComments: function($state){
      axios.get(CONSTANTS.API.COMMENTS(this.alias),{
        params: {
          from_time: this.fromDate / 1000,
          page: this.pageComments
        }
      })
      .then((response) => {
        this.pageComments++
        var list = response.data.list
        if(list.length > 0){
          list = _.map(list, function(p){
            p.showReplies = p.showReplies || false
            p.showMore = p.replies.length == 5
            p.pageReplies = 1
            p.showInput = false
            p.commentAnswer = ''
            p.imageAnswer = null
            p.imageUrl = null
            if(p.user.username == this.usernameLogued){
                p.options = [{
                  value: 'r' + '-' + p.alias,
                  label: 'Reportar'
                  }, {
                  value: 'e' + '-' + p.alias,
                  label: 'Eliminar'
                  }]
            } else{
              p.options = [{
                value: 'r' + '-' + p.alias,
                label: 'Reportar'
                }]
            }
            p.replies = _.map(p.replies, function(r){
              if(r.user.username == this.usernameLogued){
                r.options = [{
                  value: 'r' + '-' + r.alias + '-' + p.alias,
                  label: 'Reportar'
                  }, {
                  value: 'e' + '-' + r.alias + '-' + p.alias,
                  label: 'Eliminar'
                  }]
              } else{
                r.options = [{
                  value: 'r' + '-' + r.alias + '-' + p.alias,
                  label: 'Reportar'
                  }]
              }
              return r
            }.bind(this))
            return p
          }.bind(this))
          this.comments = this.comments.concat(list)
          // this.getHeightComments()
          $state.loaded();
        } else{
          $state.complete();
        }
      })
    },
    sendReport: function(){
      this.dialogReport = false
      if(this.optionReport != 99) this.textReport = this.optionsReport[this.optionReport].description
      var form = new FormData()
      form.append('reason', this.textReport)
      axios.post(CONSTANTS.API.REPORT(this.alias), form)
      .then((response) => {
        this.$notify({
          title: 'REPORTAR',
          text: 'Se reportó el post exitosamente.',
          duration: 2000
        });
      })
    },
    sendReportComment: function(){
      this.dialogReportComment = false
      if(this.optionReportComment != 99) this.textReportComment = this.optionsReportComment[this.optionReportComment].description
      var form = new FormData()
      form.append('reason', this.textReportComment)
      form.append('key', this.aliasComment)
      axios.post(CONSTANTS.API.REPORT_COMMENT, form)
      .then((response) => {
        this.textReportComment = ''
        this.optionReportComment = null
        this.$notify({
          title: 'REPORTAR',
          text: 'Se reportó el comentario exitosamente.',
          duration: 2000
        });
      })
    },
    loadOptionsReport: function(){
      axios.get(CONSTANTS.API.REPORT_POST_REASONS)
      .then((response) => {
        this.optionsReport = response.data.list
      })
    },
    loadOptionsReportComment: function(){
      axios.get(CONSTANTS.API.REPORT_POST_REASONS_COMMENT)
      .then((response) => {
        this.optionsReportComment = response.data.list
      })
    },
    getReplies: function(comment){
      axios.get(CONSTANTS.API.REPLIES(this.alias, comment.alias), {
        params: {
          page: comment.pageReplies,
          from_time: this.fromDate / 1000
        }
      })
      .then((response) => {
        comment.pageReplies++
        comment.replies = comment.replies.concat(response.data.list)
        comment.showMore = response.data.list.length == 5 ? true : false
      })

    },
    setLikeComment: function(comment){
      if(this.usernameLogued){
        if(comment.liked == 0){
          comment.liked = 1
          comment.num_likes++
        }
        else{
          comment.liked = 0
          comment.num_likes--
        }
        axios.post(CONSTANTS.API.LIKES_COMMENT(this.alias, comment.alias))
        .then()
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    }
  }
}
</script>

<style lang="scss">
  .post{
      height: 100%;
      min-height: 820px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .el-dialog{
        border-radius: 10px;
        .el-dialog__title{
          color: gray;
          font-weight: 600;
        }
        .el-dialog__body{
          color: gray;
          padding: 10px 20px 30px 20px;
          .el-radio{
            text-align: left;
            display: flex;
            margin-bottom: 10px;
            white-space: normal;
            line-height: 16px;
            &+.el-radio{
              margin-left: 0;
            } 
            .el-radio__input{
              width: 15px;
            }
            .el-radio__label{
              width: calc(100% - 15px);
            }
            .el-radio__input.is-checked .el-radio__inner{
              border-color: #4dcdd2;
              background: #4dcdd2;
            }
            .el-radio__input.is-checked+.el-radio__label{
              color: #4dcdd2;
            }
          }
        }
        .el-dialog__header{
          text-align: left;
        }
        .text-report{
          width: 100%;
          border-radius: 5px;
          border-color: #d1d1d1;
          padding: 2px 5px;
          font-size: 15px;
        }
        .cancel-report{
          font-weight: 700;
          color: #9f9f9f;
          border: 1px solid #d7d7d7;
          font-size: 16px;
          &:hover{
            background: white;
          }
        }
        .send-report{
          background: #4dcdd2;
          color: white;
          border: none;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .content{
          display: flex;
          justify-content: center;
          margin-top: 80px;
          width: 680px;
          &.extra{
            width: 1030px;
          }
          .description-mobile{
            display: none;
          }
          .info-user-mobile{
            display: none;
          }
          .image{
            width: 550px;
            height: 495px;
            border-radius: 18px 0 0 18px;
            position: relative;
            z-index: 1;
            .image-post{
              border-radius: 20px;
              background-size: contain !important;
              width: 550px;
              height: 495px;
            }
            .VueCarousel{
              width: 550px;
              .VueCarousel-pagination{
                position: absolute;
                bottom: 20px;
                li{
                  padding: 5px !important;
                }
                .VueCarousel-dot-container{
                  display: flex;
                  justify-content: center;
                  .VueCarousel-dot{
                    button{
                      background: rgba(222,222,222, 0.7) !important;
                    }
                    &.VueCarousel-dot--active{
                      margin-top: 22px !important;
                      button{
                        background: white !important;
                        width: 15px !important;
                        height: 15px !important;
                      }
                    }
                  }
                }
              }
            }
            .actions{
              position: absolute;
              background: url('../assets/images/div-actions-post.png') no-repeat center center;
              right: -30px;
              top: -3px;
              width: 300px;
              height: 512px;
              font-weight: 800;
              font-size: 20px;
              color: rgba(0,0,0, 0.1);
              padding-right: 70px;
              .block{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                height: 100%;
                position: relative;
                .el-row{
                  margin-bottom: 20px;
                  span{
                    cursor: pointer;
                  }
                  span:hover,
                  span.active{
                    color: #0dbbc2;
                  }
                }
                img{
                  position: absolute;
                  left: 22px;
                  top: 230px;
                  cursor: pointer;
                }
              }
            }
          }
          .extra-block{
            background: url('../assets/images/div-content-option.png') no-repeat center center;
            width: 406px;
            height: 512px;
            z-index: 2;
            margin-left: -57px;
            position: relative;
            .div-description{
              background: url('../assets/images/div-description.png') no-repeat center center;
              height: 120px;
              width: 406px;
              padding-top: 30px;
              position: absolute;
              z-index: 3;
              top: 0;
              &.with-hashtag{
                background: url('../assets/images/div-description-with-hashtag.png') no-repeat center center;
                height: 215px;
                margin-top: -15px;
                margin-left: 5px;
                background-size: cover;
              }
              .description{
                font-size: 15px;
                line-height: 15px;
                padding: 0 50px;
              }
              .hashtags{
                .el-row{
                  margin: 0 !important;
                  padding: 20px 55px 0 40px;
                  p{
                    color: #00B7BF;
                    font-size: 13px;
                    opacity: 0.6;
                    font-weight: bold;
                  }
                }
                
              }
              .ubication{
                text-align: right;
                font-size: 12px;
                margin-top: 15px;
                padding-right: 30px;
              }
              .arrow,
              .arrow-up{
                cursor: pointer;
                position: absolute;
                left: 195px;
              }
              .arrow{
                bottom: 15px;
              }
              .arrow-up{
                bottom: 28px;
              }
            }
            .div-padding{
              padding-right: 15px;
              margin-top: 120px;
              .comments{
                height: 320px;
                overflow-y: auto;
                padding-left: 50px;
                position: relative;
                // .container{
                //   height: 320px;
                // }
                .div-write-comment{
                  display: flex;
                  padding-left: 35px;
                  .list-image{
                    .el-upload-list{
                      display: none;
                    }
                  }
                  .actions{
                    background: url('../assets/images/circle-points.png') no-repeat center center;
                    width: 65px;
                    height: 75px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    .points{
                      height: 24px;
                      width: 7px;
                    }
                  }
                  .block{
                    flex: 1;
                    display: flex;
                    padding-top: 15px;
                    .el-input{
                      flex: 1;
                      input{
                        border: none !important;
                        caret-color: #dcdfe6;
                      }
                    }
                    button{
                      width: 57px;
                      border: none;
                      border-left: 1px solid #dcdfe6;
                      height: 20px;
                      padding: 0 13px;
                      margin-top: 10px;
                      border-radius: 0;
                      text-align: left;
                    }
                    button:hover{
                      background: none;
                    }
                  }
                }
                &.reduce{
                  height: 230px;
                }
                .spinner{
                  height: 35px;
                  width: 35px;
                }
                .info-user{
                  display: flex;
                  padding-right: 15px;
                  .image-user{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                  }
                  .default{
                    font-size: 45px;
                    color: #e7e7e7;
                  }
                  .div-text{
                    flex: 1;
                    text-align: left;
                    padding: 5px 0 0 15px;
                    .name{
                      a{
                        font-weight: 900;
                        color: #33c5cc;
                        text-decoration: inherit;
                        &:hover{
                          text-decoration: underline;
                        }
                      }
                      span{
                        font-weight: 500;
                        font-size: 12px;
                        color: #c7c7c7;
                      }
                    }
                    .details{
                      color: #c7c7c7;
                      line-height: 15px;
                      font-size: 12px;
                      .heart{
                        cursor: pointer;
                      }
                      .liked{
                        color: #0dbbc2;
                      }
                      .answer{
                        color: #0dbbc2;
                        font-size: 11px;
                        cursor: pointer;
                        &:hover{
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                  .div-menu{
                    float: right;
                    height: 100%;
                    .points{
                      float: right;
                      height: 18px;
                      margin-top: 15px;
                      cursor: pointer;
                    }
                    .el-cascader{
                      opacity: 0;
                      float: right;
                      margin-top: 17px;
                      height: 18px;
                      width: 10px;
                      margin-right: -8px;
                      .el-input{
                        height: 15px;
                        input{
                          width: 10px;
                          padding: 0;
                          height: 0;
                        }
                        .el-input__suffix{
                          display: none;
                        }
                      }
                      .el-cascader__label{
                        padding: 0;
                      }
                    }
                  }
                  
                }
                .text{
                  text-align: left;
                  font-size: 14px;
                  max-height: 155px;
                  margin-bottom: 20px;
                  padding: 10px 15px 0 0;
                  &.no-margin{
                    margin-bottom: 0;
                  }
                  img{
                    height: 100px;
                    display: block;
                    border-radius: 10px;
                  }
                }
                .replies{
                  margin-bottom: 20px;
                  .arrow-up{
                    cursor: pointer;
                  }
                  .info-user{
                    padding-left: 30px;
                    margin-top: 20px;
                  }
                  .text{
                    padding-left: 30px;
                    margin-bottom: 0;
                  }
                  .more{
                    padding-left: 30px;
                    text-align: center;
                    color: #00B7BF;
                    margin: 5px 0 10px 0;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
                .margin-loading{
                  margin-top: 100px;
                }
              }
              .comments::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
                box-shadow: inset 0 0 6px rgba(0,0,0,0);
              }
              .comments::-webkit-scrollbar{
                width: 6px;
                background-color: rgba(0,0,0,0);
              }
              .comments::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: rgba(13, 187, 194, 0.4);
              }
            }
            .image-upload{
              height: 90px;
              padding: 10px 0 0 50px;
              .image{
                height: 80px;
                width: 80px;
                border-radius: 10px;
                background-size: cover !important;
                position: relative;
                .close{
                  position: absolute;
                  top: 4px;
                  right: 8px;
                  color: white;
                  font-size: 17px;
                  cursor: pointer;
                }
              }
            }
            .div-write-comment{
              display: flex;
              padding-left: 35px;
              .list-image{
                .el-upload-list{
                  display: none;
                }
              }
              .actions{
                background: url('../assets/images/circle-points.png') no-repeat center center;
                width: 65px;
                height: 75px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                .points{
                  height: 24px;
                  width: 7px;
                }
              }
              .block{
                flex: 1;
                display: flex;
                padding-top: 15px;
                .el-input{
                  flex: 1;
                  input{
                    border: none !important;
                    caret-color: #dcdfe6;
                  }
                }
                button{
                  width: 57px;
                  border: none;
                  border-left: 1px solid #dcdfe6;
                  height: 20px;
                  padding: 0 13px;
                  margin-top: 10px;
                  border-radius: 0;
                  text-align: left;
                }
                button:hover{
                  background: none;
                }
              }
            }
            .block-tags{
              padding-right: 15px;
              .div-trending{
                padding: 0 10px 0 40px;
                height: 430px;
                overflow-y: auto;
                margin-top: 30px;
                .div-user{
                  background: url('../assets/images/div-trending.png') no-repeat center center;
                  height: 80px;
                  display: flex;
                  padding: 15px 30px 0 40px;
                  &.trending{
                    background: url('../assets/images/div-trending-shadow.png') no-repeat center center;
                    .name{
                      color: #33c5cc;
                    }
                  }
                  .user{
                    width: 45px;
                    height: 45px;
                  }
                  .info{
                    flex: 1;
                    text-align: left;
                    padding: 5px 0 0 15px;
                    .name{
                      font-weight: 900;
                    }
                    .details{
                      color: #c7c7c7;
                      line-height: 15px;
                      font-size: 12px;
                      display: flex;
                      .heart{
                        width: 10px;
                        height: 10px;
                        margin-top: 2px;
                      }
                      .heart-trending{
                        width: 14px;
                        height: 12px;
                        margin-top: 2px;
                      }
                    }
                  }
                  .switch{
                    cursor: pointer;
                    display: flex;
                    padding-top: 10px;
                    .not-following{
                      width: 40px;
                      height: 25px;
                      background: white;
                      z-index: 1;
                      border-radius: 30px;
                      margin-right: -32px;
                      text-align: center;
                      box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                    }
                    .base-switch{
                      width: 45px;
                      height: 25px;
                      background: #00B7BF;
                      opacity: 0.15;
                      border-radius: 30px;
                    }
                    .following{
                      width: 40px;
                      height: 25px;
                      background: #00B7BF;
                      z-index: 1;
                      border-radius: 30px;
                      margin-left: -32px;
                      text-align: center;
                      box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                    }
                  }
                } 
              }
              .div-trending::-webkit-scrollbar-track{
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
                box-shadow: inset 0 0 6px rgba(0,0,0,0);
              }
              .div-trending::-webkit-scrollbar{
                width: 6px;
                background-color: rgba(0,0,0,0);
              }
              .div-trending::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: rgba(13, 187, 194, 0.4);
              }
            }
            .arrow-right{
              position: absolute;
              left: 10px;
              top: 242px;
              cursor: pointer;
            }
          }
          .div-comments-mobile{
            display: none;
          }
          .div-write-comment-mobile{
            display: none;
          }
          .options{
            height: 530px;
            margin-left: -7px;
            position: relative;
            z-index: 2;
            width: 114px;
            &.normal{
              background: url('../assets/images/div-options-post.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
            &.background-likes{
              background: url('../assets/images/div-option-post-likes.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 126px;
              margin-left: -15px;
            }
            &.background-comments{
              background: url('../assets/images/div-option-post-comments.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 126px;
              margin-left: -15px;
            }
            &.background-tags{
              background: url('../assets/images/div-option-post-tag.png');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              width: 126px;
              margin-left: -15px;
            }
            .div-user{
              background: url('../assets/images/div-user.png');
              background-position: center;
              background-repeat: no-repeat;
              height: 170px;
              width: 130px;
              margin: -18px 0 0 -7px;
              padding: 10px 0;
              position: relative;
              &.left{
                margin-left: -2px;
              }
              .above{
                position: relative;
                .image-user{
                  position: absolute;
                  left: 37px;
                  top: 16px;
                  border-radius: 50%;
                  width: 55px;
                }
                .default{
                  font-size: 58px;
                  color: #e7e7e7;
                  position: absolute;
                  left: 37px;
                  top: 15px;
                }
                .icon-check{
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                }
              }
              .under{
                margin-top: -10px;
                a{
                  color: #00B7BF;
                  text-decoration: inherit;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                .name{
                  font-size: 18px;
                  letter-spacing: -2px;
                  color: #33c5cc;
                  padding: 0 15px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 22px;
                  font-weight: bold;
                }
                .red{
                  font-size: 11px;
                  line-height: 12px;
                }
              }
              .arrow{
                position: absolute;
                bottom: 20px;
                left: 58px;
              }
            }
            .div-likes,
            .div-comments{
              width: 100%;
              padding-top: 22px;
              cursor: pointer;
              p{
                font-weight: bold;
                color: #d5d4d4;
                font-size: 16px;
                span{
                  font-size: 14px;
                }
              }
              &.div-selected{
                background: url('../assets/images/div-likes-selected.png') no-repeat center center;
                height: 105px;
              }
              &.div-option{
                .likes{
                  content: url('../assets/images/likes-post-selected.png');
                  width: 35px;
                }
                .comments{
                  content: url('../assets/images/comments-post-selected.png')
                }
                p{
                  color: #00B7BF;
                }
              }
            }
            // .div-likes.div-option+ .div-comments{
            //   padding-top: 5px;
            // }
            .div-tags{
              cursor: pointer;
              padding-top: 22px;
              &.div-option{
                background: url('../assets/images/div-likes-selected.png') no-repeat center center;
                height: 105px;
                margin-top: 19px;
              }
              p{
                font-weight: bold;
                color: #00B7BF;
                font-size: 16px;
                line-height: 9px;
                margin-top: 4px;
              }
              span{
                font-size: 13px;
              }
            }
            .div-comments.div-option+ .div-tags{
              padding-top: 5px;
            }
            .points{
              position: absolute;
              bottom: 0;
              cursor: pointer;
              left: 4px;
              &.left{
                left: 10px;
              }
            }
          }
      }
      
  }
  @media only screen and (max-width: 1200px){
    .post{
      .content{
        &.extra{
          width: 800px;
        }
        .image{
          width: 325px;
          .image-post{
            width: 325px;
          }
          .VueCarousel{
            width: 325px;
          }
        }
        .options{
          margin-left: -5px;
        }
      }
    }
  }
  @media only screen and (max-width: 992px){
    .post{
      display: block;
      min-height: auto;
      padding-bottom: 60px;
      .content{
        width: 100%;
        height: 100%;
        // display: block;
        flex-direction: column;
        margin-top: 0;
        .description-mobile{
          display: block;
          p{
            font-size: 17px;
            line-height: 22px;
            padding: 15px 40px;
          }
          
        }
        .info-user-mobile{
          display: flex;
          width: 100%;
          .div-left-mobile{
            background: url('../assets/images/mobile/div-user-post-drop.png') no-repeat center center;
            height: 79px;
            width: 95px;
            text-align: left;
            margin-top: -6px;
            z-index: 2;
            padding: 12px 0 0 25px;
            .face-user{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .default{
              color: #e7e7e7;
              font-size: 50px;
            }
          }
          .div-right-mobile{
            width: calc(100% - 95px);
            margin-top: -6px;
            z-index: 2;
            margin-left: -1px;
            padding-top: 6px;
            .block{
              background: white;
              height: 64px;
              display: flex;
              .info{
                text-align: left;
                flex: 1;
                padding: 10px 30px 0 0;
                a{
                  color: #00B7BF;
                  text-decoration: inherit;
                }
                p{
                  font-size: 18px;
                  letter-spacing: -2px;
                  color: #00B7BF;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 21px;
                  font-weight: bold;
                }
                .likes{
                  color: #00B7BF;
                }
                .likes-gray{
                  color: #bfbfbf;
                }
                img{
                  height: 12px;
                }
              }
              .options-post{
                padding: 19px 20px 0 0;
              }
            }
          }
        }
        .image{
          width: 100%;
          // height: 380px;
          height: auto;
          flex: 1;
          .VueCarousel{
            width: 100%;
            height: 100%;
            .VueCarousel-pagination{
              bottom: 0;
            }
            .VueCarousel-wrapper{
              height: 100%;
              .VueCarousel-inner{
                height: 100% !important;
              }
            }
          }
          .image-post{
            width: 100%;
            height: 100%;
            border-radius: 0;
            background-size: cover !important;
          }
        }
        .div-comments-mobile{
          // flex: 1;
          display: block;
          height: 310px !important; 
          width: calc(100% - 5px);
          .comments{
            height: 310px !important;
            overflow-y: auto;
            position: relative;
            
            &.reduce{
              height: 230px;
            }
            .div-write-comment{
              display: flex;
              padding-left: 35px;
              .list-image{
                margin-top: -8px;
                .el-upload-list{
                  display: none;
                }
              }
              .actions{
                background: url('../assets/images/circle-points.png') no-repeat center center;
                width: 65px;
                height: 75px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                .points{
                  height: 24px;
                  width: 7px;
                }
              }
              .block{
                flex: 1;
                display: flex;
                padding-top: 9px;
                .el-input{
                  flex: 1;
                  input{
                    border: none !important;
                    caret-color: #dcdfe6;
                  }
                }
                button{
                  width: 57px;
                  border: none;
                  border-left: 1px solid #dcdfe6;
                  height: 20px;
                  padding: 0 13px;
                  margin-top: 10px;
                  border-radius: 0;
                  text-align: left;
                }
                button:hover{
                  background: none;
                }
              }
            }
            .spinner{
              height: 35px;
              width: 35px;
            }
            .info-user{
              display: flex;
              padding-right: 15px;
              padding-left: 30px;
              .image-user{
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
              .default{
                font-size: 40px;
                color: #e7e7e7;
              }
              .div-text{
                flex: 1;
                text-align: left;
                padding: 5px 0 0 15px;
                .name{
                  a{
                    font-weight: 900;
                    color: #33c5cc;
                    text-decoration: inherit;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                  span{
                    font-weight: 500;
                    font-size: 12px;
                    color: #c7c7c7;
                  }
                }
                .details{
                  color: #c7c7c7;
                  line-height: 15px;
                  font-size: 12px;
                  .heart{
                    cursor: pointer;
                  }
                  .liked{
                    color: #0dbbc2;
                  }
                  .answer{
                    color: #0dbbc2;
                    font-size: 11px;
                    cursor: pointer;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
              }
              .div-menu{
                float: right;
                height: 100%;
                .points{
                  float: right;
                  height: 18px;
                  margin-top: 15px;
                  cursor: pointer;
                }
                .el-cascader{
                  opacity: 0;
                  float: right;
                  margin-top: 17px;
                  height: 18px;
                  width: 10px;
                  margin-right: -8px;
                  .el-input{
                    height: 15px;
                    input{
                      width: 10px;
                      padding: 0;
                      height: 0;
                    }
                    .el-input__suffix{
                      display: none;
                    }
                  }
                  .el-cascader__label{
                    padding: 0;
                  }
                }
              }
              
            }
            .text{
              text-align: left;
              font-size: 14px;
              max-height: 155px;
              margin-bottom: 20px;
              padding: 10px 15px 0 30px;
              &.no-margin{
                margin-bottom: 0;
              }
              img{
                height: 100px;
                display: block;
                border-radius: 10px;
              }
            }
            .replies{
              margin-bottom: 20px;
              .replie{
                padding-left: 35px;
              }
              .arrow-up{
                cursor: pointer;
              }
              .info-user{
                padding-left: 30px;
                margin-top: 20px;
              }
              .text{
                padding-left: 30px;
                margin-bottom: 0;
              }
              .more{
                padding-left: 30px;
                text-align: center;
                color: #00B7BF;
                margin: 5px 0 10px 0;
                font-size: 14px;
                cursor: pointer;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            .margin-loading{
              margin-top: 70px;
            }
          }
          .image-upload{
            height: 80px;
            padding: 10px 0 0 50px;
            .image{
              height: 70px;
              width: 70px;
            }
          }
          .comments::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
            box-shadow: inset 0 0 6px rgba(0,0,0,0);
          }
          .comments::-webkit-scrollbar{
            width: 6px;
            background-color: rgba(0,0,0,0);
          }
          .comments::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: rgba(13, 187, 194, 0.4);
          }
        }
        .div-write-comment-mobile{
          display: flex;
          position: fixed;
          bottom: 0;
          height: 60px;
          z-index: 2;
          width: 100%;
          box-shadow: 0px 4px 15px rgba(51, 197, 204, 0.1);
          background: white;
          .list-image{
            margin-top: -8px;
            .el-upload-list{
              display: none;
            }
          }
          .actions{
            background: url('../assets/images/circle-points.png') no-repeat center center;
            width: 65px;
            height: 75px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            .points{
              height: 24px;
              width: 7px;
            }
          }
          .block{
            flex: 1;
            display: flex;
            padding-top: 9px;
            .el-input{
              flex: 1;
              input{
                border: none !important;
                caret-color: #dcdfe6;
              }
            }
            button{
              width: 57px;
              border: none;
              border-left: 1px solid #dcdfe6;
              height: 20px;
              padding: 0 13px;
              margin-top: 10px;
              border-radius: 0;
              text-align: left;
            }
            button:hover{
              background: none;
            }
          }
        }
        .options{
          display: none;
        }
        .options-post-mobile{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 2;
          // height: 100px;
          .border{
            background: url('../assets/images/mobile/top_bar_bg@3x.png') no-repeat center center;
            height: 100px;
            background-size: cover;
            padding-top: 60px;
          }
          .block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;
            background: white;
            font-weight: 800;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.1);
            .el-row{
              margin-bottom: 20px;
              span{
                cursor: pointer;
              }
              span:hover,
              span.active{
                color: #0dbbc2;
              }
            }
            img{
              position: absolute;
              left: 22px;
              top: 230px;
              cursor: pointer;
            }
          }
        }
      }
      
    }
  }
  @media only screen and (max-width: 768px){
    .post{
      .content{
        .description-mobile{
          p{
            font-size: 15px;
            line-height: 21px;
          }
        }
        .div-comments-mobile{
          height: 290px !important;
          .comments{
            height: 290px !important;
            &.reduce{
              height: 220px !important;
            }
          }
          .image-upload{
              height: 70px;
              padding: 10px 0 0 50px;
              .image{
                height: 60px;
                width: 60px;
                border-radius: 10px;
                background-size: cover !important;
                position: relative;
                .close{
                  position: absolute;
                  top: 4px;
                  right: 8px;
                  color: white;
                  font-size: 17px;
                  cursor: pointer;
                }
              }
            }
          
        }
        // .image{
        //   height: 340px;
        //   .image-post{
        //     height: 340px;
        //   }
        // }
      }
    }
  }
  @media only screen and (max-width: 480px){
    .post{
      .content{
        .description-mobile{
          p{
            font-size: 13px;
            line-height: 20px;
          }
        }
        .div-comments-mobile{
          height: 250px !important;
          .comments{
            height: 250px !important;
            &.reduce{
              height: 200px !important;
            }
          }
          .image-upload{
            height: 50px;
            .image{
              height: 40px;
              width: 40px;
            }
          }
        }
      }
      .dialog-report{
        .el-dialog{
          width: 320px !important;
        }
      }
      .dialog-report-comment{
        .el-dialog{
          width: 320px !important;
        }
      }
    }
  }
</style>
