<template>
<transition name="fade" mode="out-in">
  <div class="profile">
    <div class="container">
      <el-row  class="background-profile">
        <el-col :span="24" class="data-user">
          <p>{{postsCount}}<br><span>Publicaciones</span></p>
          <p>{{followersCount}}<br><span>Seguidores</span></p>
          <p>1320<br><span>Seguidos</span></p>
        </el-col>
      </el-row>
      <el-row class="menu" v-if="profile">
        <div class="left">
          <div class="div-left">
            <img :src="profile.profile.image_profile" class="face-user" v-if="profile.profile.image_profile">
            <i class="fas fa-user-circle default" v-else></i>
            <img src="../assets/images/check-profile.png" class="icon-check">
          </div>
          <div class="div-right">
            <p>{{profile.profile.nickname}}</p>
            <span>@{{profile.username}}</span>
          </div>
        </div>
        <div class="options">
          <div class="options-menu">
            <router-link :to="{ name: 'profile', params: { username: username, section: 'posts' }}">
            <div :class="{'selected': option == 1}">
              <img src="../assets/images/galleta-icon.png"  v-if="option != 1">
              <img src="../assets/images/galleta-icon-selected.png" v-else>
            </div>
            </router-link>
            <div :class="{'selected': option == 2}">
              <img src="../assets/images/heart-icon.png" @click="option = 2" v-if="option != 2">
              <img src="../assets/images/heart-icon-selected.png" v-else>
            </div>
            <div :class="{'selected': option == 3}">
              <img src="../assets/images/vector-icon.png" @click="option = 3" v-if="option != 3">
              <img src="../assets/images/vector-icon-selected.png" v-else>
            </div>
            <div :class="{'selected': option == 4, 'ticket': true}">
              <img src="../assets/images/ticket-icon.png" class="ticket" @click="option = 4" v-if="option != 4">
              <img src="../assets/images/ticket-icon-selected.png" class="ticket" v-else>
            </div>
          </div>
        </div>
        <div :class="{'right': true, 'not-show': usernameLogued == username}">
          <p v-if="following">Siguiendo</p>
          <p v-else>Seguir</p>
          <div class="trending" @click="setTrending">
            <div class="not-following" v-show="!following">
              <img src="../assets/images/check-blue.png">
            </div>
            <div class="base-switch"></div>
            <div class="following" v-show="following">
              <img src="../assets/images/check-white.png">
            </div>
          </div>
        </div>
      </el-row>
      <el-row class="description" v-if="profile">
        <div>
          <!-- <p class="text">“{{profile.profile.introduction| truncate(129, '...'}}"</p> -->
          <p class="text">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sdf sdfsdfs fskdjfh sdkfhsdfk hsdf kdshfkdhsf dhsfjk dhs'| truncate(122, '...')}}</p>
          <p class="text-mobile">{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.sdf sdfsdfs fskdjfh sdkfhsdfk hsdf kdshfkdhsf dhsfjk dhs'| truncate(80, '...')}}</p>
          <div class="view">
            <div :class="{'selected': mode == 1}" @click="mode = 1">
              <img src="../assets/images/mode-view-1.png" v-if="mode != 1">
              <img src="../assets/images/mode-view-1-selected.png" v-if="mode == 1">
            </div>
            <div :class="{'selected': mode == 2}" @click="mode = 2">
              <img src="../assets/images/mode-view-2.png" v-if="mode != 2">
              <img src="../assets/images/mode-view-2-selected.png" v-else>
            </div>
            <div :class="{'selected': mode == 3}" @click="mode = 3">
              <img src="../assets/images/mode-view-3.png" v-if="mode != 3">
              <img src="../assets/images/mode-view-3-selected.png" v-else>
            </div>
          </div>
        </div>
        <img src="../assets/images/arrow-up-profile.png" class="arrow">
      </el-row>
      <el-row class="options-mobile">
        <div :class="{'selected': option == 1}">
          <router-link :to="{ name: 'profile', params: { username: username, section: 'posts' }}"><img src="../assets/images/galleta-icon.png"  v-if="option != 1"></router-link>
          <img src="../assets/images/galleta-icon-selected.png" v-if="option == 1">
        </div>
        <div :class="{'selected': option == 2}">
          <img src="../assets/images/heart-icon.png" @click="option = 2" v-if="option != 2">
          <img src="../assets/images/heart-icon-selected.png" v-else>
        </div>
        <div :class="{'selected': option == 3}">
          <img src="../assets/images/vector-icon.png" @click="option = 3" v-if="option != 3">
          <img src="../assets/images/vector-icon-selected.png" v-else>
        </div>
        <div :class="{'selected': option == 4, 'ticket': true}">
          <img src="../assets/images/ticket-icon.png" class="ticket" @click="option = 4" v-if="option != 4">
          <img src="../assets/images/ticket-icon-selected.png" class="ticket" v-else>
        </div>
      </el-row>
      <el-row v-infinite-scroll="loadItems" :infinite-scroll-disabled="busy" infinite-scroll-distance="0" class="items">
        <div class="container-items">
          <el-row :gutter="20" :class="{'content-items': true, 'mode-two': mode == 2, 'mode-one': mode == 1}">
            <div v-for="item, index in items" class="block-item el-col el-col-24 el-col-xs-24 el-col-sm-12 el-col-md-6 el-col-lg-4 el-col-xl-4">
              <div class="item">
                <div class="content-image">
                  <el-row class="div-text">
                      <p class="text">{{item.description | truncate(69, '...')}}</p>
                  </el-row>
                  <router-link :to="'/post/' + item.alias">
                    <el-row class="div-image" :style="{'background-image': 'url(' + item.image + ')'}">
                    </el-row>
                  </router-link>
                </div>
                <div class="meme-info">
                  <div class="div-left">
                    <img :src="item.user.profile.image_profile" class="face-user" v-if="item.user.profile.image_profile">
                    <i class="fas fa-user-circle default" v-else></i>
                  </div>
                  <div class="div-right">
                    <div class="div-info">
                      <router-link :to="{name:'profile', params: {username: item.user.username, section: 'posts'}}"><p>{{item.user.profile.nickname}}</p></router-link>
                      <div class="info">
                        <img src="../assets/images/heart.png" v-if="item.vote == 0" @click="setLike(item.alias, index)">
                        <img src="../assets/images/heart-gray.png" v-else @click="setLike(item.alias, index)">&nbsp;
                        <span :class="{'likes': item.vote == 0, 'likes-gray': item.vote != 0}">{{item.vote_up_count}}</span>&nbsp;
                        <router-link :to="'/post/' + item.alias + '/'"><img src="../assets/images/comment.png"></router-link>&nbsp;
                        <span class="comments">{{item.comments_count}}</span>
                      </div>
                    </div>
                    <div class="div-menu" v-if="usernameLogued">
                        <img src="../assets/images/points.png" slot="reference">
                        <el-cascader
                          :options="item.options"
                          v-model="actionMeme">
                        </el-cascader>
                    </div>
                    <div class="div-menu" v-else>
                      <img src="../assets/images/points.png" @click="goLogin">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-row>
        </div>
        <div style="height:50px; display:flex; justify-content:center" :class="{'margin-loading': page == 0}">
          <circle-2 background="#00b7bf" v-if="loading"></circle-2>
        </div>
      </el-row>
    </div>
    <el-dialog
      title="REPORTAR"
      :visible.sync="dialogReport"
      width="500px"
      :close-on-press-escape="true">
      <el-radio v-model="optionReport" :label="index" v-for="option, index in optionsReport">{{option.description}}</el-radio>
      <el-radio v-model="optionReport" label="99">Otro</el-radio>
      <textarea v-model="textReport" rows="3" class="text-report" placeholder="Escribe tu motivo" :disabled="optionReport != 99"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogReport = false" class="cancel-report">Cancelar</el-button>
        <el-button class="send-report" @click="sendReport" :disabled="(textReport.length == 0  && optionReport == 99) || optionReport == null">Enviar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="ELIMINAR"
      :visible.sync="dialogDelete"
      width="300px"
      :close-on-press-escape="true">
      <p>¿Estás seguro que desear eliminar?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDelete = false" class="cancel-report">No</el-button>
        <el-button class="send-report" @click="deleteMeme">Si, estoy seguro</el-button>
      </span>
    </el-dialog>
  </div>
  
</transition>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'
import {CONSTANTS} from '../utils/Constants.js'
import {Circle2} from 'vue-loading-spinner'
export default {
  name: 'profile',
  data: () =>{
      return {
        username: null,
        usernameLogued: '',
        profile: null,
        busy: false,
        page: 0,
        loading: false,
        items: [],
        following: false,
        postsCount: 0,
        followersCount: 0,
        option: null,
        mode: 3,
        actionMeme: null,
        aliasMeme: '',
        dialogReport: false,
        dialogDelete: false,
        optionReport: null,
        optionsReport: [],
        textReport: ''
      }
  },
  watch: {
    '$route' (to, from) {
      // CUANDO ESTAS EN OTRO PERFIL Y LE DAS CLIC A TU PERFIL
      if(to.params.username != this.username){
        this.username = to.params.username
        this.loadProfile();
        this.items = []
        this.loadItems();
      }
      this.getElements();  
    },
    actionMeme: function(value){
      if (value.length == 1){
        value = value[0]
      } else {
        value = value[1]
      }
      var action = value.split('-')[0]
      this.aliasMeme = value.split('-')[1]
      if(action == 'r'){
        this.dialogReport = true
      }
      if(action == 'e'){
        this.dialogDelete = true
      }
      if(action == 'w'){
        this.shareWhatssap();
      }
      if(action == 'f'){
        this.shareFacebook();
      }
      if(action == 't'){
        this.shareTwitter();
      }
    }
  },
  components: {
    Circle2
  },
  created: function(){
    this.$store.commit('setShowOptionsCenter', false);
    this.username = this.$route.params.username
    this.usernameLogued = this.$store.getters.getUsername
    this.loadProfile();
  },
  mounted: function(){
    // document.getElementById('menu-center').style.opacity = 0;
    // document.getElementById('menu-center').style.pointerEvents = 'none';
    if(this.usernameLogued == this.username){
      this.$store.commit('setOptionRight', 3)
    } else{
      this.$store.commit('setOptionRight', null)
    }
    this.getElements();
    this.loadOptionsReport();
    var menuCenter = document.getElementById('menu-center')
    var content = document.getElementById('content-app')
    if(content){
      content.style.display = 'block';
    }
    if(menuCenter){
      menuCenter.style.opacity = 0;
      menuCenter.style.pointerEvents = 'none';
    }
    this.$store.commit('setShowMenuMobile', true)
  },
  methods:{
    shareWhatssap: function(){
      var url = location.origin + '/post/'
      return window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(url + this.aliasMeme));
    },
    shareTwitter: function(){
      var url = location.origin + '/post/'
      return window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(url + this.aliasMeme));
    },
    shareFacebook: function(){
      var url = location.origin + '/post/' + this.aliasMeme
      return FB.ui({
        method: 'share',
        href: url
      }, function(response) {});
    },
    loadOptionsReport: function(){
      axios.get(CONSTANTS.API.REPORT_POST_REASONS)
      .then((response) => {
        this.optionsReport = response.data.list
      })
    },
    sendReport: function(){
      this.dialogReport = false
      if(this.optionReport != 99) this.textReport = this.optionsReport[this.optionReport].description
      var form = new FormData()
      form.append('reason', this.textReport)
      axios.post(CONSTANTS.API.REPORT(this.aliasMeme), form)
      .then((response) => {
        this.textReport = ''
        this.optionReport = null
        this.$notify({
          title: 'REPORTAR',
          text: 'Se reportó el post exitosamente.',
          duration: 2000
        });
      })
    },
    deleteMeme: function(){
      this.dialogDelete = false
      _.remove(this.items, function(i){
        return i.alias == this.aliasMeme
      }.bind(this))
      axios.get(CONSTANTS.API.DELETE_POST(this.aliasMeme))
      .then( (response) => {
        this.$notify({
          title: 'ELIMINAR',
          text: 'Se eliminó el post exitosamente.',
          duration: 2000
        });
      })
    },
    goLogin: function(){
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
    },
    getElements: function(){
      var section = this.$route.params.section
      if(section == 'posts'){
        this.option = 1
        this.page = 0
        this.loadItems();
        return
      }
    },
    loadItems: function(){
      this.busy = true
      this.loading = true
      if(this.option == 1){
        axios.get(CONSTANTS.API.PROFILE_POSTS(this.username), {
          params: {
            page: this.page
          }
        })
        .then((response) => {
          this.loading = false
          if(response.data.list.length > 0){
            this.items = this.items.concat(response.data.list)
            _.forEach(this.items, function(i){
              if(this.usernameLogued == i.user.username){
                i['options'] = [{
                  value: 'r' + '-' + i.alias,
                  label: 'Reportar'
                  }, {
                  value: 'e' + '-' + i.alias,
                  label: 'Eliminar'
                  },{
                  value: 'compartir',
                  label: 'Compartir',
                  children: [{
                      value: 'f' + '-' + i.alias,
                      label: 'Facebook'
                    }, {
                      value: 'w' + '-' + i.alias,
                      label: 'Whatssap'
                    }, {
                      value: 't' + '-' + i.alias,
                      label: 'Twitter'
                    }
                  ]
                }]
              } else{
                i['options'] = [{
                  value: 'r' + '-' + i.alias,
                  label: 'Reportar'
                  }, {
                  value: 'compartir',
                  label: 'Compartir',
                  children: [{
                      value: 'f' + '-' + i.alias,
                      label: 'Facebook'
                    }, {
                      value: 'w' + '-' + i.alias,
                      label: 'Whatssap'
                    }, {
                      value: 't' + '-' + i.alias,
                      label: 'Twitter'
                    }
                  ]
                }]
              }
            }.bind(this))
            this.page++
            this.busy = false
          }
          
        })
      }
    },
    loadProfile: function(){
        axios.get(CONSTANTS.API.PROFILE(this.username))
        .then((response) => {
            this.profile = response.data.user
            this.postsCount = response.data.posts_count
            this.followersCount = response.data.followers_count
            this.following = response.data.following
        })
    },
    setTrending: function(){
      if(this.usernameLogued){
        if(this.following){
          this.following = !this.following
          axios.get(CONSTANTS.API.UNFOLLOW(this.username))
          .then((response) => {
          })
          return
        }
        this.following = !this.following
        axios.get(CONSTANTS.API.FOLLOW(this.username))
        .then((response) => {
        })
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    setLike: function(alias, index){
      if(this.usernameLogued){
        var item = this.items[index]
        if(item.vote == -1){
          item.vote = 0
          item.vote_up_count++
        } 
        else{
          item.vote = -1
          item.vote_up_count--
        }
        axios.post(CONSTANTS.API.LIKE(alias))
        .then()
      } else{
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    }
  }
}
</script>

<style lang="scss">
  .profile{
      min-height: 100%;
      background: url(/img/background-memes.98cbab7a.png) repeat center center;
      .container{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .background-profile{
              max-width: 1920px;
              background: url('../assets/images/background-profile.png') no-repeat center center;
              background-size: cover;
              height: 415px;
              width: 100%;
              .data-user{
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 35px;
                p{
                  padding: 0 15px;
                  color: white;
                  font-weight: 800;
                  font-size: 30px;
                  line-height: 17px;
                  span{
                    font-size: 18px;
                    font-weight: 500;
                  }
                }
              }
          }
          .menu{
              background: url('../assets/images/menu-profile.png') no-repeat;
              max-width: 1920px;
              width: 100%;
              height: 255px;
              z-index: 2;
              // background-size: cover;
              margin-top: -131px;
              padding-top: 100px;
              position: relative;
              display: flex;
              .left{
                text-align: left;
                display: flex;
                height: 100%;
                padding-left: 50px;
                .div-left{
                  position: relative;
                  .face-user{
                    width: 95px;
                    height: 95px;
                    border-radius: 50%;
                  }
                  .default{
                    font-size: 95px;
                    color: #e7e7e7;
                  }
                  .icon-check{
                    position: absolute;
                    bottom: 40px;
                    right: -13px;
                  }
                }
                .div-right{
                  padding: 30px 0 0 40px;
                  flex: 1;
                  p{
                    font-size: 24px;
                    color: #00B7BF;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 30px;
                    font-weight: bold;
                  }
                }
              }
              .options{
                // position: absolute;
                // bottom: 45px;
                // left: calc(50% - 249px);
                display: flex;
                justify-content: center;
                flex: 1;
                .options-menu{
                  background: url('../assets/images/div-options-profile.png') no-repeat;
                  background-size: contain;
                  width: 460px;
                  height: 100px;
                  display: flex;
                  justify-content: space-around;
                  margin-top: 11px;
                  padding: 0 15px;
                  div{
                    // margin-left: 25px;
                    margin-top: 23px;
                    border-radius: 25px;
                    height: 55px;
                    padding: 13px 25px 0 25px;
                    cursor: pointer;
                    &.selected{
                      box-shadow: -1px 0px 10px 5px rgba(0,183,191,0.16);
                      padding-top: 15px;
                      margin-top: 21px;
                    }
                    // &:first-child{
                    //   margin-left: 0
                    // }
                    &.ticket{
                      padding: 12px 25px 0 25px;
                    }
                    img{
                      height: 22px;
                      &.ticket{
                        height: 29px;
                      }
                    }
                  } 
                }
                // div:last-child{
                //   margin-top: 40px;
                // }
              }
              .right{
                display: flex;
                justify-content: flex-end;
                padding: 45px 100px 0 0;
                height: 100%;
                &.not-show{
                  opacity: 0;
                  pointer-events: none;
                }
                p{
                  margin-right: 15px;
                }
                .trending{
                  display: flex;
                  cursor: pointer !important;
                  .not-following{
                    width: 40px;
                    height: 25px;
                    background: white;
                    z-index: 1;
                    border-radius: 30px;
                    margin-right: -32px;
                    margin-top: -1px;
                    text-align: center;
                    box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                  }
                  .base-switch{
                    cursor: pointer !important;
                    width: 45px;
                    height: 25px;
                    background: #00B7BF;
                    opacity: 0.15;
                    border-radius: 30px;
                  }
                  .following{
                    width: 40px;
                    height: 25px;
                    background: #00B7BF;
                    z-index: 1;
                    border-radius: 30px;
                    margin-left: -32px;
                    text-align: center;
                    box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                  }
                }
                
              }
          }
          .description{
            background: url('../assets/images/description-profile.png') no-repeat center center;
            max-width: 1920px;
            width: 100%;
            height: 130px;
            margin-top: -50px;
            display: flex;
            z-index: 1;
            justify-content: center;
            padding: 40px 0;
            position: relative;
            .text{
              max-width: 500px;
              // white-space: nowrap;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // line-height: 21px;
            }
            .text-mobile{
              display: none;
            }
            .view{
              position: absolute;
              height: 60px;
              width: 240px;
              right: 85px;
              bottom: 44px;
              display: flex;
              padding: 5px 13px 2px 5px;
              background: white;
              border-radius: 50px;
              box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
              div{
                padding: 15px 30px;
                border-radius: 25px;
                cursor: pointer;
                &.selected{
                  box-shadow: -1px 0px 10px 5px rgba(0,183,191,0.16);
                }
              }
            }
            .arrow{
              position: absolute;
              bottom: 8px;
              margin-left: 5px;
            }
          }
          .options-mobile{
            display: none;
          }
          .items{
            width: 100%;
            max-width: 1920px;
            margin-top: -35px;
            padding: 0 40px;
            // background: url('../assets/images/background-memes.png') repeat center center;
            // min-height: 400px;
            .container-items{
              display: flex;
              justify-content: center;
              .content-items{
                margin-top: 50px;
                width: auto;
                &.mode-two{
                  width: 500px;
                }
                &.mode-one{
                  width: 250px;
                }
                .block-item{
                  width: 250px;
                  display: inline-block;
                  padding: 0 10px;
                  margin-bottom: 20px;
                  .item{
                    display: flex;
                    flex-direction: column;
                    .content-image{
                      padding: 0 5px;
                      z-index: 2;
                      .div-text{
                        padding: 25px;
                        background: white;
                        border-radius: 30px 30px 0 0;
                        height: 85px;
                        text-align: initial;
                        .text{
                          line-height: 16px;
                          font-size: 14px;
                          letter-spacing: -0.03em;
                        }
                      }
                      .div-image{
                        background-size: cover;
                        height: 150px;
                        background-position: center;
                        background-repeat: no-repeat;
                      }
                    }
                    .meme-info{
                      z-index: 3;
                      margin-top: -25px;
                      height: 71px;
                      display: flex;
                      .div-left{
                        border-radius: 50px;
                        height: 71px;
                        width: 71px;
                        background: white;
                        padding: 17px;
                        -webkit-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
                        -moz-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
                        box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
                        .face-user{
                          width: 34px;
                          height: 34px;
                          border-radius: 50%;
                        }
                        .default{
                          color: #e7e7e7;
                          font-size: 34px;
                        }
                      }
                      .div-right{
                        width: calc(100% - 53px);
                        height: 50px;
                        background: white;
                        -webkit-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
                        -moz-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
                        box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
                        margin-top: 11px;
                        margin-left: -18px;
                        border-radius: 0 20px 20px 0;
                        padding: 6px 15px 10px 20px;
                        text-align: left;
                        display: flex;
                        .div-info{
                            width: calc(100% - 8px);
                            padding-right: 15px;
                            a{
                              text-decoration: inherit;
                              color:#00B7BF;
                              &:hover{
                                text-decoration: underline;
                              }
                            }
                            p{
                                font-size: 18px;
                                letter-spacing: -2px;
                                color: #00B7BF;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 21px;
                                font-weight: bold;
                            }   
                            .info{
                              font-size: 12px;
                              img{
                                cursor: pointer;
                              }
                              .likes{
                                color: #00B7BF;
                              }
                              .likes-gray{
                                color: #bfbfbf;
                              }
                            }   
                        }
                        .div-menu{
                          float: right;
                          height: 100%;
                          margin-left: -5px;
                          padding-top: 7px;
                          img{
                            float: right;
                            margin-left: -5px;
                            margin-top: 4px;
                            cursor: pointer;
                          }
                          .el-cascader{
                            opacity: 0;
                            float: right;
                            margin-top: 5px;
                            height: 15px;
                            width: 10px;
                            .el-input{
                              height: 15px;
                              input{
                                width: 10px;
                                padding: 0;
                                height: 0;
                              }
                              .el-input__suffix{
                                display: none;
                              }
                            }
                            .el-cascader__label{
                              padding: 0;
                            }
                          }
                        }  
                      }
                    }
                  }
                }
              }
            }
            .margin-loading{
              margin-top: 60px;
            }
          }
          
      }
      .el-dialog{
        border-radius: 10px;
        .el-dialog__title{
          color: gray;
          font-weight: 600;
        }
        .el-dialog__body{
          color: gray;
          padding: 10px 20px 30px 20px;
          .el-radio{
            text-align: left;
            display: block;
            margin-bottom: 10px;
            &+.el-radio{
              margin-left: 0;
            } 
            .el-radio__input.is-checked .el-radio__inner{
              border-color: #4dcdd2;
              background: #4dcdd2;
            }
            .el-radio__input.is-checked+.el-radio__label{
              color: #4dcdd2;
            }
          }
        }
        .el-dialog__header{
          text-align: left;
        }
        .text-report{
          width: 100%;
          border-radius: 5px;
          border-color: #d1d1d1;
          padding: 2px 5px;
          font-size: 15px;
        }
        .cancel-report{
          font-weight: 700;
          color: #9f9f9f;
          border: 1px solid #d7d7d7;
          font-size: 16px;
          &:hover{
            background: white;
          }
        }
        .send-report{
          background: #4dcdd2;
          color: white;
          border: none;
          font-size: 16px;
          font-weight: 700;
        }
      }
      
  }
  @media only screen and (max-width: 1200px){
    .profile{
      .container{
        .menu{
          .left{
            .div-right{
              p{
                font-size: 20px;
              }
            }
          }
          .options{
            .options-menu{
              width: 360px;
              margin-top: 19px;
              div{
                margin-top: 16px;
                border-radius: 23px;
                padding: 12px 20px 0 20px;
                height: 50px;
                &.selected{
                  padding-top: 14px;
                  margin-top: 13px;
                }
                img{
                  height: 19px;
                  &.ticket{
                      height: 25px;
                    }
                }
              }
            }
          }
        }
        .description{
          .text{
              display: none;
            }
          .text-mobile{
            display: block;
            max-width: 350px;
          }
          .view{
            width: 210px;
            padding: 5px 13px 2px 5px;
            div{
              padding: 15px 28px;
              img{
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px){
    .profile{
      .container{
        .background-profile{
          height: 350px;
          .data-user{
            justify-content: flex-end;
            bottom: 20px;
          }
        }
        .menu{
          height: 180px;
          background-size: cover;
          padding-top: 55px;
          margin-top: -95px;
          .left{
            flex: 1;
            padding-left: 30px;
            .div-left{
              padding-top: 11px;
              .default{
                font-size: 75px;
              }
              .face-user{
                width: 75px;
                height: 75px;
              }
              .icon-check{
                bottom: 25px;
                right: -4px;
                height: 40px;
              }
            }
            .div-right{
              padding: 30px 20px 0 40px;
              
            }
          }
          .options{
            display: none;
          }
          .right{
            padding: 45px 30px 0 0;
            p{
              display: none;
            }
          }
        }
        .description{
          padding: 35px 20px 15px 20px;
          font-size: 14px;
          background: white;
          height: auto;
          .text{
            display: block;
          }
          .text-mobile{
            display: none;
          }
          .view{
            display: none;
          }
          .arrow{
            display: none;
          }
        }
        .options-mobile{
          background: white;
          display: flex;
          justify-content: space-around;
          height: 54px;
          padding: 0;
          width: 100%;
          border-top: 1px solid #efefef;
          div{
            height: 56px;
            width: 95px !important;
            padding: 16px 30px 0 30px;
            &.selected{
              background: url('../assets/images/div-option-search.png') no-repeat center center;
            }
          }
        }
        .items{
          margin-top: 0;
          padding: 0 0 55px 0;
          min-height: auto;
          .container-items{
            .content-items{
              margin-top: 0;
              // display: flex;
              width: 100%;
              .block-item{
                width: calc(100% / 6);
                padding: 0 3px;
                margin-bottom: 5px;
                display: initial;
                .item{
                  .content-image{
                    padding: 0;
                    .div-text{
                      display: none;
                    }
                    .div-image{
                      height: 120px;
                    }
                  }
                  .meme-info{
                    display: none;
                  }
                }
              }
            }
          }
          .margin-loading{
            position: absolute;
            top: 50%;
            left: calc(50% - 27px);
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px){
    .profile{
      .container{
        .background-profile{
          height: 250px;
          .data-user{
            justify-content: flex-end;
            p{
              padding: 0 10px;
              span{
                font-size: 16px;
              }
            }
          }
        }
        .menu{
          .left{
            .div-right{
              padding: 30px 20px 0 20px;
            }
          }
          .right{
            padding: 45px 15px 0 0 ;
          }
        }
        .items{
          .container-items{
            .content-items{
              .block-item{
                width: calc( 100% / 4);
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 480px){
    .profile{
      .container{
        .background-profile{
          height: 220px;
          .data-user{
            p{
              padding: 0 10px;
              font-size: 18px;
              span{
                font-size: 12px;
              }
            }
          }
        }
        .description{
          font-size: 12px;
        }
        .items{
          .container-items{
            .content-items{
              .block-item{
                width: calc( 100% / 3);
              }
            }
          }
        }
      }
    }
  }
</style>
