<template>
  <div class="register">
      <el-row :gutter="10" class="top">
        <img class="top-logo" src="../assets/images/logo.png">
      </el-row>
      <el-row :gutter="10" class="middle">
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="center">
          <div class="title">Crear cuenta</div>
          <div class="form">
            <div class="form-item">
              <el-input @input.native="$v.email.$touch()" placeholder="Ejemplo01@lafoka.com" v-model="email" :disabled="registerWithFb"></el-input>
              <div class="error" v-if="$v.email.$error">*Debes ingresar un correo válido</div>
            </div>
            <div class="form-item">
              <el-input @input.native="$v.username.$touch()" placeholder="Nombre de usuario" v-model="username"></el-input>
              <div class="error" v-if="$v.username.$error">*Debes ingresar un nombre de usuario</div>
            </div>
            <div class="form-item">
              <el-input @input.native="$v.password.$touch()" type="password" placeholder="Contraseña" v-model="password"></el-input>
              <div class="error" v-if="$v.password.$error">*Debes ingresar una contraseña</div>
            </div>
            <div class="form-item">
              <el-input @input.native="$v.nickname.$touch()" placeholder="Nickname" v-model="nickname"></el-input>
              <div class="error" v-if="$v.nickname.$error">*Debes ingresar un nickname</div>
            </div>
            <div class="gender form-item">
              <el-button :class="{'active': gender == 'M'}" size="mini" ref="genderM" @click="selectGender('M')">M</el-button>
              <el-button :class="{'active': gender == 'F', 'female': true}" size="mini" ref="genderF" @click="selectGender('F')">F</el-button>
              <div class="error" v-if="$v.gender.$error">*Debes ingresar un género</div>
            </div>
            <div v-if="registerErrorMessage" class="register-error">{{registerErrorMessage}}</div>
            <div class="register-button" @click="register">
              <div class="green-square">
                <img src="../assets/images/logo-foka-boton-login.png">
              </div>
              <div class="div-text">
                <div class="text">Registrarse</div>
                <i class="fas fa-chevron-right"></i>
              </div>
              <!-- <i class="fas fa-chevron-right"></i> -->
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row class="bottom">
      </el-row>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'
import { required, email } from 'vuelidate/lib/validators'
import {CONSTANTS} from '../utils/Constants.js' 
import { mapState } from 'vuex'

export default {
  name: 'register',
  data: () => {
    return {
      email: null,
      password: null,
      username: null,
      nickname: null,
      gender: 'M',
      registerWithFb: false,
      registerErrorMessage: null
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    },
    username: {
      required
    },
    nickname: {
      required
    },
    gender: {
      required
    }
  },
  components: {
  },
  computed: mapState([
    'accessToken'
  ]),
  mounted () {
    this.$v.$reset()
    document.getElementById('content-app').style.display = 'none';
    this.$store.commit('setShowMenuMobile', false)
    if(this.$store.getters.getAccessToken != null){
        this.registerWithFb = true
        this.username = this.$store.getters.getUsername
        this.nickname = this.$store.getters.getNickname
        this.email = this.$store.getters.getEmail
        this.gender = this.$store.getters.getGender
    }
  },
  methods: {
    register () {

      this.registerErrorMessage = null
      this.$v.$touch()

      this.$nextTick(() => {
        if (this.$v.$invalid == false) {
          var form = new FormData()

          form.append('email', this.email)
          form.append('password', this.password)
          form.append('username', this.username)
          form.append('nickname', this.nickname)
          form.append('gender', this.gender)

          axios.post(CONSTANTS.API.REGISTER, form)
          .then( (response) => {
            if(response.data.success){
              localStorage.setItem('token_system', response.data.token)
              this.$store.commit('setTokenSystem', response.data.token)
              if(this.registerWithFb){
                axios.get(CONSTANTS.API.CONNECT_FACEBOOK, {
                  params: {
                    access_token: this.accessToken
                  }
                })
                .then((response) => {
                  var data = response.data
                  if(data.success){
                    this.$router.push({ name: 'dashboard'});
                    return
                  }
                  this.registerErrorMessage = data.msg
                  return
                });
              } else{
                this.$store.commit('setNickname', this.nickname)
                this.$store.commit('setUsername', this.username)
                this.$store.commit('setEmail', this.email)
                this.$store.commit('setGender', this.gender)
                this.$store.commit('setAccessToken', null)
                this.$router.push({ name: 'dashboard'});
              }
            } else {
              this.registerErrorMessage = response.data.msg
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        }  
      })

    },
    selectGender (gender) {
      this.gender = gender
    }
  }
}
</script>

<style lang="scss">
  .register{
      height: 100%;
      display: flex;
      // align-items: center;
      // justify-content: center;
      flex-direction: column;
      background-image: url("../assets/images/bottom-image.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100% auto;
      .top{
        height: 80px;
        width: 100%;
      }
      .middle{
        flex: 1;
        align-items: center;
        display: flex;
        justify-content: center;
        .form{
          input{
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
            &:focus{
              box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
              color: #00B7BF;
            }
          }
          .register-error{
            color: #00B7BF;
            font-size: 12px;
            margin: 10px 0 20px 0;
          }
          .gender{
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            button{
              width: 60px;
              height: 25px;
              // left: calc(50% - 53.57px/2 - 11.21px);
              // top: calc(50% - 25px/2 + 88px);
              border: none;
              background: #FFFFFF;
              border-radius: 25px;  
              color: #BFBFBF;
              box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
              &.active{
                color: #00B7BF;
                z-index: 2;
                margin-right: -14px;
                box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.2);
                -webkit-box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.2);
                -moz-box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.2);
              }
              &.female{
                margin-left: 0;
                &.active{
                  margin-right: 0;
                  margin-left: -14px;
                }
              }
              span{
                font-weight: bold;
              }

            }
          }
        }
        .center{
          width: 200px;
          .title{
            margin-bottom: 30px;
            font-size: 30px;
            font-weight: 300;
            // opacity: 0.2;
            letter-spacing: -3px;
          }
          .register-button{
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #BFBFBF;
            
            .div-text{
              display: flex;
              flex: 1;
              background: rgba(0, 0,0, 0.03);
              padding: 11px 11px 11px 4px;
              margin-left: -14px;
              border-radius: 0 20px 20px 0;
              .text{
                flex: 1;
                font-size: 14px;
              }
              i{
                color: #48e8ef;
                margin-top: 3px;
              }
            }
            
            .green-square{
              z-index: 2;
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
              background: #48e8ef; /* Old browsers */
              background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
              width: 60px;
              height: 45px;
              box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
              border-radius: 25px;
              padding: 10px;
            }
          }
        }
      }
      .bottom{
        width: 100%;
        height: 80px;
      }
  }
  @media only screen and (max-width: 992px){
    .register{
      background: none;
      .middle{
        box-shadow: 0px 15px 25px -15px rgba(51, 197, 204, 0.15);
        border-radius: 44%;
      }
    }
  }
</style>
