<template>
  <div class="forgot-password">
      <el-row :gutter="10" class="top">
        <img class="top-logo" src="../assets/images/logo.png">
      </el-row>
      <el-row :gutter="10" class="middle">
        <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="center">
          <div class="title">Recuperar contraseña</div>
          <div class="form">
            <el-input placeholder="Nueva contraseña" v-model="email"></el-input>
            <el-input placeholder="Repetir contraseña" v-model="email"></el-input>
            <div class="forgot-password-button">
              <div class="green-square">
                <img src="../assets/images/logo-foka-boton-login.png">
              </div>
              <div class="text">Cambiar contraseña</div>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </el-col>
      </el-row>
      <el-row class="bottom">
      </el-row>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'forgot-password',
  data: () => {
    return {
      email: "",
      password: ""
    }
  },
  components: {
  }
}
</script>

<style lang="scss">
    .forgot-password{
        height: 100%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        background-image: url("../assets/images/bottom-image.png");
        background-repeat: no-repeat;
        background-position: bottom;
        .top{
          height: 80px;
          width: 100%;
        }
        .middle{
          flex: 1;
          align-items: center;
          display: flex;
          justify-content: center;
          .center{
            width: 250px;
            .title{
              margin-bottom: 30px;
              font-size: 30px;
              font-weight: 300;
              opacity: 0.2;
              letter-spacing: -3px;
            }
            .forgot-password-button{
              cursor: pointer;
              display: flex;
              align-items: center;
              margin-top: 20px;
              color: #BFBFBF;
              i {
                color: #48e8ef;
              }
              .text{
                flex: 1;
              }
              .green-square{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48e8ef+0,00b7bf+100 */
                background: #48e8ef; /* Old browsers */
                background: -moz-linear-gradient(top, #48e8ef 0%, #00b7bf 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #48e8ef 0%,#00b7bf 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #48e8ef 0%,#00b7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48e8ef', endColorstr='#00b7bf',GradientType=0 ); /* IE6-9 */
                width: 60px;
                height: 45px;
                box-shadow: 0px 3px 15px rgba(79, 190, 190, 0.35);
                border-radius: 25px;
                padding: 10px;
              }
            }
          }
        }
        .bottom{
          width: 100%;
          height: 80px;
        }
    }
</style>
