<template>
  <div class="search">
    <div class="block-search">
      <el-row class="description-option">
        <p v-if="optionSearch == 1">Tendencias locales</p>
        <p v-if="optionSearch == 2">Hashtag en Tendencia</p>
        <p v-if="optionSearch == 3">Perfiles Destacados</p>
        <p v-if="optionSearch == 4">Tendencias en el mundo</p>
      </el-row>
      <el-row class="searcher">
        <el-col :span="8" class="block-input">
          <el-input placeholder="Descubre mucha más diversión" v-model="search"></el-input>
        </el-col>
        <el-col :span="2" class="block-button">
          <div class="div-search">
            <img src="../assets/images/div-icon.png" class="div-icon">
            <router-link to="/search/profiles"><img src="../assets/images/lupa-icon-selected.png" class="lupa-icon"></router-link>
          </div>
        </el-col>
      </el-row>
      <el-row class="searcher-mobile">
        <div class="div-search">
          <router-link to="/search/profiles"><img src="../assets/images/lupa-icon-selected.png" class="lupa-icon"></router-link>
        </div>
        <div class="div-input">
          <el-input placeholder="Buscar" v-model="search"></el-input>
        </div>
      </el-row>
      <el-row class="div-options-search">
        <div class="options-search">
          <div :class="{'div-option': true, 'selected': optionSearch == 1}">
            <router-link to="/search/trending-local"><img src="../assets/images/galleta-icon.png" class="galleta-icon" v-if="optionSearch != 1"></router-link>
            <img src="../assets/images/galleta-icon-selected.png" class="galleta-icon" v-if="optionSearch == 1">
          </div>
          <div :class="{'div-option': true, 'selected': optionSearch == 2}">
            <router-link to="/search/hashtags"><img src="../assets/images/hashtag-icon.png" class="hashtag-icon" v-if="optionSearch != 2"></router-link>
            <router-link to="/search/hashtags"><img src="../assets/images/hashtag-icon-selected.png" class="hashtag-icon" v-if="optionSearch == 2"></router-link>
          </div>
          <div :class="{'div-option': true, 'selected': optionSearch == 3}">
            <router-link to="/search/profiles"><img src="../assets/images/users-icon.png" class="users-icon" v-if="optionSearch != 3"></router-link>
            <img src="../assets/images/users-icon-selected.png" class="users-icon" v-if="optionSearch == 3">
          </div>
          <div :class="{'div-option': true, 'selected': optionSearch == 4}">
            <router-link to="/search/trending-global"><img src="../assets/images/world-icon.png" class="world-icon" v-if="optionSearch != 4"></router-link>
            <img src="../assets/images/world-icon-selected.png" class="world-icon" v-if="optionSearch == 4">
          </div>
        </div>
      </el-row>
      <el-row class="div-categories-hashtag" style="display:flex; justify-content:center;" v-if="hashtagId">
        <el-col :span="5" class="block-categories-hashtag">
          <el-col :span="12" :class="{'active': categoryHashtag == 1}"><span @click="categoryHashtag = 1">DESTACADO</span></el-col>
          <el-col :span="12" :class="{'active': categoryHashtag == 2}"><span @click="categoryHashtag = 2">RECIENTE</span></el-col>
        </el-col>
      </el-row>
    </div>
    <div v-infinite-scroll="loadItems" infinite-scroll-disabled="busy" infinite-scroll-distance="0">
        <div class="container-items">
          <el-row :gutter="20" :class="{'content-items': true, 'margin-content-items': true , 'content-hashtag': optionSearch == 2 || optionSearch == 3, 'margin-content-profiles': optionSearch == 3}">
            <el-col :xl="6" :lg="6" :md="8" :sm="12" :xs="24"  v-for="item, index in items" :class="{'block-item': true, 'content-profiles': optionSearch == 3}" v-if="optionSearch == 2 || optionSearch == 3 && hashtagId == null">
              <!-- <el-col :xl="6" :lg="6" :md="8" :sm="12" :xs="24"  v-for="i in Array(12)" class="block-item" v-if="(optionSearch == 2 || optionSearch == 3) && hashtagId == null"> -->
                <router-link to="/search/hashtags/1" v-if="optionSearch == 2">
                  <el-row class="hashtag">
                    <el-col :span="4">
                      <img src="../assets/images/hashtag.png" class="hashtag-icon">
                    </el-col>
                    <el-col :span="20" class="info">
                      <div class="left">
                        <p>La Foka</p>
                        <span><span class="quantity">3654</span> Publicaciones</span>
                      </div>
                      <img src="../assets/images/arrow-right.png">
                    </el-col>
                  </el-row>
                </router-link>
                <div class="item" v-if="optionSearch == 3">
                  <!-- <el-row class="content-image" :style="{'background-image': 'url(' + item.image + ')'}">
                  </el-row> -->
                  <el-row class="content-image">
                    <el-col :span="24" class="data-user">
                      <p>72346<br><span>Publicaciones</span></p>
                      <p>3456<br><span>Seguidores</span></p>
                      <p>1352<br><span>Seguidos</span></p>
                    </el-col>
                  </el-row>
                  <el-row class="item-info">
                    <div class="div-left">
                      <img :src="item.profile.image_profile" class="face-user" v-if="item.profile.image_profile">
                      <i class="fas fa-user-circle default" v-else></i>
                      <img src="../assets/images/check-user.png" class="check-icon">
                    </div>
                    <div class="div-right">
                      <div class="left">
                        <router-link :to="'/profile/' + item.username"><p>{{item.profile.nickname | truncate(39, '...')}}</p></router-link>
                        <span>@{{item.username}}</span>
                      </div>
                      <div class="right" @click="setTrending(index, item.username)">
                        <div class="not-following" v-if="!item.trending">
                          <img src="../assets/images/check-blue.png">
                        </div>
                        <div class="base-switch"></div>
                        <div class="following" v-if="item.trending">
                          <img src="../assets/images/check-white.png">
                        </div>
                      </div>
                    </div>
                    <div :class="{'div-left-mobile': true, 'trending-user': item.trending == true}">
                      <img :src="item.profile.image_profile" class="face-user" v-if="item.profile.image_profile">
                      <i class="fas fa-user-circle default" v-else></i>
                      
                    </div>
                    <div class="div-right-mobile">
                      <div :class="{'block': true, 'trending-user': item.trending == true}">
                        <div class="info">
                          <router-link :to="'/profile/' + item.username"><p>{{item.profile.nickname}}</p></router-link>
                          <span>@{{item.username}}</span>
                        </div>
                        <div @click="setTrending(index, item.username)" class="trending">
                          <div class="content-following">
                            <div class="not-following" v-if="!item.trending">
                              <img src="../assets/images/check-blue.png">
                            </div>
                            <div class="base-switch"></div>
                            <div class="following" v-if="item.trending">
                              <img src="../assets/images/check-white.png">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-row>
                </div>
              </el-col>
            <el-col :xl="4" :lg="4" :md="6" :sm="12" :xs="24" v-for="item, index  in items" class="block-item" v-if="optionSearch == 1 || optionSearch == 4 || hashtagId">
                <div class="meme">
                  <div class="content-image">
                      <el-row class="div-text">
                          <p class="text">{{item.description | truncate(70, '...')}}</p>
                      </el-row>
                      <router-link :to="'/post/' + item.alias">
                        <el-row class="div-image" :style="{'background-image': 'url(' + item.image + ')'}">
                        <!-- <el-row class="div-image"> -->
                        </el-row>
                      </router-link>
                  </div>
                  <div class="meme-info">
                      <div class="div-left">
                          <img :src="item.user.profile.image_profile" class="face-user" v-if="item.user.profile.image_profile">
                          <i class="fas fa-user-circle default" v-else></i>
                      </div>
                      <div class="div-right">
                          <div class="div-info">
                              <router-link :to="{name:'profile', params: {username: item.user.username, section: 'posts'}}"><p>{{item.user.profile.nickname}}</p></router-link>
                              <div class="info">
                                <!-- <img src="../assets/images/heart.png">&nbsp;
                                <span class="likes">{{item.vote_up_count}}</span>&nbsp;
                                <img src="../assets/images/comment.png">&nbsp;
                                <span class="comments">{{item.comments_count}}</span> -->

                                <img src="../assets/images/heart.png" v-if="item.vote == 0" @click="setLike(item.alias, index)">
                                <img src="../assets/images/heart-gray.png" v-else @click="setLike(item.alias, index)">&nbsp;
                                <span :class="{'likes': item.vote == 0, 'likes-gray': item.vote != 0}">{{item.vote_up_count}}</span>&nbsp;
                                <router-link :to="'/post/' + item.alias"><img src="../assets/images/comment.png"></router-link>&nbsp;
                                <span class="comments">{{item.comments_count}}</span>
                              </div>
                          </div>
                          <div class="div-menu" v-if="usernameLogued">
                              <img src="../assets/images/points.png" slot="reference">
                            <el-cascader
                              :options="item.options"
                              v-model="actionMeme">
                            </el-cascader>
                          </div>
                          <div class="div-menu" v-else>
                            <img src="../assets/images/points.png" @click="goLogin">
                          </div>
                      </div>
                  </div>
                </div>
            </el-col>
          </el-row>
        </div>
        <div style="height:50px; display:flex; justify-content:center" :class="{'margin-loading': pageSearch == 0}" v-if="loading">
          <circle-2 background="#00b7bf"></circle-2>
        </div>
    </div>
    <el-dialog
      title="REPORTAR"
      :visible.sync="dialogReport"
      width="500px"
      :close-on-press-escape="true">
      <el-radio v-model="optionReport" :label="index" v-for="option, index in optionsReport">{{option.description}}</el-radio>
      <el-radio v-model="optionReport" label="99">Otro</el-radio>
      <textarea v-model="textReport" rows="3" class="text-report" placeholder="Escribe tu motivo" :disabled="optionReport != 99"></textarea>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogReport = false" class="cancel-report">Cancelar</el-button>
        <el-button class="send-report" @click="sendReport" :disabled="(textReport.length == 0  && optionReport == 99) || optionReport == null">Enviar</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="ELIMINAR"
      :visible.sync="dialogDelete"
      width="300px"
      :close-on-press-escape="true">
      <p>¿Estás seguro que desear eliminar?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDelete = false" class="cancel-report">No</el-button>
        <el-button class="send-report" @click="deleteMeme">Si, estoy seguro</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios'
import {CONSTANTS} from '../utils/Constants.js'
import {Circle2} from 'vue-loading-spinner'
import { EventBus } from '../utils/event-bus.js';
import _ from 'lodash';
// import infiniteScroll from 'vue-infinite-scroll'
export default {
  name: 'search',
  data: () => {
      return {
        items: [],
        busy: false,
        search: "",
        searchTimeout: null,
        pageSearch: 0,
        hashtagId: null,
        loading: false,
        windowHeight: 0,
        optionSearch: null,
        fromDate: null,
        actionMeme: null,
        optionReport: null,
        optionsReport: [],
        textReport: '',
        dialogReport: false,
        dialogDelete: false,
        categoryHashtag: null,
        usernameLogued: null,
        actionMeme: null
      }
    },
  components: {
    Circle2
  },
  watch: {
    search: function(){
      clearTimeout(this.searchTimeout);
      this.searchTimeout = setTimeout(function(){
        this.fromDate = Date.now()
        this.pageSearch = 0
        this.loadItems();
      }.bind(this), 500)
    },
    '$route' (to, from) {
      this.getElements();  
    },
    categoryHashtag: function(val){
       console.log(val)
    },
    actionMeme: function(value){
      if (value.length == 1){
        value = value[0]
      } else {
        value = value[1]
      }
      var action = value.split('-')[0]
      this.aliasMeme = value.split('-')[1]
      if(action == 'r'){
        this.dialogReport = true
      }
      if(action == 'e'){
        this.dialogDelete = true
      }
      if(action == 'w'){
        this.shareWhatssap();
      }
      if(action == 'f'){
        this.shareFacebook();
      }
      if(action == 't'){
        this.shareTwitter();
      }
    }
  },
  mounted: function(){
    if(this.$store.getters.userLogued){
      this.loadUser();
    }
    this.fromDate = Date.now()
    this.getElements();
    this.$store.commit('setOptionRight', 2)
    this.loadOptionsReport();
    var content = document.getElementById('content-app')
    if(content){
      content.style.display = 'block';
    }
    var menuCenter = document.getElementById('menu-center')
    if(menuCenter){
      menuCenter.style.opacity = 1;
      menuCenter.style.pointerEvents = 'all';
    }
    this.$store.commit('setShowMenuMobile', true)
    // this.items = [{image: '../assets/images/meme.png'}, {image: '../assets/images/meme.png'}, {image: '../assets/images/meme.png'},{image: '../assets/images/meme.png'},{image: '../assets/images/meme.png'}]
    // EventBus.$on('right-menu-clicked', optionRight => {
    //   if(optionRight == 1){
    //     console.log(12)
    //     window.location.href = '/dashboard'
    //     return
    //   }
    //   if(optionRight == 2){
    //     console.log(2)
    //     this.pageSearch = 0
    //     this.optionSearch = 1
    //   }
    // });
  },
  methods: {
    shareWhatssap: function(){
      var url = location.origin + '/post/'
      return window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(url + this.aliasMeme));
    },
    shareTwitter: function(){
      var url = location.origin + '/post/'
      return window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(url + this.aliasMeme));
    },
    shareFacebook: function(){
      var url = location.origin + '/post/' + this.aliasMeme
      return FB.ui({
        method: 'share',
        href: url
      }, function(response) {});
    },
    loadUser: function(){
      axios.get(CONSTANTS.API.ME, {
      })
      .then((response) => {
        this.usernameLogued = response.data.user.username
      })
    },
    goLogin: function(){
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
    },
    goToPost: function(alias){
      if(this.$store.getters.userLogued){
        this.$router.push({name: 'post', params: {alias: alias}})
      } else {
        this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
      }
    },
    loadOptionsReport: function(){
      axios.get(CONSTANTS.API.REPORT_POST_REASONS)
      .then((response) => {
        this.optionsReport = response.data.list
      })
    },
    deleteMeme: function(){
      this.dialogDelete = false
      _.remove(this.items, function(i){
        return i.alias == this.aliasMeme
      }.bind(this))
      axios.get(CONSTANTS.API.DELETE_POST(this.aliasMeme))
      .then( (response) => {
        this.$notify({
          title: 'ELIMINAR',
          text: 'Se eliminó el post exitosamente.',
          duration: 2000
        });
      })
    },
    sendReport: function(){
      this.dialogReport = false
      if(this.optionReport != 99) this.textReport = this.optionsReport[this.optionReport].description
      var form = new FormData()
      form.append('reason', this.textReport)
      axios.post(CONSTANTS.API.REPORT(this.aliasMeme), form)
      .then((response) => {
        this.textReport = ''
        this.optionReport = null
        this.$notify({
          title: 'REPORTAR',
          text: 'Se reportó el post exitosamente.',
          duration: 2000
        });
      })
    },
    getElements: function(){
      this.categoryHashtag = null
      this.pageSearch = 0
      var section = this.$route.params.section
      this.hashtagId = this.$route.params.id != undefined ? this.$route.params.id : null

      if(section == 'trending-local'){
        this.optionSearch = 1
        this.loadItems();
        return
      }
      if(section == 'trending-global'){
        this.optionSearch = 4
        this.loadItems();
        return
      }
      if(section == 'hashtags'){
        this.optionSearch = 2
        this.loadItems();
        return
      }
      if(section == 'profiles'){
        this.optionSearch = 3
        this.loadItems();
        return
      }
      this.$router.push({ name: 'search', params: { section: 'trending-local' }});
    },
    loadItems: function(){
      this.loading = true
      this.busy = true
      // CARGA DE TENDENCIAS LOCALES
      if(this.optionSearch == 1 || this.optionSearch == 4){
        if(this.pageSearch == 0) this.items = []
        axios.get(CONSTANTS.API.TRENDING, {
          params: {
            from_time: this.fromDate / 1000,
            page: this.pageSearch
          }
        })
        .then((response) => {
          this.loading = false
          if(response.data.list.length > 0){
            this.items = this.items.concat(response.data.list)
            _.forEach(this.items, function(i){
              if(i.user.username == this.usernameLogued){
                i['options'] = [{
                  value: 'r' + '-' + i.alias,
                  label: 'Reportar'
                  }, {
                  value: 'e' + '-' + i.alias,
                  label: 'Eliminar'
                  },{
                  value: 'compartir',
                  label: 'Compartir',
                  children: [{
                      value: 'f' + '-' + i.alias,
                      label: 'Facebook'
                    }, {
                      value: 'w' + '-' + i.alias,
                      label: 'Whatssap'
                    }, {
                      value: 't' + '-' + i.alias,
                      label: 'Twitter'
                    }
                  ]
                }]
              } else{
                i['options'] = [{
                  value: 'r' + '-' + i.alias,
                  label: 'Reportar'
                  },{
                  value: 'compartir',
                  label: 'Compartir',
                  children: [{
                      value: 'f' + '-' + i.alias,
                      label: 'Facebook'
                    }, {
                      value: 'w' + '-' + i.alias,
                      label: 'Whatssap'
                    }, {
                      value: 't' + '-' + i.alias,
                      label: 'Twitter'
                    }
                  ]
                }]
              }
            }.bind(this))
            this.pageSearch = this.pageSearch + 1
            this.busy = false
          } 
        })
        return
      }
      // CARGA DE HASHTAGS
      if(this.optionSearch == 2 && this.hashtagId == null){
        this.loading = false
        console.log('entro')
      }
      // CARGA DE HASHTAGS
      if(this.optionSearch == 2 && this.hashtagId){
        this.loading = false
        console.log('entro hastag especified')
      }
      // CARGA DE PERFILES
      if(this.optionSearch == 3){
        if(this.search){
          if(this.pageSearch == 0) this.items = []
          axios.get(CONSTANTS.API.USERS, {
            params: {
              q: this.search,
              from_time: this.fromDate / 1000,
              page: this.pageSearch
            }
          })
          .then((response) => {
            this.loading = false
            if(response.data.list.length > 0){
              var list = _.map(response.data.list, function(p){
                p.trending = p.trending || false
                return p
              })
              this.items = this.items.concat(list)
              console.log(this.items)
              this.pageSearch = this.pageSearch + 1
              this.busy = false
            } 
          })
          return
        }
        
      }
    },
    setTrending: function(index, username){
      if(this.$store.getters.userLogued){
        var val = this.items[index]
        if(val.trending){
          val.trending = !val.trending
          axios.get(CONSTANTS.API.UNFOLLOW(username))
          .then((response) => {
          })
          return
        }
        val.trending = !val.trending
        axios.get(CONSTANTS.API.FOLLOW(username))
        .then((response) => {
        })
        return
      }
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
    },
    setLike: function(alias, index){
      if(this.$store.getters.userLogued){
        var item = this.items[index]
        if(item.vote == -1){
          item.vote = 0
          item.vote_up_count++
        } 
        else{
          item.vote = -1
          item.vote_up_count--
        }
        axios.post(CONSTANTS.API.LIKE(alias))
        .then()
        return
      }
      this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
    }
  }
}
</script>

<style lang="scss">
  .search{
      padding: 20px 0 40px 0;
      min-height: 100%;
      height: auto;
      background: url('../assets/images/background-memes.png') repeat center center;
      .container-items{
          display: flex;
          justify-content: center;
          // background: url('../assets/images/background-memes.png') repeat center center;
          // padding: 0 60px 0 15px;
      }
      .block-item{
          margin-bottom: 20px;
      }
      .block-search{
        margin-top: 150px;
        .description-option{
          p{
            font-size: 25px;
            font-weight: 100;
            color: #dddddd;
          }
        }
        .searcher{
          display: flex;
          justify-content: center;
          .block-input{
            z-index: 1;
            margin-top: 32px;
            width: 440px;
            input{
              height: 55px;
              border-radius: 50px;
              border: none;
              -webkit-box-shadow: 2px 10px 32px 0px rgba(0, 183, 191, 0.12);
              box-shadow: 2px 10px 32px 0px rgba(0, 183, 191, 0.12);
              -webkit-user-select: auto;
              caret-color: #e7e7e7;
            }
            input::placeholder{
              text-align: center;
            }
          }
          .block-button{
            z-index: 2;
            margin-left: -70px;
            margin-top: 8px;
            width: 100px;
            .div-search{
              background: url('../assets/images/div-search.png') no-repeat;
              height: 100px;
              padding: 20px;
              text-align: left;
              width: 100px;
              position: relative;
              .div-icon{
                height: 75px;
              }
              .lupa-icon{
                position: absolute;
                left: 45px;
                top: 45px;
                cursor: pointer;
              }
            }
          }
        }
        .searcher-mobile{
          display: none;
        }
        .div-options-search{
          display: flex;
          justify-content: center;
          margin-top: -24px;
          .options-search{
            background: url('../assets/images/div-options-search.png') no-repeat;
            height: 85px;
            padding: 5px 35px;
            width: 440px;
            margin-top: -10px;
            img{
              // margin-right: 60px;
              cursor: pointer;
            }
            .galleta-icon:hover{
              content:url('../assets/images/galleta-icon-selected.png');
            }
            .hashtag-icon:hover{
              content:url('../assets/images/hashtag-icon-selected.png');
            }
            .users-icon:hover{
              content:url('../assets/images/users-icon-selected.png');
            }
            .world-icon:hover{
              content:url('../assets/images/world-icon-selected.png');
            }
            .div-option{
              padding: 0 30px;
              height: 70px;
              width: 90px !important;
              padding-top: 25px;
              display: inline-block;
            }
            .div-option.selected{
              background: url('../assets/images/div-option-search.png') no-repeat center center;
            }
          }
        }
        .div-categories-hashtag{
          .block-categories-hashtag{
            background: url('../assets/images/div-rectangule.png') no-repeat;
            background-size: cover;
            background-position: center;
            height: 60px;
            cursor: pointer;
            .el-col{
              padding-top: 18px;
              padding-left: 19px;
              font-size: 14px;
              &:hover{
                color:#00B7BF;
              }
              &:last-child{
                padding-left: 0;
              }
            }
            .el-col.active{
              background: url('../assets/images/div-category-hashtag.png') no-repeat;
              background-size: cover;
              background-position: center;
              height: 75px;
              margin-top: -7px;
              font-weight: bold;
              color: #00B7BF;
              padding-top: 25px;
            }
          }
        }
      }
      
      .content-items{
        margin-top: 105px;
        max-width: 1420px;
        width: 100%;
        &.margin-content-items{
          margin-top: 40px;
        }
        &.content-hashtag{
          .block-item{
            width: 355px;
          }
        }
      }
      .meme{
        display: flex;
        flex-direction: column;
        .content-image{
          padding: 0 5px;
          z-index: 2;
          .div-text{
            padding: 25px;
            background: white;
            border-radius: 30px 30px 0 0;
            height: 85px;
            text-align: initial;
            -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
            -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
            box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.17);
            .text{
              line-height: 16px;
              font-size: 14px;
              letter-spacing: -0.03em;
            }
          }
          .div-image{
            // background: url('../assets/images/meme.png');
            background-size: cover;
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .meme-info{
          z-index: 3;
          margin-top: -10px;
          height: 55px;
          display: flex;
          -webkit-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
          -moz-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
          box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
          background: white;
          border-radius: 15px;
          padding-left: 5px;
          .div-left{
            border-radius: 50%;
            height: 66px;
            margin-top: -5px;
            width: 66px;
            background: white;
            padding: 10px;
            -webkit-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
            -moz-box-shadow: 2px 10px 32px 0px rgba(0,183,191,0.12);
            box-shadow: 0px 5px 15px rgba(51, 197, 204, 0.15);
            .face-user{
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
            .default{
              color: #e7e7e7;
              font-size: 46px;
            }
          }
          .div-right{
            width: calc(100% - 53px);
            margin-top: 3px;
            padding: 6px 15px 10px 10px;
            text-align: left;
            display: flex;
            .div-info{
                width: calc(100% - 8px);
                padding-right: 15px;
                a{
                  text-decoration: inherit;
                  color:#00B7BF;
                  opacity: 0.8;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                p{
                    font-size: 18px;
                    letter-spacing: -2px;
                    color: #00B7BF;
                    opacity: 0.8;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 21px;
                    font-weight: bold;
                }   
                .info{
                  font-size: 12px;
                  img{
                    cursor: pointer;
                  }
                  .likes{
                    color: #00B7BF;
                  }
                  .likes-gray{
                    color: #bfbfbf;
                  }
                }   
            }
            .div-menu{
              float: right;
              height: 100%;
              margin-left: -5px;
              padding-top: 7px;
              img{
                float: right;
                margin-left: -5px;
                margin-top: 4px;
                cursor: pointer;
              }
              .el-cascader{
                opacity: 0;
                float: right;
                margin-top: 5px;
                height: 15px;
                width: 10px;
                .el-input{
                  height: 15px;
                  input{
                    width: 10px;
                    padding: 0;
                    height: 0;
                  }
                  .el-input__suffix{
                    display: none;
                  }
                }
                .el-cascader__label{
                  padding: 0;
                }
              }
            }  
          }
        }
      }
      .item{
        .content-image{
          background: url('../assets/images/profile.png');
          background-size: cover;
          height: 240px;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 1;
          position: relative;
          border-radius: 20px 20px 0 0;
          .data-user{
            position: absolute;
            bottom: 59px;
            display: flex;
            justify-content: flex-end;
            padding: 0 20px;
            p{
              padding: 0 5px;
              color: white;
              font-weight: 800;
              font-size: 20px;
              line-height: 17px;
              span{
                font-size: 13px;
                font-weight: 500;
              }
            }
          }
        }
        .item-info{
          z-index: 2;
          background: url('../assets/images/div-info-profile.png') no-repeat center center;
          margin-top: -110px;
          height: 127px;
          background-size: cover;
          display: flex;
          border-radius: 0 0 20px 20px;
          .div-left{
            padding: 45px 0 0 20px;
            position: relative;
            .face-user{
              width: 60px;
              border-radius: 50%;
            }
            .default{
              color: #e7e7e7;
              font-size: 60px;
            }
            .check-icon{
              position: absolute;
              bottom: 2px;
              right: -13px;
            }
          }
          .div-right{
            padding: 68px 20px 0px 30px;
            display: flex;
            width: 100%;
            .left{
              text-align: left;
              flex: 1;
              a{
                color: #00B7BF;
                text-decoration: inherit;
                &:hover{
                  text-decoration: underline;
                }
              }
              p{
                font-size: 18px;
                letter-spacing: -2px;
                color: #00B7BF;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 21px;
                font-weight: bold;
              }
            }
            .right{
              padding-top: 10px;
              display: flex;
              width: 53px;
              cursor: pointer;
              .base-switch{
                width: 45px;
                height: 25px;
                background: #00B7BF;
                opacity: 0.15;
                border-radius: 30px;
              }
              .not-following{
                width: 40px;
                height: 24px;
                background: white;
                z-index: 1;
                border-radius: 30px;
                margin-right: -30px;
                text-align: center;
                box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
              }
              .following{
                width: 40px;
                height: 25px;
                background: #00B7BF;
                z-index: 1;
                border-radius: 30px;
                margin-left: -32px;
                text-align: center;
                box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                // display: none;
              }
            }
          }
          .div-left-mobile{
            display: none;
          }
          .div-right-mobile{
            display: none;
          }
        }
      }
      .hashtag{
        background: url('../assets/images/div-hashtag.png');
        background-size: cover;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 24px 35px;
        cursor: pointer;
        &:hover{
          .hashtag-icon{
            content:url('../assets/images/hashtag-hover.png');
            width: 25px;
          }
          .info{
            .left{
              p{
                color:#00B7BF;
              }
            }
            img{
              content:url('../assets/images/arrow-selected.png');
            }
          }
        }
        .hashtag-icon{
          width: 46px;
          margin-top: 10px;
        }
        .info{
          display: flex;
          text-align: left;
          padding-left: 20px;
          .left{
            flex: 1;
            p{
              font-size: 20px;
              letter-spacing: -2px;
              color: rgba(0, 0, 0, 0.2);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 21px;
              font-weight: bold;
            }
            span{
              font-size: 14px;
              font-weight: 100;
              color: #c2c2c2;
              .quantity{
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
          img{
            height: 15px;
            margin-top: 15px;
          }
        }
      }
      .margin-loading{
        margin-top: 100px;
      }
      .el-dialog{
        border-radius: 10px;
        .el-dialog__title{
          color: gray;
          font-weight: 600;
        }
        .el-dialog__body{
          color: gray;
          padding: 10px 20px 30px 20px;
          .el-radio{
            text-align: left;
            display: block;
            margin-bottom: 10px;
            &+.el-radio{
              margin-left: 0;
            } 
            .el-radio__input.is-checked .el-radio__inner{
              border-color: #4dcdd2;
              background: #4dcdd2;
            }
            .el-radio__input.is-checked+.el-radio__label{
              color: #4dcdd2;
            }
          }
        }
        .el-dialog__header{
          text-align: left;
        }
        .text-report{
          width: 100%;
          border-radius: 5px;
          border-color: #d1d1d1;
          padding: 2px 5px;
          font-size: 15px;
        }
        .cancel-report{
          font-weight: 700;
          color: #9f9f9f;
          border: 1px solid #d7d7d7;
          font-size: 16px;
          &:hover{
            background: white;
          }
        }
        .send-report{
          background: #4dcdd2;
          color: white;
          border: none;
          font-size: 16px;
          font-weight: 700;
        }
      }
  }
  @media only screen and (max-width : 1500px) {
    .search{
      .content-items{
        &.content-hashtag{
          max-width: 1065px;
        }
      }
    }
  }
  @media only screen and (max-width : 1150px) {
    .search{
      .content-items{
        &.content-hashtag{
          max-width: 710px;
        }
      }
    }
  }
  @media only screen and (max-width : 992px) {
    .search{
      padding: 0 0 55px 0;
      min-height: calc(100% - 55px);
      height: auto;
      .container-items{
        padding: 0;
      }
      .block-search{
        margin-top: 0;
        .description-option{
          display: none;
        }
        .searcher{
          display: none;
        }
        .searcher-mobile{
          display: flex;
          width: 100%;
          z-index: 2;
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
          -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.05);
          -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.05);
          .div-search{
            height: 47px;
            width: 50px;
            background: white;
            padding-top: 10px;
          }
          .div-input{
            flex: 1;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
            input{
              border: none;
              height: 47px;
              -webkit-user-select: auto;
              caret-color: #e7e7e7;
            }
          }
        }
        .div-options-search{
          margin-top: 0;
          .options-search{
            background: white;
            display: flex;
            justify-content: space-around;
            height: 54px;
            padding: 0;
            width: 100%;
            margin-top: 0;
            .div-option{
              height: 56px;
              width: 95px !important;
              padding-top: 16px;
            }
          }
        }
      }
      .block-item{
        width: calc( 100% / 6 );
        padding-left: 0px !important;
        margin-bottom: 5px;
        padding-right: 0px !important;
        &.content-profiles{
          padding-left: 10px !important;
          padding-right: 10px !important;
          margin-bottom: 20px;
        }
      }
      .content-items.margin-content-items{
        margin-top: 0;
        &.margin-content-profiles{
          margin-top: 10px;
        }
      }
      .meme{
        .content-image{
          padding: 0 3px;
          .div-text{
            display: none;
          }
          .div-image{
            background: url('../assets/images/meme.png');
            background-size: cover;
            height: 120px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .meme-info{
          display: none;
        }
      }
      .margin-loading{
        position: absolute;
        top: 50%;
        left: calc(50% - 27px);
        margin-top: 0;
      }
    }
  }
  @media only screen and (max-width : 768px) {
    .search{
      .block-item{
        width: calc( 100% / 4 );
      }
      .content-items{
        &.content-hashtag{
          max-width: 100%;
          .block-item{
            width: 100%;
            margin-bottom: 0;
            border-bottom: 1px solid #e1e1e1;
            &.content-profiles{
              border-bottom: none;
              margin-bottom: 10px;
            }
          }
        }
      }
      .item{
        .content-image{
          display: none;
        }
        .item-info{
          margin-top: 0;
          // background: url('../assets/images/div-trending-drop.png') no-repeat center center;
          background: none;
          height: auto;
          .div-left,
          .div-right{
            display:none;
          }
          .div-left-mobile{
            background: url('../assets/images/mobile/div-trending-drop2.png') no-repeat center center;
            height: 72px;
            // width: 220px;
            width: 80px;
            text-align: left;
            padding: 11px 0 0 16px;
            position: relative;
            display: block;
            &.trending-user{
              background: url('../assets/images/mobile/div-trending-shadow.png') no-repeat center center;
            }
            .face-user{
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .default{
              color: #e7e7e7;
              font-size: 50px;
            }
            
          }
          .div-right-mobile{
            padding: 6px 0;
            display: block;
            width: calc(100% - 80px);
            .block{
              background: white;
              width: 100%;
              height: 100%;
              border-radius: 0 20px 20px 0;
              margin-left: -3px;
              padding-right: 10px;
              display: flex;
              &.trending-user{
                box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
              }
              .info{
                padding: 8px 30px 0 5px;
                width: calc(100% - 53px);
                text-align: left;
                a{
                  color: #00B7BF;
                  text-decoration: inherit;
                  &:hover{
                    text-decoration: underline;
                  }
                }
                p{
                  font-size: 18px;
                  letter-spacing: -2px;
                  color: #00B7BF;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 21px;
                  font-weight: bold;
                }
              }
              .trending{
                // float: right;
                padding-top: 18px;
                width: 53px;
                cursor: pointer;
                .content-following{
                  display: flex;
                  .base-switch{
                    width: 45px;
                    height: 25px;
                    background: #00B7BF;
                    opacity: 0.15;
                    border-radius: 30px;
                  }
                  .not-following{
                    width: 40px;
                    height: 24px;
                    background: white;
                    z-index: 1;
                    border-radius: 30px;
                    margin-right: -30px;
                    text-align: center;
                    box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                  }
                  .following{
                    width: 40px;
                    height: 25px;
                    background: #00B7BF;
                    z-index: 1;
                    border-radius: 30px;
                    margin-left: -32px;
                    text-align: center;
                    box-shadow: 1px 2px rgba(0, 0, 0, 0.15);
                    // display: none;
                  }
                }
                
              }
            }
          }
        }
      }
      .hashtag{
        background: white;
        padding: 15px 35px 15px 0;
        height: 70px;
      }
    }
  }
  @media only screen and (max-width : 480px) {
    .search{
      .block-item{
        width: calc( 100% / 3 );
      }
    }
  }
</style>
