<template>
  <div id="app">
<!--     <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <el-row id="content-app" v-if="!showOptionsCenter">
      <div style="position:relative;">
        <el-col :span="6" class="div-menu-left">
          <el-row class="menu-left">
            <div class="user-image">
              <div v-if="user">
                <img :src="user.profile.image_profile" v-if="user.profile.image_profile" class="user">
                <i class="fas fa-user-circle default" v-else></i>
                <img src="./assets/images/check-user.png" class="icon-check">
              </div>
              <div v-else style="margin: -7px 0 0 -9px">
                <img src="./assets/images/foka-user.png">
              </div>
              <img src="./assets/images/arrow.png" class="icon-check arrow" @click="showOptionsLeft=!showOptionsLeft" v-if="user">
            </div>
            <div class="user-info" v-if="user">
              <router-link :to="{name: 'profile', params: {username: user.username, section: 'posts'}}"><p class="username">{{user.profile.nickname}}</p></router-link>
              <p class="twitter">@{{user.username}}</p>
            </div>
            <div class="user-info default" v-else>
              <router-link to="login"><p class="username">Iniciar Sesión</p></router-link>
              <p class="twitter">Ve por mas diversión!</p>
            </div>
          </el-row>
          <el-row class="options-left" v-if="showOptionsLeft && user">
            <router-link :to="{ name: 'profile', params: { username: user.username, section: 'posts' }}">
              <div :class="{'div-icon': true, 'selected': option == 1}" @click="selectedOption(1)">
                <img src="./assets/images/galleta-icon.png" v-if="option!=1" class="galleta-icon">
                <img src="./assets/images/galleta-icon-selected.png" v-if="option==1">
              </div>
            </router-link>
            <div :class="{'div-icon': true, 'selected': option == 2}">
              <img src="./assets/images/heart-icon.png" @click="selectedOption(2)" v-if="option!=2" class="heart-icon">
              <img src="./assets/images/heart-icon-selected.png" v-if="option==2">
            </div>
            <div :class="{'div-icon': true, 'selected': option == 3}">
              <img src="./assets/images/vector-icon.png" @click="selectedOption(3)" v-if="option!=3" class="vector-icon">
              <img src="./assets/images/vector-icon-selected.png" v-if="option==3">
            </div>
            <div :class="{'div-icon': true, 'selected': option == 4}">
              <img src="./assets/images/ticket-icon.png" @click="selectedOption(4)" v-if="option!=4" class="ticket-icon">
              <img src="./assets/images/ticket-icon-selected.png" v-if="option==4">
            </div>
          </el-row>
        </el-col>
        <el-col :span="12" :class="{'div-menu-center': true, 'page-search': optionRight == 2 || optionRight == 3 || optionRight == 5}" id="menu-center">
          <el-row class="menu-center">
            <div>
              <img src="./assets/images/logo.png">
              <img src="./assets/images/arrow.png" class="arrow" @click="setShowOptionsCenter(true)">
            </div>
          </el-row>
        </el-col>
        <el-col :span="6" class="div-menu-right">
            <el-row class="menu-right">
              <img src="./assets/images/foka.png" class="foka">
              <img src="./assets/images/arrow-diagonal.png" class="arrow" @click="goCreatePost">
            </el-row>
            <el-row :class="{'options-right': true, 'house': optionRight == 1, 'search': optionRight == 2, 'notifications': notificationIconSelected == true}">
              <div :class="{'div-icon': true, 'selected': optionRight == 1}">
                <router-link :to="{name: 'dashboard'}"><img src="./assets/images/house-icon.png" v-if="optionRight!=1" class="house-icon"></router-link>
                <img src="./assets/images/house-icon-selected.png" v-if="optionRight==1">
              </div>
              <div :class="{'div-icon': true, 'selected': optionRight == 2}">
                <router-link :to="{name: 'search', params: {section: 'trending-local'}}"><img src="./assets/images/lupa-icon.png" v-if="optionRight!=2" class="lupa-icon"></router-link>
                <img src="./assets/images/lupa-icon-selected.png" v-if="optionRight==2">
              </div>
              <div :class="{'div-icon': true, 'selected': notificationIconSelected == true}">
                <img src="./assets/images/campana-icon.png" @click="goToAction" v-if="notificationIconSelected == false" class="campana-icon">
                <img src="./assets/images/campana-icon-selected.png" v-if="notificationIconSelected">
              </div>
            </el-row>
        </el-col>
        <div class="div-notifications" v-if="notificationIconSelected">
          <div class="block">
            <img src="./assets/images/arrow-selected.png" class="arrow-right" @click="notificationIconSelected = false">
            <div class="content">
              <el-row v-for="noti, index in notifications" class="notification">
                <img :src="noti.actor.profile.image_profile" class="face" v-if="noti.actor.profile.image_profile">
                <i class="fas fa-user-circle default" v-else></i>
                <div>
                  <span>{{noti.actor.profile.nickname}}</span>&nbsp;
                  <!-- <router-link :to="'/post/' + noti.alias">{{noti.action}}</router-link>&nbsp; -->
                  <span class="action" @click="goToPost(noti.alias, noti.id)">{{noti.action}}</span>&nbsp;
                  <span class="time"><img src="./assets/images/time.png"> {{noti.time_ago}}</span>
                </div>
                <img src="./assets/images/arrow.png" class="arrow" v-if="noti.extra.opened">
              </el-row>
              <infinite-loading @infinite="loadNotifications">
                <div slot="no-more"></div>
                <div slot="no-results"></div>
                <div slot="spinner">
                  <div style="height:30px; display:flex; justify-content:center" :class="{'margin-loading': pageNotifications == 0}">
                    <circle-2 background="#00b7bf" class="spinner"></circle-2>
                  </div> 
                </div>
              </infinite-loading>
            </div>
          </div>
        </div>
      </div>
    </el-row>
    <div class="container-options-center" id="options-center">
      <el-row class="options-menu-center" v-if="showOptionsCenter">
        <img src="./assets/images/logo-inicio.png" class="logo">
        <el-col :span="24" class="items">
          <el-row v-if="user"><router-link :to="'/edit-profile/' + user.username"><span @click="active = 1" :class="{'active': active == 1}">Mi Cuenta</span></router-link></el-row>
          <el-row><span @click="active = 2" :class="{'active': active == 2}">Preferencias</span></el-row>
          <!-- <el-row><span @click="active = 3" :class="{'active': active == 3}">¿Ayuda?</span></el-row> -->
          <el-row><span @click="active = 4" :class="{'active': active == 4}">Términos y Políticas</span></el-row>
          <el-row  v-if="user"><span :class="{'active': active == 5}" @click="logout">Cerrar Sesión</span></el-row>
          <el-row  v-else><span :class="{'active': active == 5}" @click="login">Iniciar Sesión</span></el-row>
        </el-col>
        <el-col :span="24" class="div-arrow" @click="setShowOptionsCenter(false)">
          <img src="./assets/images/arrow-up.png" class="arrow" @click="setShowOptionsCenter(false)">
        </el-col>
      </el-row>
    </div>
    <el-row :class="{'menu-mobile': true, 'visible': showMenuMobile == true}" id="menu-mobile">
      <div class="block">
      <div class="div-icon">
        <router-link :to="{name: 'dashboard'}"><img src="./assets/images/mobile/house-icon.png" v-if="optionRight!=1" class="house-icon"></router-link>
        <img src="./assets/images/mobile/house-icon-selected.png" v-if="optionRight==1">
      </div>
      <div class="div-lupa">
        <router-link :to="{name: 'search', params: {section:'trending-local'}}"><img src="./assets/images/mobile/lupa-icon.png" v-if="optionRight!=2" class="house-icon"></router-link>
        <img src="./assets/images/mobile/lupa-icon-selected.png" v-if="optionRight==2">
      </div>
      <div class="div-foka" @click="goCreatePost">
      </div>
      <div class="div-lupa">
        <img src="./assets/images/mobile/campana-icon.png" class="house-icon" v-if="optionRight != 4" @click="goToNotification">
        <img src="./assets/images/mobile/campana-icon-selected.png" v-if="optionRight == 4">
      </div>
      <div class="div-profile">
        <img src="./assets/images/mobile/profile-icon.png" v-if="optionRight!=3" class="house-icon" @click="goToProfile">
        <img src="./assets/images/mobile/profile-icon-selected.png" v-if="optionRight==3">
      </div>
      </div>
    </el-row>
    <transition>
    <router-view/>
    </transition>
    <notifications classes='notify-report'/>
  </div>
</template>

<script>
  import './assets/sass/global.scss';
  import axios from 'axios';
  import {CONSTANTS} from './utils/Constants.js';
  import './assets/fontawesome/css/all.css';
  import { EventBus } from './utils/event-bus.js';
  import { mapState } from 'vuex';
  import {Circle2} from 'vue-loading-spinner';
  import InfiniteLoading from 'vue-infinite-loading';
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1860916427505950',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  export default {
    name: 'app',
    data: () => {
      return {
        option: null,
        // optionRight: null,
        active: null,
        showOptionsLeft: false,
        // showOptionsCenter: false,
        user: null,
        pageNotifications: 0,
        notifications: [],
        notificationIconSelected: false
      }
    },
    components: {
      Circle2,
      InfiniteLoading
    },
    computed: mapState([
      'optionRight',
      'showOptionsCenter',
      'showMenuMobile'
    ]),
    created: function(){
      // if(this.$store.getters.userLogued){
      //   this.loadMe();
      // }
    },
    mounted: function(){
      document.getElementById('foka-loader').style.display = 'none';
      // this.$store.commit('setShowOptionsCenter', false)
      if(this.$store.getters.userLogued){
        this.loadMe();
      }
    },
    methods: {
      logout: function(){
        this.$store.commit('setTokenSystem', null)
        this.$store.commit('setNickname', null)
        this.$store.commit('setUsername', null)
        this.$store.commit('setEmail', null)
        this.$store.commit('setGender', null)
        this.$store.commit('setAccessToken', null)
        location.href = '/';
      },
      login: function(){
        location.href = '/login'
      },
      setShowOptionsCenter: function(value){
        this.$store.commit('setShowOptionsCenter', value);
        if(value){
          document.getElementById('options-center').style.display ='flex';
        }
      },
      loadMe: function(){
        axios.get(CONSTANTS.API.ME, {
        })
        .then((response) => {
          this.user = response.data.user
          this.$store.commit('setUsername', this.user.username)
        })
      },
      selectedOption: function(value){
        this.option = value
      },
      loadNotifications: function($state){
        if(this.user){
          axios.get(CONSTANTS.API.NOTIFICATIONS)
          .then((response) => {
            this.notifications = response.data.list
            _.forEach(this.notifications, function(n){
              n['alias'] = n.url.slice(3)
            })
            $state.complete();
          });
        }
      },
      goToAction: function(){
        if(this.$store.getters.userLogued){
          this.notificationIconSelected = true
        } else {
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goToNotification: function(){
        if(this.$store.getters.userLogued){
          this.$router.push({name: 'notifications'})
        } else {
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goToProfile: function(){
        if(this.$store.getters.userLogued){
            this.$store.commit('setOptionRight', 3)
           this.$router.push({name:'profile', params: {username: this.user.username, section:'posts'}})
        } else {
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goCreatePost: function(){
        if(this.$store.getters.userLogued){
          this.$router.push({name:'create-post'})
        } else{
          this.$router.push({name: 'login', query: {next: this.$route.fullPath}})
        }
      },
      goToPost: function(alias, id){
        this.notificationIconSelected = false
        let formData = new FormData()
        formData.append('notification_id', id)
        formData.append('action', null)
        formData.append('action_object_id', 0)
        axios.post(CONSTANTS.API.MARKED_NOTIFICATION, formData)
        .then((response) => {
        });
        this.$router.push({name:'post', params: {alias: alias}});
      }
      // selectedOptionRight: function(value){
      //   this.optionRight = value
      //   EventBus.$emit('right-menu-clicked', this.optionRight);
      // }
    }
  }
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #BFBFBF;
    height: 100%;
    .notify-report{
      background: rgba(77, 205, 210, 0.7); 
      border-left: 5px solid #4dcdd2;
      padding: 10px 5px;
      color: white;
      &.error{
        background: rgba(247, 17, 17, 0.5);
        border-left: 5px solid red;
      }
      .notification-title{
        font-size: 16px;
        font-weight: 700;
      }
    }
    #content-app{
      position: fixed;
      z-index: 2000;
      width: 100%;
      top: 0;
      .div-notifications{
        background: url('./assets/images/div-notifications.png') no-repeat center center;
        position: absolute;
        height: 800px;
        width: 415px;
        right: 35px;
        padding: 155px 40px 130px 0;
        .block{
          position: relative;
          .arrow-right{
            position: absolute;
            left: 30px;
            top: calc(50% - 45px);
            cursor: pointer;
            z-index: 1;
          }
        }
        .content{
          height: 540px;
          overflow-y: auto;
          padding-left: 65px;
          position: relative;
          .notification{
            display: flex;
            margin-bottom: 30px;
            padding-right: 20px;
            .face{
              width: 49px;
              height: 49px;
              border-radius: 50%;
            }
            .default{
              font-size: 50px;
              color: #e7e7e7;
            }
            div{
              flex: 1;
              padding: 5px 0 0 20px;
              font-weight: 800;
              color: #dfdfdf;
              span{
                color: #00B7BF;
                opacity: 0.7;
                &.time{
                  color: #dfdfdf;
                  font-weight: 500;
                  font-size: 15px;
                }
                &.action{
                  color: #dfdfdf;
                  cursor: pointer;
                }
              }
              
            }
            .arrow{
              height: 12px;
              margin-top: 15px;
              z-index: 2;
            }
          }
        }
        .content::-webkit-scrollbar-track{
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
          box-shadow: inset 0 0 6px rgba(0,0,0,0);
        }
        .content::-webkit-scrollbar{
          width: 6px;
          background-color: rgba(0,0,0,0);
        }
        .content::-webkit-scrollbar-thumb{
          border-radius: 10px;
          background-color: rgba(13, 187, 194, 0.4);
        }
      }
    }
    .arrow{
      cursor: pointer !important;
    }
    .menu-left{
      background: url('./assets/images/image-left.png') no-repeat;
      height: 155px;
      width: 290px;
      background-size: cover;
      display: flex;
      z-index: 2;
      padding: 35px 27px;
      .user-image{
        position: relative;
        i{
          font-size: 48px;
          color: #e7e7e7;
        }
        .user{
          width: 48px;
        }
        .icon-check{
          position: absolute;
          bottom: 13px;
          left: 15px;
        }
      }
      .user-info{
        text-align: left;
        margin-left: 25px;
        margin-top: 7px;
        a{
          text-decoration: inherit;
          color: #33c5cc;
          &:hover{
            text-decoration: underline;
          }
        }
        .username{
          line-height: 15px;
          letter-spacing: -2px;
          color: #33c5cc;
          font-size: 25px;
          font-weight: bold;
        }
        &.default{
          margin-left: 8px;
          margin-top: 10px;
          .username{
            font-size: 22px;
          }
          .twitter{
            font-size: 14px;
          }
        }
      }
    }
    .options-left{
      background: url('./assets/images/image-left-options.png') no-repeat;
      height: 344px;
      position: absolute;
      width: 110px;
      z-index: 1;
      margin-top: -60px;
      padding: 60px 0 50px 10px;
      .div-icon{
        padding-top: 16px;
        border-radius: 40%;
        width: 65px;
        height: 55px;
        box-shadow: none;
        margin-bottom: 10px;
        img{
          cursor: pointer !important;
        }
        .galleta-icon:hover{
          content:url('./assets/images/galleta-icon-selected.png');
        }
        .heart-icon:hover{
          content:url('./assets/images/heart-icon-selected.png');
        }
        .vector-icon:hover{
          content:url('./assets/images/vector-icon-selected.png');
        }
        .ticket-icon:hover{
          content:url('./assets/images/ticket-icon-selected.png');
        }
      }
      .div-icon:last-child{
        padding-top: 11px; 
      }
      .div-icon.selected{
        box-shadow: -1px 0px 10px 5px rgba(0,183,191,0.16);
      }
    }
    .div-menu-center{
      display: flex;
      justify-content: center;
      .menu-center{
        background: url('./assets/images/image-center.png') no-repeat center center;
        height: 155px;
        background-size: cover;
        width: 330px;
        position: relative;
        padding: 35px 45px;
        .arrow{
          position: absolute;
          bottom: 55px;
          left: calc(50% - 14px);
        }
      }
    }
    .menu-right{
      background: url('./assets/images/image-right.png') no-repeat center center;
      height: 165px;
      width: 185px;
      padding: 35px 0;
      float: right;
      z-index: 2;
      img{
        position: absolute;
      }
      .foka{
        z-index: 2;
      }
      .arrow{
        z-index: 1;
        left: 39px;
        bottom: 40px;
        cursor: pointer !important;
      }
    }
    .options-right{
      background: url('./assets/images/image-right-options.png') no-repeat;
      height: 820px;
      position: absolute;
      width: 75px;
      padding: 260px 0 0 4px;
      z-index: 1;
      right: 0;
      margin-top: 10px; 
      &.house{
        background: url('./assets/images/image-right-options-house.png') no-repeat;
      }
      &.search{
        background: url('./assets/images/image-right-options-search.png') no-repeat;
      }
      &.notifications{
        background: url('./assets/images/image-right-options-notifications.png') no-repeat;
      }
      .div-icon{
        background: none;
        height: 70px;
        padding-top: 20px;
        padding-left: 14px;
        margin-left: 4px;
        img{
          cursor: pointer !important;
        }
        .house-icon:hover{
          content:url('./assets/images/house-icon-selected.png');
        }
        .lupa-icon:hover{
          content:url('./assets/images/lupa-icon-selected.png');
        }
        .campana-icon:hover{
          content:url('./assets/images/campana-icon-selected.png');
        }
      }
      .div-icon.selected{
        background: url('./assets/images/image-div-icon.png') no-repeat center center;
      }
      .div-icon:nth-child(1){
        margin-top: 8px;
      }
      .div-icon:nth-child(1),
      .div-icon:nth-child(3){
        padding-top: 17px;
      }
    }
    .menu-mobile{
      display: none;
    }
    .container-options-center{
      display:flex; 
      justify-content:center;
      .options-menu-center{
        background: url('./assets/images/image-center-options.png') no-repeat center center;
        height: 615px;
        z-index: 10001;
        position: fixed;
        top: 0;
        background-size: cover;
        width: 100%;
        max-width: 1550px;
        padding-top: 30px;
        .logo{
          width: 140px;
        }
        .items{
          margin-top: 50px;
          font-weight: 800;
          font-size: 28px;
          color: rgba(0,0,0, 0.1);
          .el-row{
            margin-bottom: 20px;
            span{
              cursor: pointer;
            }
            span:hover{
              color: #0dbbc2;
            }
            a{
              color: rgba(0, 0, 0, 0.1);
              text-decoration: inherit;
            }
          }
        }
        .div-arrow{
          margin-top: 100px;
        }
      }
    }
  }
  @media only screen and (max-width : 992px) {
    #app{
      #content-app{
        .div-menu-left{
          display: none;
        }
        .div-menu-center{
          width: 100%;
          &.page-search{
            display: none;
          }
          .menu-center{
            height: 130px;
            padding: 15px 45px;
             .arrow{
              bottom: 40px;
            }
          }
        }
        .div-menu-right{
          display: none;
        }
      }
      .container-options-center{
        .options-menu-center{
          background: url('./assets/images/mobile/image-center-options-mobile.png') no-repeat center center;
          background-size: cover;
          height: 440px;
          max-width: 410px;
          .items{
            margin-top: 10px;
            font-size: 18px;
          }
          .div-arrow{
            height: 30px;
            position: absolute;
            bottom: 12px;
            opacity: 0;
          }
        }
      }
      .menu-mobile.visible{
        position: fixed;
        bottom: 0;
        height: 70px;
        z-index: 4;
        width: 100%;
        display: block !important;
        &.page-post{
          display: none;
        }
        .block{
          width: 100%;
          margin-top: 15px;
          background: white;
          box-shadow: 0px 0px 15px rgba(51, 197, 204, 0.15);
          display: flex;
          justify-content: space-around;
          .div-icon{
            padding-top: 15px;
          }
          .div-lupa{
            padding-top: 16px;
            img{
              width: 24px;
            }
          }
          .div-profile{
            padding-top: 19px;
            img{
              width: 24px;
            }
          }
          .div-foka{
            background: url('./assets/images/mobile/la-foka.png');
            height: 70px;
            width: 87px;
            margin: -14px -9px 0 -10px;
          }
        }
        
      }
    }
  }
  @media only screen and (max-width : 480px) {
    #app{
      #content-app{
        .div-menu-center{
          width: 100%;
          .menu-center{
            width: 100%;
          }
        }
      }
    }
  }
</style>
