@import "~open-sans-fontface/open-sans.css";

body, html{
    height: 100%;
    font-family:"Open Sans";
}
.top-logo {
  margin-top: 30px; 
}
.form{
  a{
    text-decoration: none;
    cursor: pointer;
  }
  .form-item{
    margin-bottom: 20px;
    margin-top: 5px;
    color: #6cb9c3;
    font-size: 12px;
  }
  .error{
    text-align: left;
    margin: 0 15px;
  }
  input{
    border-radius: 25px;
    border: none;
    color: #BFBFBF;
    &:focus{
      box-shadow: 0px 3px 10px rgba(0, 183, 191, 0.15);
    }
  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none;
    user-select: none;
    &:hover, &:focus, &:active{
        user-select: none;
    }
    font-family:"Open Sans";
}